
/
  .noselect
    {{ getChallengeMonth() }}
    %span( style="color:#27c302;")
      {{getChallengeDuration(Date.now(),challenge.endTime)}} left
/
  %div
    %input(type="text" metro-typeahead on-selected="setOtherMetro()" name="metroName" ng-model="selectedMetro.name" placeholder="by Metro Area")

.row.hidden-xs(ng-if="true" style="" )

  .col-xs-6.button-bar-column()
    .row(style="padding-top:8px;")

      .col-xs-5
        
        .btn.button-bar-button(type="button" data-toggle="dropdown" style="text-align:center;") 
          {{battleDuration}}

        %ul.dropdown-menu.dropdown-options()
          %li(ng-click="setBattleDuration('Monthly')" )
            %a.primary(style="") Monthly
          %li(ng-click="setBattleDuration('Weekly')" )
            %a.primary(style="") Weekly
          %li(ng-click="setBattleDuration('Daily')" )
            %a.primary(style="") Daily
          %li(ng-click="setBattleDuration('Custom')" ng-if="hasCustom" )
            %a.primary(style="") Custom
          

      .col-xs-7
        .row.center-block
          .col-xs-2.btn.button-bar-button(ng-click="prevBattle()" style="padding-top:2px;text-align:center;padding-left:2px;padding-right:2px;padding-bottom:1px;")
            %i.fa.fa-caret-left.fa-2x()

          .col-xs-8(style="padding-top:6px;padding-left:0;padding-right:0;text-align:center;")

            .primaryz(ng-if="battleDuration == 'Daily'" style="text-align:center;")
              .battle-duration(style="text-align:center;")
                {{battleDay | date : "MMM d"}}

            .primary(ng-if="battleDuration != 'Daily'" style="text-align:center;")
              /.battle-duration(ng-if="battles.length == 0")
              /  {{battleDuration}} challenges not defined
              .battle-duration(ng-if="battles.length > 0" style="text-align:center;") 
                {{battles[battleIndex].duration_mobile}}

          .col-xs-2.btn.button-bar-button(ng-click="nextBattle()" style="padding-top:2px;text-align:center;padding-left:2px;padding-right:2px;padding-bottom:1px;")
            %i.fa.fa-caret-right.fa-2x()
          

  .col-xs-3.button-bar-column(style="padding-left:5px;padding-right:5px;")
    .button-bar-section
      .btn.button-bar-button(type="button" data-toggle="dropdown")
        {{board_name}}

      %ul.dropdown-menu()
        //%li(ng-if="office.ph == false || !user.norm" )
        %li()      
          %a.primary(ng-click="setBoard('people')" ng-class="{active: board == 'people'}" style="")
            {{people_name}}
        %li
          %a.primary(ng-if="group =='office' || group == 'league'"  ng-click="setBoard('factions')" ng-class="{active: board == 'factions' || board == 'teams' }" style="" ng-hide="!office.onPlan" )
            Teams
        %li
          %a.primary(ng-if="group=='league' || group=='world'|| group=='metro'" ng-click="setBoard('groups')" ng-class="{active: board == 'groups'}" style="" )
            {{groups_name}}
        %li
          %a.primary(ng-if="group=='world'" ng-click="setBoard('metros')" ng-class="{active: board == 'metros'}" style="")
            Metros

  .col-xs-3.button-bar-column()
    .button-bar-section
      .btn.button-bar-button(type="button" data-toggle="dropdown" style="")
        {{boardViewName}} 

      %ul.dropdown-menu.dropdown-options(ng-if="board != 'metros'")
        %li
          %a.primary(ng-if="board != 'group'" href="" ng-click="setView('avg', 'Average','avg')" change-parent-text target="scoreType" style="")
            Average 
        %li
          %a.primary(ng-if="board != 'metros' && board != 'group' " href="" ng-click="setView('hi', 'Best Day','Best')" change-parent-text target="scoreType" style="")
            Best Day
        %li
          %a.primary(ng-if="path == '/team' && board != 'group'" href="" ng-click="setView('imp', '% Change','%chg')" change-parent-text target="scoreType" style="")
            \% Change
        %li
          %a.primary(href="" ng-click="setView('sum', 'Total','Tot')" change-parent-text target="scoreType" style="")
            Total


            
  // THIS IS THE MOBILE VIEWS 
.row.hidden-sm.hidden-md.hidden-lg( style="margin:0px;")
  
  .col-xs-7.button-bar-column()
    
    .button-bar-section.center-block(style="")
      .btn.button-bar-button(ng-click="prevBattle()" style="")
        .primary
          %i.fa.fa-caret-left.fa-lg( )
          /.carot.left(ng-if="!otherGroup"  )
    
      .btn.button-bar-button(style="width:110px;padding-left:4px;padding-right:4px;")    

        .primary(ng-if="battleDuration != 'Daily'" data-toggle="dropdown" )
          /.battle-duration(ng-if="battles.length == 0")
          /  {{battleDuration}} challenges not defined
          .battle-duration(ng-if="battles.length > 0") 
            {{battles[battleIndex].duration_mobile}}

          .battle-duration(ng-if="battles.length == 0") 
            \...
            /%span.caret-container
            /  .caret.caret-button-bar

        .primary(ng-if="battleDuration == 'Daily'" data-toggle="dropdown" )
          .battle-duration
            {{battleDay | date : "MMM"}} {{getOrdinal()}}
            /%span.caret-container
            /  .caret.caret-button-bar

        %ul.dropdown-menu.dropdown-options(ng-if="path == '/team'")
          %li(ng-click="setBattleDuration('Monthly')" )
            %a.primary(style="") Monthly
          %li(ng-click="setBattleDuration('Weekly')" )
            %a.primary(style="") Weekly
          %li(ng-click="setBattleDuration('Daily')" )
            %a.primary(style="") Daily
          %li(ng-click="setBattleDuration('Custom')" ng-if="hasCustom" )
            %a.primary(style="") Custom

      .btn.button-bar-button( ng-click="nextBattle()" style="")
        %i.fa.fa-caret-right.fa-lg( )
        /.carot.right(ng-if="!otherGroup" )

  .col-xs-5.button-bar-column( style="padding-left:0px;padding-right:0px;")

    .button-bar-section(style="display:inline-block;")
      .btn.button-bar-button(type="button" data-toggle="dropdown" style="padding-left:8px;padding-right:8px;" )
        {{board_name}}
        /%span.caret-container
        /  .caret.caret-button-bar
      %ul.dropdown-menu.dropdown-options( )
        %li()
          %a.primary(ng-click="setBoard('people')" ng-class="{active: board == 'people'}" style="")
            {{people_name}}
        %li
          %a.primary(ng-if="group =='office' || group == 'league'"  ng-click="setBoard('teams')" ng-class="{active: board == 'factions' || board == 'teams' }" style="" ng-hide="!office.onPlan" )
            Teams
        %li
          %a.primary(ng-if="group=='league' || group=='world'|| group=='metro'" ng-click="setBoard('groups')" ng-class="{active: board == 'groups'}" style="" )
            {{groups_name}}
        %li
          %a.primary(ng-if="group=='world'" ng-click="setBoard('metros')" ng-class="{active: board == 'metros'}" style="")
            Metros
          
    .button-bar-section(style="display:inline-block;")
      .btn.button-bar-button(type="button" data-toggle="dropdown" style="padding-left:8px;padding-right:8px;")
        {{boardViewNameMini}}
        /%span.caret-container(ng-if="board != 'metros'")
        /  .caret.caret-button-bar
      %ul.dropdown-menu.dropdown-options(ng-if="board != 'metros'")
        %li
          %a.primary(href="" ng-click="setView('avg', 'Average', 'avg')" change-parent-text target="scoreType" style="")
            Avg 
        %li
          %a.primary(ng-if="board != 'metros' && board != 'groups' " href="" ng-click="setView('hi', 'Best Day', 'best')" change-parent-text target="scoreType" style="")
            Best
        %li
          %a.primary(ng-if="path == '/team'" href="" ng-click="setView('imp', 'Most Improved', 'CHG')" change-parent-text target="scoreType" style="")
            Chg
        %li
          %a.primary(href="" ng-click="setView('sum', 'Total', 'TOT')" change-parent-text target="scoreType" style="")
            Tot


