.pro{:style => "margin-top: -50px;"}
  .section3{:style => "color:black; background:#fff;"}
    .row
      .col-md-12
        .row
          .col-md-12
            %h1 How Rewards Work
            %p Count It converts all daily activity into a simple Count It score. With a few clicks, you can set Count It score goals for your group, and choose your rewards.
            .row
              .col-md-12.features
                .row
                  .col-md-2
                    .feature
                      .feature-icon
                        %img(src="/images/landing/cards.jpg")
                  .col-md-10
                    %p
                      %strong
                        Individual Rewards:
                      Each person who achieves the monthly individual goal earns a gift card from Amazon, Chipotle, or other supported vendor. You set the budget and choose the prize, we do the rest. More fair, more effective, and far easier to implement than a conventional gym reimbursement program.
                .row
                  .col-md-2
                    .feature
                      .feature-icon
                        %img(src="/images/landing/ribbon.jpg")
                  .col-md-10
                    %p
                      %strong
                        Group Rewards:
                      One for all, and all for one. When the group hits the goal, everyone wins. Create your own group prize, or pledge a donation to charity on behalf of the group. Count It makes this one-click easy — we connect to every U.S. non-profit. Give a little, and watch the world pay your group back in the form of higher productivity, lower absenteeism, and more committed people.
 
  .section4{:style => "padding-top: 1px;"}
    .row

      .col-md-12
        .row
          .col-md-12
            %h1 All The Other Good Stuff
            %div{:style => "height: 25px;"}
            .features
              .row.feature-row
                .col-lg-3.col-md-4
                  .feature
                    .feature-icon
                      %img(src="/images/landing/people.png")
                .col-lg-9.col-md-8
                  %h1 DIY Teams
                  %p
                    When you go PRO, you can set up internal teams for your departments or divisions, e.g. sales, marketing, human resources, or IT. Settle the score once and for all: Which department rules?
              .row.feature-row
                .col-lg-3.col-md-4
                  .feature
                    .feature-icon
                      %img(src="/images/landing/bars.png")
                .col-lg-9.col-md-8
                  %h1  Friendly Reports
                  %p
                    Manage your group's membership, and track your group's progress from day to day, or month to month. Get real time feedback on the efficacy of the program.
              .row.feature-row
                .col-lg-3.col-md-4
                  .feature
                    .feature-icon
                      %img(src="/images/landing/tech.png")
                .col-lg-9.col-md-8
                  %h1 Discounts on Trackers!
                  %p
                    Count It offers all PRO clients significant discounts on bulk orders of top wearable tracking devices from our partners, including Misfit Wearables and Fitbit. Let us hook you up!


  