

.hidden-md.hidden-lg
  .row(style="margin-top: 15px;")

    .col-md-12.col-sm-4.col-xs-4
      .dropdown.dropdown-group
        %a.btn.btn-default.btn-dropdown(ng-class="{'active': path == '/me/settings'}" href="#/me/settings")
          Profile

    .col-md-12.col-sm-4.col-xs-4
      .dropdown.dropdown-group
        %a.btn.btn-default.btn-dropdown(ng-class="{'active': path == '/me/trackers'}"  href="#/me/trackers")
          Trackers

    .col-md-12.col-sm-4.col-xs-4
      .dropdown.dropdown-group
        %a.btn.btn-default.btn-dropdown(ng-class="{'active': path == '/me/teams'}"  href="#/me/teams")
          Teams

    /
      .col-md-12.col-sm-4.col-xs-4
        .dropdown.dropdown-group
          %a.btn.btn-default.btn-dropdown(ng-class="{'active': path == '/me/notifications'}" href="#/me/notifications")
            Notifications           

.hidden-xs.hidden-sm()

  .row(style="margin-top: 15px;")

    %ul.list-group.nav-group
      %a.list-group-item(ng-class="{'active': path == '/me/settings'}" href="#/me/settings")
        %i.fa.fa-dot-circle-o
        Profile

    %ul.list-group.nav-group
      %a.list-group-item(ng-class="{'active': path == '/me/trackers'}"  href="#/me/trackers")
        %i.fa.fa-dot-circle-o
        Trackers

    %ul.list-group.nav-group
      %a.list-group-item(ng-class="{'active': path == '/me/teams'}"  href="#/me/teams")
        %i.fa.fa-dot-circle-o
        Teams

    %ul.list-group.nav-group
      %a.list-group-item(ng-class="{'active': path == '/me/notifications'}" href="#/me/notifications")
        %i.fa.fa-dot-circle-o
        Notifications     