.reward(style="text-align:center;")
  .numberCircle(style="border-color:$primaryColor; font-family: $secondaryPageFont;")
    .height_fix
    .score(ng-if="metro.sl != 'us-new-york-northern-new-jersey-long-island-ny-nj-ct-pa-metro'" style="color:$primaryColor; font-size: 40px;") 
      %i.fa.fa-usd
    .score.hidden-xs(ng-if="metro.sl == 'us-new-york-northern-new-jersey-long-island-ny-nj-ct-pa-metro'" style="color:$primaryColor; font-size: 40px; padding-top: 10px;") NYC
    .score.hidden-lg.hidden-md.hidden-sm(ng-if="metro.sl == 'us-new-york-northern-new-jersey-long-island-ny-nj-ct-pa-metro'" style="color:$primaryColor; font-size: 35px; padding-top: 10px;") NYC
    .title
      {{ getChallengeMonth() }}

  .reward_title
    Top Prize

  .desc
    %p
      The winning team is going to Zumba class!
      %br
      Your office will never be the same.

  .reward_title
    Save the World

  .desc
    %p
      $10 goes to chartiy for every registered team 
      %br
      with ten active members.

  //%br
  //.desc
  //  sponsored by
  //%a{:href => "http://zclubny.com/"}
  //  %img.img-responsive{:src => "./images/sponsor-zclubny.png", :height => 125, :width => 125}

  %hr

  .reward_title
    Be a Sponsor!
    
  .desc(style="text-align:center;")
    %p
      Want to be a hero, and help get people moving?

  .desc(style="text-align:center; margin-top:15px;")
    %a.btn.btn-ci.btn-primary.green(ng-href="mailto:info@countit.com?Subject=Sponsoring My City!")
      Click Here