
	
.no-sitting(ng-if="hours")
  %img.no-sit(src="/images/no-sitting.jpg" ng-if="!hoursWorld")
  %img.no-sit(src="/images/no-sitting.png" ng-if="hoursWorld")
  .tick-wrap.clearfix(tick)
    %p.tick.tick-flip
      {{hours}}
     
  %p.no-sitting-info(ng-if="!hoursWorld")
    Total Hours Not Spent Sitting
  %p.no-sitting-info(ng-if="hoursWorld")
    Hours in Motion
            