
.settings_pane

  %h1 Update Your Profile

  %div(style="padding:0px;")
    .row
      .col-xs-4
        Name
      .col-xs-8
        {{user.f}} {{user.n}}
        %span(ng-show="user.admin") (System Admin)
        %span(ng-show="user.boss") (Captain-Admin)
        %span(ng-show="user.manager") (Captain)
  
    .row
      .col-xs-4
        Group:
      .col-xs-8
        {{user.of.n}}
      
    .row
      .col-xs-4
        Email:
        %span.label.label-info(ng-show="user.emailValid")
          %i.fa.fa-check verified
      .col-xs-8
        {{user.e}}
        %button.btn.btn-ci.btn-info.btn-sm(ng-hide="user.emailValid" ng-click="sendEmailConfirmation()") Verify Email
        %p.alert.alert-success(ng-show="confirmResult")
          {{confirmResult}}

    .row
      .col-xs-4
        Password:
      .col-xs-8
        .btn Reset Password
      
    .row.last
      .col-xs-4
        LinkedIn:
      .col-xs-8
        .btn(ng-click="reloadAccount()" analytics-on analytics-category="button" analytics-event="reload account")  Reload LinkedIn Profile Info

