
.reward-horizontal(ng-if="!team && !office.onPlan")
  %p
    This group does not offer rewards to its members

.reward-horizontal(ng-if="!team && office.onPlan")
  %p
    This group offers rewards to it's team members.


.reward-horizontal(ng-if="rewards.length == 0"  )

  %p 
    No Goal
    
  %p
    Competition is a great motivator.
    
  %p
    So is cash!

  .btn.btn-ci.btn-primary.green(ng-click="go('/boss/challenges')" style="margin-top15px;" )
    Set Up Rewards  



.reward-horizontal(ng-if="reward=='indi'")
  .row
    .col-md-4.col-sm-3.col-xs-3.goal(ng-if="office.prize.igt == 'score' || office.prize.igt == undefined ")
      .score {{office.prize.is}}
      .title Score

    .col-md-4.col-sm-3.col-xs-3.goal(ng-if="office.prize.igt == 'rank'")
      .score(ng-if="office.prize.is == 1") 1
      .score(ng-if="office.prize.is == 10") 3
      .score(ng-if="office.prize.is == 20") 10
      .title(ng-if="office.prize.is == 1") Top
      .title(ng-if="office.prize.is == 10") Top
      .title(ng-if="office.prize.is == 20") Top %
    
    .col-md-5.col-sm-6.col-xs-6.detail
      .title
        Your Reward
      .desc(ng-if="office.prize.io=='amazon'")
        ${{office.prize.indiAmt}} Amazon Gift Card
      .desc(ng-if="office.prize.io=='chipotle'")
        ${{office.prize.indiAmt}} Chipotle Gift Card

      .desc(ng-if="office.prize.io=='starbucks'")
        ${{office.prize.indiAmt}} Starbucks Gift Card
      .desc(ng-if="office.prize.io=='fandango'")
        ${{office.prize.indiAmt}} Fandango Gift Card
      .desc(ng-if="office.prize.io=='lululemon'")
        ${{office.prize.indiAmt}} Lululemon Gift Card
      .desc(ng-if="office.prize.io=='classpass'")
        ${{office.prize.indiAmt}} ClassPass Gift Card
      .desc(ng-if="office.prize.io=='wholefoods'")
        ${{office.prize.indiAmt}} Whole Foods Gift Card

      .desc(ng-if="office.prize.io=='fillin'")
        {{office.prize.if}} 
      .desc(ng-if="office.prize.io=='cash'")
        ${{office.prize.indiAmt}} Cash Prize 
    
    .col-md-3.col-sm-3.col-xs-3.outlook
      .title
        Outlook
      .desc
        {{getOutlook(office.indiPrizeOutlook)}}
  %hr

.reward-horizontal(ng-if="reward=='team'" )
  .row
    .col-md-4.col-sm-3.col-xs-3.goal(ng-if="office.prize.tgt == 'score'")
      .score {{office.prize.ts}}
      .title Score

    .col-md-4.col-sm-3.col-xs-3.goal(ng-if="office.prize.tgt == 'rank'")
      .score(ng-if="office.prize.ts == 1") 1
      .score(ng-if="office.prize.ts == 10") 3
      .score(ng-if="office.prize.ts == 20") 10%
      .title Top

    .col-md-5.col-sm-6.col-xs-6.detail
      .title
        Team Reward
      .desc
        {{office.prize.tt}}

    .col-md-3.col-sm-3.col-xs-3.outlook
      .title
        Outlook
      .desc
        Not available 
  %hr


.reward-horizontal(ng-if="reward=='group'" )
  .row
    .col-md-4.col-sm-3.col-xs-3.goal
      .score {{office.prize.gs}}
      .title Score

    .col-md-5.col-sm-6.col-xs-6.detail
      .reward_title()
        Office Reward
      .desc
        {{office.prize.gt}}
      
    .col-md-3.col-sm-3.col-xs-3.outlook
      .reward_title()
        Outlook
      .desc
        {{getOutlook(office.groupPrizeOutlook)}}
  %hr

.reward-horizontal(ng-if="reward=='benefits'")

  .row
    .col-md-4.col-sm-3.col-xs-3.goal
      .score {{office.prize.bs}}
      .title Score
    
    .col-md-5.col-sm-6.col-xs-6.detail
      .title
        Your Reward
      .desc(ng-if="office.prize.bo=='amazon'")
        ${{office.prize.benefitsAmt}} Amazon Gift Card
      .desc(ng-if="office.prize.bo=='chipotle'")
        ${{office.prize.benefitsAmt}} Chipotle Gift Card
      .desc(ng-if="office.prize.bo=='starbucks'")
        ${{office.prize.benefitsAmt}} Starbucks Gift Card
      .desc(ng-if="office.prize.bo=='fandango'")
        ${{office.prize.benefitsAmt}} Fandango Gift Card
      .desc(ng-if="office.prize.bo=='Lululemon'")
        ${{office.prize.benefitsAmt}} Lululemon Gift Card
      .desc(ng-if="office.prize.bo=='classpass'")
        ${{office.prize.benefitsAmt}} ClassPass Gift Card
      .desc(ng-if="office.prize.bo=='wholefoods'")
        ${{office.prize.benefitsAmt}} Whole Foods Market Gift Card

      .desc(ng-if="office.prize.bo=='fillin'")
        {{office.prize.bf}} 
      .desc(ng-if="office.prize.bo=='cash'")
        ${{office.prize.benefitsAmt}} Cash Prize 

    .col-md-3.col-sm-3.col-xs-3.outlook
      .title
        Outlook
      .desc
        Not available 
  %hr
