
.reward(ng-if="!team && !office.onPlan")
  
  /
    .reward_title()
      No Rewards 
  .desc(style="text-align:center;")
    %p
      This group 
    %p
      does not 
    %p
      offer rewards to it's team members.

.reward(ng-if="!team && office.onPlan")
  
  /
    .reward_title()
      Rewards 
  .desc(style="text-align:center;")
    This group offers rewards to it's team members.


.reward(ng-if="rewards.length == 0"  )

  .numberCircle(style="border-color:#9fa0a2; font-family: $secondaryPageFont;")
    .height_fix
    .score(style="color:#9fa0a2;") !
    .title(style="color:#9fa0a2;") No Goal
    
  .desc(style="text-align:center; margin-top:15px;")
    Competition is a great motivator.
    
  .reward_title 
    So is cash!

  .btn.btn-ci.btn-primary.green(ng-click="go('/boss/challenges')" style="margin-top:15px;" )
    Set Up Rewards  



.reward(ng-if="currentReward=='indi'")

  %div(ng-if="office.prize.igt == 'score' || office.prize.igt == undefined ")
    .numberCircle
      .height_fix
      .score {{office.prize.is}}
      .title Score

  %div(ng-if="office.prize.igt == 'rank'")
    .numberCircle
      .height_fix
      .score(ng-if="office.prize.is == 1") 1
      .score(ng-if="office.prize.is == 10") 3
      .score(ng-if="office.prize.is == 20") 10
      .title(ng-if="office.prize.is == 1") Top
      .title(ng-if="office.prize.is == 10") Top
      .title(ng-if="office.prize.is == 20") Top %
  
  .reward_title()
    Your Reward:
  .desc(ng-if="office.prize.io=='amazon'")
    ${{office.prize.indiAmt}} Amazon Gift Card
  .desc(ng-if="office.prize.io=='chipotle'")
    ${{office.prize.indiAmt}} Chipotle Gift Card

  .desc(ng-if="office.prize.io=='starbucks'")
    ${{office.prize.indiAmt}} Starbucks Gift Card
  .desc(ng-if="office.prize.io=='fandango'")
    ${{office.prize.indiAmt}} Fandango Gift Card
  .desc(ng-if="office.prize.io=='lululemon'")
    ${{office.prize.indiAmt}} Lululemon Gift Card
  .desc(ng-if="office.prize.io=='classpass'")
    ${{office.prize.indiAmt}} ClassPass Gift Card
  .desc(ng-if="office.prize.io=='wholefoods'")
    ${{office.prize.indiAmt}} Whole Foods Gift Card

  .desc(ng-if="office.prize.io=='fillin'")
    {{office.prize.if}} 
  .desc(ng-if="office.prize.io=='cash'")
    ${{office.prize.indiAmt}} Cash Prize 
    
  .reward_title()
    Outlook:
  .desc
    {{getOutlook(office.indiPrizeOutlook)}}

.reward(ng-if="currentReward=='team'" )
  %div(ng-if="office.prize.tgt == 'score'")
    .numberCircle
      .height_fix
      .score {{office.prize.ts}}
      .title Score

  %div(ng-if="office.prize.tgt == 'rank'")
    .numberCircle
      .height_fix
      .score(ng-if="office.prize.ts == 1") 1
      .score(ng-if="office.prize.ts == 10") 3
      .score(ng-if="office.prize.ts == 20") 10%
      .title Top

  .reward_title()
    Team Reward:
  .desc
    {{office.prize.tt}} 


.reward(ng-if="currentReward=='group'" )
  .numberCircle
    .height_fix
    .score {{office.prize.gs}}
    .title Score

  .reward_title()
    Office Reward:
  .desc
    {{office.prize.gt}}
    
  .reward_title()
    Outlook:
  .desc
    {{getOutlook(office.groupPrizeOutlook)}}

.reward(ng-if="currentReward=='benefits'")

  %div()
    .numberCircle
      .height_fix
      .score {{office.prize.bs}}
      .title Score
  
  .reward_title()
    Your Reward:
  .desc(ng-if="office.prize.bo=='amazon'")
    ${{office.prize.benefitsAmt}} Amazon Gift Card
  .desc(ng-if="office.prize.bo=='chipotle'")
    ${{office.prize.benefitsAmt}} Chipotle Gift Card
  .desc(ng-if="office.prize.bo=='starbucks'")
    ${{office.prize.benefitsAmt}} Starbucks Gift Card
  .desc(ng-if="office.prize.bo=='fandango'")
    ${{office.prize.benefitsAmt}} Fandango Gift Card
  .desc(ng-if="office.prize.bo=='Lululemon'")
    ${{office.prize.benefitsAmt}} Lululemon Gift Card
  .desc(ng-if="office.prize.bo=='classpass'")
    ${{office.prize.benefitsAmt}} ClassPass Gift Card
  .desc(ng-if="office.prize.bo=='wholefoods'")
    ${{office.prize.benefitsAmt}} Whole Foods Market Gift Card

  .desc(ng-if="office.prize.bo=='fillin'")
    {{office.prize.bf}} 
  .desc(ng-if="office.prize.bo=='cash'")
    ${{office.prize.benefitsAmt}} Cash Prize 
