
.hidden-xs.hidden-sm(ng-if="!otherGroup" style="" )
  .row
    .col-xs-12

      %ul.list-group.nav-group
      
        .list-group-item(href="")
          Joined {{user.of.joined  | date : "MMM yy"}} 
          /%span.marker.pull-right
          /  %i.fa.fa-dot-circle-o

        %a.list-group-item(href="#/metro/{{user.of.msl}}" ng-class="{active: path.substring(0,6) == '/metro'}" )
          %i.fa.fa-map-marker
          {{user.of.msa}}
          /%span.marker.pull-right
          /  %i.fa.fa-dot-circle-o
      
        %a.list-group-item(ng-repeat="league in user.of.leagues" href="" ng-click="go('/league/' + league.s)" ng-class="{active: path.substring(0,7) == '/league'}" )
          %i.fa.fa-star
          {{league.m}}
          /%span.marker.pull-right
          /  %i.fa.fa-dot-circle-o



.hidden-xs.hidden-sm(ng-if="otherGroup"  )
  .row
    .col-xs-12

      %ul.list-group.nav-group
      
        .list-group-item(href="" )
          Joined {{office.joined  | date : "MMM yy"}}
          /%span.marker.pull-right
          /  %i.fa.fa-dot-circle-o

        %a.list-group-item(href="#/metro/{{office.msaSlug}}" ng-class="{active: path.substring(0,6) == '/metro'}" )
          %i.fa.fa-map-marker
          {{office.msaName}}
          /%span.marker.pull-right
          /  %i.fa.fa-dot-circle-o
          
        %a.list-group-item(ng-repeat="league in office.lgs" href="" ng-click="go('/league/' + league.s)" ng-class="{active: path.substring(0,7) == '/league'}" )
          %i.fa.fa-star
          {{league.m}}



