.ticker
  .row
    .col-md-12
      %h1(ng-if="msa.display")
        {{pageTitle}}
      %h1(ng-if="!msa.display")
        {{pageTitle}}
  .row.animated.fadeIn(ng-if="challengeNav.isRunningNow(challenge)" ticker)
    .col-md-3.col-sm-4.col-xs-12
      .ticker-lbl
        Month:
      .relative(ng-if="honors.length > 0 && challenge && challengeSelect")
        .select
          %select.form-control(ng-model="challengeNav.updateNav" ng-options="spec.index as spec.name for spec in challengeNav.challenges")
      .ticker-info(ng-if="!honors || honors.length == 0 || !challengeSelect")
        {{getMonthName()}}
    .col-md-3.col-sm-6.col-xs-6.hidden-xs
      .ticker-lbl
        Focus:
      .ticker-info
        {{challenge.desc}}
    .col-md-3.col-sm-6.col-xs-12
      .ticker-lbl
        Time Left:
      .ticker-info
        %timer(end-time="getChallengeEndTime(challenge.endTime)")
          {{ddays}} D : {{hhours}} H : {{mminutes}} M : {{sseconds}} S
    .col-md-3.col-sm-6.col-xs-6.hidden-xs.right
      %a.btn-ci.btn.btn-default.invite(ng-if="(user && team) || (user && kind == 'metro')" ng-href="#/settings/invite?back=team")
        + Invite Co-Workers
      .btn.btn-ci.btn-default.btn-battle(ng-click="faceoffRequest()" ng-hide="battle.requestSent || battle.battling" ng-if="user && !team && kind == 'team'")
        %i.icon.ci-battle
        Battle this Team!
      .btn.btn-ci.btn-default.btn-battle-sent(ng-show="battle.requestSent")
        %i.icon.ci-battle
        Battle Request Sent

  .row(ng-if="challengeNav.isComingUp(challenge)" ticker)
    .col-md-3.col-sm-4.col-xs-12
      .ticker-lbl
        Month:
      .relative(ng-if="honors && (honors.length > 0) && challenge && challengeSelect")
        .select
          %select.form-control(ng-model="challengeNav.updateNav" ng-options="spec.index as spec.name for spec in challengeNav.challenges")
      .ticker-info(ng-if="!(honors && (honors.length > 0) && challenge && challengeSelect)")
        {{challengeNav.selectedChallengeName()}}

    .col-md-3.col-sm-6.hidden-xs
      .ticker-lbl
        Focus:
      .ticker-info
        {{challenge.desc}}
    .col-md-3.col-sm-6.col-xs-12
      .ticker-lbl
        Starts In:
      .ticker-info
        %timer(end-time="getNextChallengeTime(challenge.startTime)")
          {{ddays}} D : {{hhours}} H : {{mminutes}} M : {{sseconds}} S
    .col-md-3.col-sm-6(ng-if="false")
      .ticker-lbl
        Start Date:
      .ticker-info
        {{challenge.startDate|date:'MMMM d'}}
    .col-md-3.col-sm-6.hidden-xs.right
      %a.btn-ci.btn.btn-default.invite(ng-if="user && team" ng-href="#/me/invite?back=team")
        + Invite Co-Workers
      .btn.btn-ci.btn-default.btn-battle(ng-click="faceoffRequest()" ng-hide="battle.requestSent || battle.battling" ng-if="user && !team && kind == 'team'")
        %i.icon.ci-battle
        Battle this Group!
      .btn.btn-ci.btn-default.btn-battle-sent(ng-show="battle.requestSent")
        %i.icon.ci-battle
        Battle Request Sent

  .row(ng-if="challengeNav.isPast()" ticker)
    .col-md-3.col-sm-4.col-xs-12(ng-if="challengeSelect")
      .ticker-lbl
        Month:
      .relative(ng-if="honors.length > 0 && challenge")
        .select
          %select.form-control(ng-model="challengeNav.updateNav" ng-options="spec.index as spec.name for spec in challengeNav.challenges")
      .ticker-info(ng-if="!honors")
        {{getMonthName()}}
    .col-md-3.col-sm-6.hidden-xs
      .ticker-lbl
        Focus:
      .ticker-info
        {{challengeNav.previous.desc}}
    .col-md-3.col-sm-6.col-xs-12()
      .ticker-lbl
        Ended:
      .ticker-info
        {{challengeNav.previous.endDate|date}}

  .row
    .col-md-12
      .seper
