.trash-talk.boxy
  .section-title.small
    Talk Trash
  .trash-talker

    %form(role="form" ng-submit="talkTrash()")
      %input#talk(name="talk" ng-model="talk" placeholder="type here" type="text")
      .trash-line.animated.fadeIn(ng-repeat="chat in chats | orderBy: 'ts':true")
        %span.username
          {{chat.uname}}:
        %span.message
          {{chat.msg}}
        .time
          {{chat.ts | chatTime}}