.row
  .col-xs-3.col-3-md.button-bar-column.button-first-item
    .button-bar-section

      %a.btn.button-bar-button(ng-href="#/user/{{pageUser.nt}}/stats" style="")
        Stats

  .col-xs-3.button-bar-column(ng-if="((user.bossman || user.manager) && sameCompany == true && pageUser.asl) || user.admin || user.league_mgr" )
    .button-bar-section

      %a.btn.button-bar-button(ng-href="#/user/{{pageUser.nt}}/log" style="")
        Log

  .col-xs-3.button-bar-column()
    .button-bar-section

      .btn.button-bar-button(ng-if="!pollAllowed")
        %i.fa.fa-refresh(ng-class="{'fa-spin': !pollAllowed}")

