%div(ng-if="team")
  %h3.banner-callout-title.orange
    Get in the game!
  %p
    Great bonds are forged in the heat of the battle.  To start a battle, simply click the "Battle" button on any other group's page.  If they accept your challenge, it's on.

%div(ng-if="!team")
  %h3.banner-callout-title.orange
    Challenge This Group!
  %p
    This group is not competing in any battles.
