%h3.banner-callout-title.green
  Per Unitatem Vis!

.battles(ng-if="battlesWinning.length > 0")
  .battle-text
    {{team ? 'You are' : 'This office is' }} winning these battles:
  .row.in-battles
    .col-sm-4(ng-repeat="battle in battlesWinning")
      .battle.content-box.point(ng-click="goToOffice(battle.slug)")
        .diff.big-text
          {{battle.diffString}}
        .vs.small-text
          vs. {{battle.vs}}

.battles(ng-if="battlesLosing.length > 0")
  .battle-text
    {{team ? 'You are' : 'This office is' }} losing these battles:
  .row.in-battles
    .col-sm-4(ng-repeat="battle in battlesLosing")
      .battle.content-box.point(ng-click="goToOffice(battle.slug)")
        .diff.big-text
          {{battle.diffString}}
        .vs.small-text
          vs. {{battle.vs}}

