.metro-sponsor-info
  .animated.fadeIn(ng-if="more")
    -# "MORE" view
    .row(ng-show="prize.d")
      .col-sm-12
        %p {{ prize.d }}
    .row(ng-show="prize.t > 0")
      .col-sm-8
        %strong Team Goal:
    .row.metro-stats(ng-show="prize.t > 0")
      .col-sm-4
        .content-box
          .big-text
            {{prize.t}}
          .small-text
            Target Count It Score


    .row(ng-show="prize.ci")
      .col-sm-8
        %strong Cause of the Month:
        
    .row.metro-stats(ng-show="prize.ci")
      .col-sm-4
        .content-box
          %img.card-logo(ng-src="{{prize.ci}}")
         
      .col-sm-8
        .content-box.left
          %p {{prize.rd}}



    .row(ng-show="prize.t > 0")
      .col-sm-8
        %strong Top Group Prize:

    .row.metro-stats(ng-show="prize.t > 0")
      .col-sm-4
        .content-box
          %img.card-logo(ng-src="{{prize.i}}")
         
      .col-sm-8
        .content-box.left
          %p {{prize.md}}



    .row(ng-show="prize.s")
      .col-sm-8
        %strong Our Proud Metro Sponsors
    .row.metro-stats
      .col-sm-4(ng-repeat="url in prize.s")
        .content-box
          %img.card-logo(ng-src="{{url}}")



  -# "LESS" view
  .animated.fadeIn(ng-if="!more")
    .row
      .col-sm-12
        %strong Live metro area stats:

    .row.metro-stats
      .col-sm-4
        .content-box
          .big-text
            {{poolSize}}
          .small-text
            Companies
      .col-sm-4
        .content-box
          .big-text
            {{metro.score}}
          .small-text
            Avg. Count It Score
      .col-sm-4
        .content-box
          %a(ng-href="#/world")
            .big-text
              {{metro.rankOrd}}
            .small-text
              Metro Rank (USA)

