%h3.banner-callout-title.orange
  Get in the game!

%p
  We dare you to battle one of these teams...

.row.battle-suggestions
  .col-sm-4(ng-repeat="suggestion in office.faceoffSuggestions")
    .suggestion.content-box.point(ng-click="goToOffice(suggestion.slug)")
      .name
        {{suggestion.name}}
      .battle-text
        + Battle

