%h3.banner-callout-title.orange
  Are you the Boss?  Turbo boost your office!

.row.sponsor-info
  .col-sm-4
    %strong 1.  Pick a Goal
    .content-box
      %img.arrow(ng-src="/images/arrow-gray.jpg")
      .small-text  Count It Score Goal
  .col-sm-4
    %strong 2.  Pick a Budget
    .content-box
      .big-text $
      .small-text  Prize
  .col-sm-4
    %strong 3.  Pick a Reward
    .content-box
      .big-text
        %i.icon.ci-ribbon
      .small-text  Lunch or Charity

.row
  .col-md-12
    .center
      %a.btn.btn-ci.btn-sponsor.btn-orange(ng-href="#/pro")
        Upgrade To Count It Pro!
