%h3.banner-callout-title.green
  Count It {{metro.dn}}
 
.row
  .col-sm-12
    %strong Live metro area stats:

.row.metro-stats
  .col-sm-4
    .content-box
      .big-text
        {{poolSize}}
      .small-text
        Companies
  .col-sm-4
    .content-box
      .big-text
        {{metro.score}}
      .small-text
        Avg. Count It Score
  .col-sm-4
    .content-box
      %a(ng-href="#/world")
        .big-text
          {{metro.rankOrd}}
        .small-text
          Metro Rank (USA)
.row(ng-show="office")
  .col-md-12
    .center
      %a.btn.btn-ci.btn-metro.btn-success(ng-href="#/metro/{{office.msl}}")
        Go to Metro Page


