/* DROPDOWN GROUP IS USED IN TWO PLACES. IT IS IN DISRUPT/TEAM, IN THE BOARD NAV MENU THAT LETS YOU SWITCH BETWEEN AVERAGE SCORE, BEST DAY, IMPROVED. IN USER PAGES ITS USED TO JUMP BETWEEN ACTIVITIES, STATS, PROFILE, TEAM, TRACKERS */

.inline-b {
  display:inline-block;
}


.dropdown.dropdown-group {
  margin-bottom: 20px;
  ul {
    list-style-type: none;
  }

  .caret {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $lightText;
  }

  .btn-dropdown:focus {
      outline: 0 !important;
  }

  .btn-dropdown {
    background-color: white;
    box-shadow: 1px 1px 2.5px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
    width: 100%;
    border: none !important;
    border-radius: 7px;

    &.inline {
      disply:inline;
    }

    &:hover {
      box-shadow: 1.5px 2px 3px rgba(0,0,0,0.3)
    }

    .caret-container {
      position: absolute;
      right: 7%;
    }


    .dropdown-caret {
      border-top: 8px solid;
    }

    &.active {
      background-color: $primaryColor;
      color: white;
    }

  }


  .dropdown-menu.dropdown-options {
    width: 100%;
    text-align: center;
    min-width: unset;
  }
}


.rewards_btn {
      display:inline-block;
      cursor:pointer;
      /*
      width: 42px;
      height: 42px;
      */

      text-align: center;
      background-color: white;
      font-size:11px; 
      color: gray;

/*
      border-radius: 50%;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
      cursor: pointer;
      -webkit-transition:all 0.2s ease;
      -moz-transition:all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
*/

      &:hover {
      /*
        width: 44px;
        height: 44px;
        */
        box-shadow: 0px 2px 4px rgba(0,0,0,0.35);
        background-color: #F5F5F5;
      }

      &.active {
        /*background-color: #27c302; */
        color: $greenText;
      }

}

.btn-noboarder {
  border: none;
}
.btn-disrupt {
  background-color: #00adef !important;
  border: none;
}