/* THE GOAL IS USED IN REWARDS-SQUARE, REWARDS-TAB */

.main_panel {
  padding-top:15px; 
}

.side_panel {
  padding-top: 15px; 
  
  .goal {
    font-size:48px;
    font-weight:800;
    color:$lightText;
    padding:0px;
    line-height:1.2;
    
    img {
      height:40px;
      padding-bottom:8px;
    } 
  }

  .goal.active {
    color:$greenText;
  }  
  
  .side_pane {
    /*padding:15px; */
  }
  
  .side_pane.notfirst {
    padding:15px;
    border-top:thin solid $lightText;
    border-bottom:thin solid $lightText;
  }
  
  .title {
    font-weight:600;
  }
  
}


img.avatar {
  border-radius:50%;
  margin-bottom:5px;
  width:100%
}

.avatarCircle:hover img{
    opacity:0.5;
}

.avatarCircle input {
    display:none; 
}

.avatarCircle input.delete {
    top:0;
    left:79%;
}

.top_line {
  .btn {
    display:none; 
  }
}

.top_line {
  .name {
    display:inline-block;
  }
}
    
.top_line:hover .btn {
    display: inline-block;
    /*
    position:absolute; 
    left:0;
    top:0;
    */
}

.btn.active {
  color:$primaryColor;
}


.search_results {
  margin-top:25px; 

  img {
    height:24px;
    border-radius:12px;
  }
  
  ul {
    list-style-type: none;
    padding:0; 
    margin:0;
  }
  
  li {
    padding-bottom:15px;
  }

  a {
    color:$primaryColor;
    font-weight:bold;
  }
  
}

.italic {
  font-style:italic;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $lightText;
}

