
.ny {
  background-image: url('/images/city-skyline.jpg');
}



.la {

  background-image: url('/images/metro-florida.jpeg');
  
}

.sf {
  
  background-image: url('/images/metro-sanfran.jpeg');

}

.florida {

  background-image: url('/images/metro-florida.jpeg');
  
}

.albany {
  
  background-image: url('/images/metro-albany.jpg');

}

.lakeland {
  
  background-image: url('/images/metro-lakeland.jpg');


}

.philly {
  
  background-image: url('/images/metro-philadelphia.jpg');

}

.nashville {
  
  background-image: url('/images/metro-nashville.jpeg');

}

.vegas {
  
  background-image: url('/images/metro-vegas.jpeg');

}

.league_cover {
  /*
  background:green;
  */
}


.hyatt {
  background-image: url('/images/league1.jpg');
}



.greenText{
  color:$greenText !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.firstrow {
  
  height:200px;
  position:relative;

}

/*
    .firstrow:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 200px;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35);
    }
*/

.secondrow {
  
  background-color:#f4f4f4;
  height:50px;
  position:relative;
  .container {
  /*  background-color:#f4f4f4; */
  }

} 

.secondrow2 {
  
  background-color:#f4f4f4;
  height:50px;
  position:relative;
  .container {
  /*  background-color:#f4f4f4; */
  }
  /*
  background: linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    );
  */
} 

/*
    .secondrow2:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35);
    }
*/

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.main-pane {
  background-color:white;
}




.container.main-page-container {
  margin-top: 50px;
  background-color:white;
}

 .jumbotron-fluid.cover-img {

 /*   position:relative; */
  }


      .name-holder {
   
         position:relative;
         height:200px;
      }

      .name {
        position:absolute;
          bottom:0;
        color: white;
        font-family:$secondaryPageFont;
        font-size:45px;
        font-weight: 800;
        padding-top: 15px;
       /* text-shadow: 1px 1px 4px rgba(0,0,0,0.6); */
      }


  .filter-holder {
    padding-left: 25px;
    padding-top: 10px;

  }

    .ch-month {
      font-size: 20px;
      width:100%;

      font-size: 20px;

      select {
        display:inline-block;
        padding: 0px 40px 0px 0px;
        overflow: visible;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        &:focus {
          outline:none;
        }
      }
    
      .select-holder {
      
        width: 200px; 
        overflow: hidden;
        background-color: #fff;
        background: #fff;
        /* background: url("/images/arrowdown.gif"); */
        background: url("/images/icon-arrow-down-e-203.png") no-repeat; 
        background-position: 25% 70%;
        background-size: 25px 25px; 
        display: inline;
        padding-right:25px;

        span {
          padding-left: 5px;
        }

      }

    }

     .numberCircle {
        width:150px;
        height:150px;
        border-radius:75px;
        font-size:50px;
        line-height:100px;
        /*text-align:center; */
        /*float:right;*/
        margin: 0 auto;
        background:white;
    }

    .numberCircle .height_fix {
        height:40px;
        color:#fff;
    }
    .numberCircle .score {
        font-size:60px;
        &.something {
          font-size:35px;
        }
        color:$primaryColor;
        margin-top: 10px;
        line-height:50px;
        font-weight:700;
        text-align:center;
        font-family: $secondaryPageFont;
    }
    .numberCircle .title {
        font-size:15px;
        color:$primaryColor; 
        line-height:15px;
        text-align:center;
        vertical-align:top;
        text-transform: uppercase; 
    }


.search_title {
  margin-top:50px;
  font-family: $pageFont;
  font-size: 38px;
  font-weight: 300 !important; 

}

.ci-footer {
  color:white;
  a {
    color: white;
    text-decoration: none;
  }
  .social{
    a {
      width: 100px;
    }
  }
  .social.partner{
    a {
      color: $lightGrey;
    }
  }
}

.top_card {
  margin-top: -20px;
}

.rewards_bar {
  padding: 10px;
  // margin-top:-20px;
  background-color:#f4f4f4;
  border-radius: 10px;
  position:static;
  -moz-box-shadow: 0 0 6px #888;
  -webkit-box-shadow: 0 0 6px#888;
  box-shadow: 0 0 6px #888;
   
  .challenge_description {
    text-align: left;
  }
}

.rewards_carousel > .item {
  text-align: left;
  padding: 11px;
}

.rewards_controls {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 8px ;

  .carousel-indicators {
    position: static;
    width: auto;
    margin: 0 10px;
    display: flex;

    .active {
      background-color: #555555;
      height: 10px;
      width: 10px;
    }
    
    li {
      border-color: #555555;
      margin: 1px 8px;
    }
  }

  .chevron {
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 12px;
    width: 11px;
    position: relative;
    transform: rotate(-135deg);
    vertical-align: top;
    left: 3px;
  }
  .chevron.chevronRight {
    transform: rotate(45deg);
    left: -3px;
  }

  .chevronContainer {
    cursor: pointer;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.league-bar {
  height:45px;
  line-height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;

  .league-panel {
    width: 49%;
    color: rgb(147, 147, 147);
    text-align: center;
    span {      
      vertical-align: middle;
    }

    .score {
      color: #333;
      font-size: 17px;
      font-weight: 700;
    }
    .score-text {
      color: #333;
      font-size: 11px;
      font-weight: 600;
    }

  }

  .league-panel.left {
    float: left;
  }   
 
 .league-panel.right{
    float: right;
  }

  .separator {
    width: 1px;
    height: 100%;
    background-color: #939393;
    float: left;
  }

}

@media screen and (min-width:  1500px) {

  .ci-navbar {
    width: 100%;
    .container {
      width: 100%;
      background-color: $backgroundColor;
    }
  }


  .ci-footer {
    width: calc(100% - 300px);
    .container {
      width: 100%;
    }
  }


    .content{
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 5 auto 5 auto;
      padding-top:54px;
      background-color: $backgroundColor;

      .container {
        width: 100%;
        background-color: $backgroundColor;
        padding-right: 35px;
        padding-left: 35px;

        .info {

        }
      }
    }


  .boardtop {
    margin-left:25px;
    margin-right:25px;
  }

  .boardname  {
    font-weight:600;
    font-size:28px;
  }

  .main-pane {
    width: calc(100% - 300px);
  }
}


@media screen and (min-width:  1200px) and (max-width: 1499px){

  .ci-navbar {
    width: 100%;
    .container {
      width: 100%;
      background-color: $backgroundColor;
    }
  }

  .ci-footer {
    width: calc(100% - 300px);
    .container {
      width: 100%;
    }
  }


    .content{
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 5 auto 5 auto;
      padding-top:54px;
      background-color: $backgroundColor;

      .container {
        width: 100%;
        background-color: $backgroundColor;
        padding-right: 35px;
        padding-left: 35px;

        .info {

        }

      }
    }
  
  
  .boardtop {
    margin-left:25px;
    margin-right:25px;
  }

  .boardname  {
    font-weight:600;
    font-size:28px;
  }

  .main-pane {
    width: calc(100% - 300px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .jumbotron-fluid.cover-img {
    position:relative;
  }

 .ci-navbar {
    .container {
      width: 100%;
      background-color: $backgroundColor;
    }
  }

  .ci-footer {
    .container {
      width: 100%;
    }
  }

    .content{
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 5 auto 5 auto;
      padding-top:54px;
      background-color: $backgroundColor;
      .container {

      /*  background-color: $backgroundColor; */
   /*    background-color:black;  */

        width: 100%;
        padding-right: 35px;
        padding-left: 35px;

        .name-holder {

          width:100%;

         .name {
         /*   padding-bottom:50px;  */

          /* bottom: 0px; */
            
         /*   right:5%; */
         /*   width:90%;   */


            color: white;
            font-size:40px;
            font-weight: 800;
          /* padding-top: 15px; */
            text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  
          }

        }

        .filter-holder {
     /*     position: absolute;   */
      
          .ch-month {
            font-size: 20px;
            width:100%;

            font-size: 20px;
              
            }
        }
      }
    }

  .boardtop  {
    margin-left:25px;
    margin-right:25px;
  }
  
  .boardname  {
    font-weight:600;
    font-size:28px;
  }




}

@media screen and (max-width: 992px) {
  .top_card {
    margin-top:0px;
  }
  .league-bar {
    height:40px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 769px) {
  
  .league-bar {
    height:40px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    .league-panel {
      width: 49%;
      color: rgb(147, 147, 147);
      text-align: center;
      span {      
        vertical-align: middle;
      }

      .score {
        color: #333;
        font-size: 15px;
        font-weight: 700;
        display: block;
      }
      .score-text {
        color: #333;
        font-size: 11px;
        font-weight: 600;
      }

    }

    .league-panel.left {
      float: left;
    }   
   
   .league-panel.right{
      float: right;
    }

    .separator {
      width: 1px;
      height: 100%;
      background-color: #939393;
      float: left;
    }

  }

}

@media screen and (max-width: 991px) and (min-width: 769px) {

  
  .content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0 auto;

    padding-top:50px;  
    width:100%;
    
    background-color: $backgroundColor;
    .container {
      background-color: $backgroundColor;
    }
  }
  
  .content.alerton {
    margin-top: 0px;
    padding-top:50px;
  }

  .boardtop {
    margin-left:25px;
    margin-right:25px;
  }

  .boardname  {
    font-weight:600;
    font-size:28px;
  }

  .container.main-page-container {
    margin-top: 10px;
  }

  .jumbotron-fluid.cover-img {
    position:relative;
    height:120px; 
  }
    

      .name-holder {
        
         height:120px;
      }
      .name {
        font-size: 24px;
        font-weight: 300;
      }

  .filter-holder {
    padding-left: 0px;
    padding-top: 0px;


  }


  
}




@media screen and (max-width: 768px){

  .boardtop  {
    margin-left:25px;
    margin-right:25px;
  }

  .boardname  {
    font-weight:600;
    font-size:28px;
  }

  .container.main-page-container {
    margin-top: 10px;
  }

  .secondrow {
    .container {
      padding:0px;
    }
  }

  .content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0 auto;
    padding-top:50px;  
    width:100%;
    
    background-color: $backgroundColor;

  }


      .name-holder {
        
         height:120px;
      }
      
      .name {
        font-size: 24px;
        font-weight: 300;
      }

  .filter-holder {
    padding-left: 0px;
    padding-top: 0px;

  }


  .jumbotron-fluid.cover-img {

    position:relative;
    height:120px; 
    
    .container {

      padding-left: 25px;

    }

  }

  .search_title {
    margin-top:10px;
    font-family: $pageFont;
    font-size: 28px;
    font-weight: 300 !important; 

  }

  .radio-inline {
    margin-top: 10px !important;
    margin-left: 0px !important;
  }

}





// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
