@media screen and (min-width: 992px) {

  /*
  .col-lg-2.side,.col-md-2.side{
    width:20%;
  }
  */
  
  .col-md-10.main,.col-lg-10.main{
    width:80%;
  }
  .world .search-box{
    .form-group.search-box{
      width:90%;
    }
  }
  .tick-flip {
    font-size:60px;
  }
  .summary.team{
    height:125px;

    .info{
      white-space: nowrap;
    }
  }
  .challenge-info.starts{
    text-align:right;
  }

  .ci-money{
    font-size: 36px !important;
    line-height: 30px;
  }
  .side .charts {
    margin: -20px 0 -20px -30px;
  }

  #settings h1{
    font-size:24px;
  }
  .faqs .faq-info{
    width: 180px;
  }

  .slide-content{
    width:663px;
  }
  #landing #section-1 {
    h1{
      padding-bottom:20px;
    }
    .hero {
      background-position: 50%;
      width: 550px;
      background-size: 100%;
    }
  }

  .landing{
    .section2{
      .landing-box{
        font-size:14px;
      }
    }
    .section3{
      h3{
        padding:0;
      }
    }
  }

  .ticker{
    width:680px;
    .ticker-info{
      font-size: 13px;
    }
  }
  .banners{
    .banner-content{
      height: 125px;
      width: 125px;
      margin:10px auto 0 auto;
    }
  }
  .image-banner-holder{
    max-width: 620px;
    overflow: hidden;
  }
  .selectors{
    .selector{
      padding: 1px 12px;
      margin: 10px 10px 10px 0;
    }
  }

  .trash-talk{
    button{
      margin-left:0;
    }
  }
 
}

@media screen and (max-width: 991px) {
  .banner-pad{
    margin-top:0 !important;
  }
  
  
}

@media screen and (max-width: 768px){

.mobile-full{width:100%;}
.user-statistics{
  .stat-box {
    margin-bottom: 0px;
  }
}
.world .search-box{
  .form-group.search-box{
    width:85% !important;
  }
  margin-top:20px;
}
.world .trending a{
  font-size:16px;
}
#tracking-devices .device .connect {
  font-size:12px;
  padding:6px 0;
}


.ticker{
  min-height:115px;
  .ticker-info{
    font-size: 14px;
    font-weight:400;
    display:inline-block;
    padding-bottom: 0 !important;
  }

  margin-left: -10px;
  padding-left: 10px;

  h1{
    font-weight:400;
  }
  .ticker-lbl{
    margin-top:0;
    font-weight:400;
    display:inline-block;
  }
}
.breakdown{
  .select select{
    border-color: #555555;
    border-radius: 6px;
    padding: 0px 3px 0px 10px;
    margin: 0px;
    height: 32px;
    line-height:2;
  }
  .select.filter:after {
    top: 0px;
    color:#555555;
    font-size: 18px;
  } 
  .select-group{ 
    padding-left: 0;
    position: absolute;
    right: 10px;
    font-size: 14px;
    top: 2px;
  }
  .select-group:after{
    font-size:18px;
    top: 2px;
    right: 0px;
  }
  .team-standings.sec-title{
    border-top: 1px solid #c2c2c2;
    padding-top: 10px;
    padding-bottom: 8px;
    position:relative;
  }
}
.banners{
  margin-left:5px;
  margin-top:-20px !important;
  .row .col-xs-3{
    padding-left:0px;
    padding-right:0px;
  }
}

  .banners .banner{
    width: 100%;
    height: 220px;
    max-width: 145px;


    .banner-title{
      font-size: 18px;
      font-weight: 600;
      padding: 20px 10px;
      line-height: 20px;
      height: 80px;
    }
    .banner-content{
      border: 3px solid white;
      padding: 0 10px;
      border-radius: 80px;
      padding:0;
      position: relative;
      overflow: hidden;
      margin: 10px auto 0 auto;
      height:125px;
      width:125px;
    }
  }

  .board .item{
    font-size:18px;
    height: 50px;
    margin:25px -5px 25px 20px;

    position:relative;
    padding-right: 10px;
    .ranking-name{
      float:left;
      padding-top: 10px;
      strong{
        font-weight:600;
      }
    }

    .ranking-name.dark{
      color:#555555 !important;
    }
    .av{
      float:left;
      
      height:60px;
      width:60px;
      margin: -5px 8px 0 -24px;

      img{
        width: 60px;
        height: 60px;
        @include border-radius(50%);
      }
    }
    a{
      color:$mediumText;
    }

  }

  



  .board .bar-line .score {
    padding-right: 2px;
    margin-top:12px;
  }

.breakdown{
  margin-top:0px !important;
}


.banners.caro{
  height:auto;
  min-height:280px;
}
.carousel{
  .item{
    padding:0 40px;
  }
}

.carousel-control.left, .carousel-control.right{
  z-index:1000;
  background-image: none;
  background-image: none;
  background-image: none;
  filter:  none;
  text-shadow:none;
  opacity:1;
 

  .fa{
    color:#cccccc;
    font-size: 1.5em;
    padding-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.carousel-control.left{
  left:-20px;
  .fa{
    margin-left:10px;
  }
}
.carousel-control.right{
  right:-20px;
  .fa{
    margin-right:10px;
  } 
}


.banner-callout{
  margin-top:20px;
  .score .trend img {
    margin-left: 0px;
    vertical-align: initial;
    height: 24px;
  }
  .game-on-info .content-box img.arrow {
    margin-left: 0px;
    height: 24px;
    margin-top: -8px;
  }

  .game-on-info p.prize-details {
    transform: none;
    position: relative;
  }
  .sponsor-info img.arrow {
    margin-top: 0;
  }
  .sponsor-info .ci-ribbon {
    font-size: 36px;
    vertical-align: top;
  }

}
.content-box{
  min-height:60px;
  margin-bottom: 15px;
  .big-text{
    font-size:30px;
    font-weight:600;
    line-height: 30px;
  }
  .small-text{
    font-size:10px;
  }
}

.pro{
  p{
    font-size:14px;
  }
  h1{
    font-size:30px;
  }
 .btn-pro{
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .section1{
    margin-top: -80px;
    padding-top: 100px;
    padding-bottom:50px;
    h1{
      font-size:50px;
    }
    ul{
      padding-left:10px;
      margin-bottom:40px;
    }
    .feature{
      width:150px;
      height:150px;
    
      .feature-icon{ 
        border-radius:50%;
        width:135px;
        height:135px;
        border:3px solid #ffffff;
        img{
          max-width: 80px;
          max-height: 80px;
        }
      }
    }
    .feature-caption{
      font-size: 16px;
      margin-top: 20px;
    }
  }

  .section2{
    padding-top:20px;
    padding-bottom:90px;
    p{
      margin-top:15px;
    }
  }

  .section3{
   
    padding-top:30px;
    p{
      margin-top:15px;
    }
    .features{
      margin-top:10px;
      margin-bottom:50px;
    }

    .feature{
      width:100px;
      height:100px;
      border-radius:50%;
      margin: 10px auto 0 auto;
      .feature-icon{ 
        width:90px;
        height:90px;
        margin-top:10px;
        img{
          max-width: 60px;
          max-height: 60px;
        }
      }
    }
  }
  .section4{
    padding-top:30px;
    h1{
     color:#555555;
    }
    p{
      margin-top:10px;
    }
    .features{
      margin-top:20px;
    }
    .feature-row{
      margin-bottom:20px;
    }
   .feature{
      width:100px;
      height:100px;
      margin-bottom:20px;
      .feature-icon{ 
        border-radius:50%;
        border:2px solid white;
        width:90px;
        height:90px;
        img{
          max-width: 55px;
          max-height: 55px;
        }
      }
    }
    h3{
      color:#ffffff;
      font-size:70px;
      top: 10px;
      .fa{
        color:#ffffff;
        font-size: .5em;
        vertical-align: top;
        margin-right: -20px;
        margin-top: 16px;
      }
    }
    ul{
      font-size:16px;
    }
    .feature-callout{
      border-radius: 6px;
      border: 5px solid #27c302;
      margin-top: 150px;
      margin: 150px -60px 110px -60px;
      padding: 60px;
    }
  }
  .section5{
    background:#a1a1a1;
    padding-top:30px;
    margin-bottom:-50px;
    padding-bottom:50px;
    color:#ffffff;
    h1{
      color:#ffffff;
    }
    .faqs{
      .faq{
        h3{
          color:#ffffff;
          font-weight:300;
          font-size:18px;
          cursor:pointer;
        }
        p{
          font-size:14px;
          display:none;
          margin-left:10px;
        }
        .fa-stack{
          font-size:11px;
          .fa-plus{
            display:block;
          }
          .fa-minus{
            display:none;
          }
        }
      }
      .faq.active{
        p{
          display:block;
        }
        .fa-stack{
          font-size:11px;
          .fa-plus{
            display:none;
          }
          .fa-minus{
            display:block;
          }
        }
      }
    }
  }
}

.user-statistics{
  .title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 0 5px 10px;
  }
  .stat-line {
    font-size: 12px;
    padding-bottom: 0px;
  }

  .company{
    display:inline-block;
    font-size:12px !important;
  }
  .row .col-xs-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}
.stat-info{
  height: 55px;
}
.stat-box {
  height: 50px;
  width: 50px; 
}

.stat-box .stat {
  font-size: 16px;
  border: 2px solid #ffffff;
  padding-top: 6px;
}
.diary .stat-box{
  height: 60px;
  width: 60px; 

  .stat{
    font-size:20px;
    padding-top:10px;
  }
}
.selectors.factions {

  top: 5px;
  .selector {
    margin: 10px 5px 10px 0;
    }
}

.league-content .selectors.factions {
  top: 0px;
  .selector {
    padding: 1px 25px 1px 25px;
  }
}

.diary{
  .log{
    .date{
      font-size:12px;
    }
    .entries{
      height: 22px;
      margin-top: -5px;
      .log-entry{
          font-size:12px;
        .event{
          i{
            font-size: 1.1em;
            vertical-align: sub;
          }
          i.ci-walking{
            margin-left:-2px
          }
          i.ci-cycling{
            margin-right:0px;
          }
        }
      }
    }
    .bar{
      height: 20px;
      margin-left: 0px;
    }
    
  }  
}


.banners{
  .carousel-inner-holder{
    .carousel-item-holder{
      display:none;
    }
    .carousel-item-holder.first{
      display:block;
    }
  }
}

.banners .banner{
  margin: 20px auto 0px auto;
}

.landing-dots{
  display:none;
}
.landing{
  .section{
    min-height:450px;

  }
  .section2, .section3, .section4, .section5{
    .wow{
      visibility: visible !important;
    }
    .animated{
      -webkit-animation-duration: 0;
      animation-duration: 0s;
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
    }
  }
  .section1{
    padding-top: 130px;
    .no-sitting{
      width:90%;
      height:auto;
      .tick-flip{
        font-size:65px;
      }
      img.no-sit{
        top: -45px;
        height: 90px;
      }
      p.no-sitting-info {
        font-size: 22px;
        padding: 150px 0 15px 0;
      }
    }
  }

  .section2{
    font-size:12px;
    h1{
      font-size:30px;
    }
    h3{
      font-size:20px;
    }
    p{
      font-size:12px;
    }
    .full-height{
      margin-bottom:0;
    }
    .landing-title{
      font-size:18px;
    }
    .full-height{
      height:auto;
    }
    .trending a{
      font-size:16px;
    }
    .leader{
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 50%;
      margin:0px auto 15px auto;
      border: 1px solid #efefef;
      img{
        max-width:85px;
      }
      .mayor{
        margin-top:-10px;
        padding-bottom:10px;
      }
      
      .mayor.nope{
        margin-top:6px;
      }
      .nobody{
        background-color:#cccccc;
        width: 80px;
        height: 80px;
        padding-bottom:10px;
      }
    }
    .battle-bot{
      position: absolute;
      left: -30px;
      z-index: 1;
      height: 100px;
      top: -10px;
    }
  }
  .section3{
    h1{
      font-size:30px;
    }
    h3{
      font-size:20px;
      padding:0;
    }
    .bot-dot{
      top: -40px;
      img{
        height: 90px;
      }
    }
    .feature{
      background-color:$primaryColor;
      width:90px;
      height:90px;
      float: left;
      margin: 0 10px 100px 0;
      .feature-icon{ 
        border-radius:50%;
        border:4px solid white;
        width: 90%;
        height: 90%;
        margin-top: 4px;
        img{
          max-width: 60px;
          max-height: 600px;
        }
      }
    }
    .feature-text{
      font-size:14px;
      text-align:left;
      font-weight:600;
      margin: 10px 20px 30px 20px;
      p{
        margin:0;
        font-size:14px;
        text-align:left;
        
      }
    }
    .downer img{
      margin: -70px auto 0 auto;
      left: 0 !important;
      right: 0;
      height: 90px;
      margin-top: -60px;
    }
  }

  

  .section4{
    h1{
      font-size:30px;
    }
    h3{
      font-size:20px;
    }
    .landing-rewards .topper{
     
      top: -45px;
      height: 90px;
      width: 90px;
      img{  
        max-height: 55px;
      }
    }
    .landing-rewards{
      padding-top:50px;
    }
  }

  .section5{
    height:auto;
    h1{
      font-size:30px;
    }
    h3{
      font-size:20px;
    }
    .landing-box{
      margin: 40px 0 50px 0;
      p{
        font-size:16px;
        }
      }
    .btn-success{
      font-size: 18px;
      padding: 10px 20px;
      margin-bottom:30px;
    }
    .desk{
      height:0;
    }
    .press .container{
      padding-top:10px;
    }
    .press .love-us{
      .fa-heart{
        font-size: 1em;
        vertical-align: middle;
        margin-right: 10px;
      }
      font-size:18px;

      .outlets{
        margin-top:20px;
        margin-bottom:20px;
        img{
          margin: 0 10px 10px 0;
          height: 30px;
        }
      }
    }

    .bottomer{
      bottom: -30px;
      height: 90px;
      width: 90px;
      margin: auto;
      img{  
        height:30px;
      }
    }
  }
}
#landing #section-1 .hero {
    width: 100%;
    height: 590px;
    background-size: 110% !important;
    background-position: 0px -20px !important;
  }
  #landing{
    .boss{
      font-size:16px;
    }
    .timers{
      position: absolute;
      width: 100%;
      padding: 10px 0px 10px 10px;
      .stat{
        padding-right:10px;
        .title{
          text-transform:uppercase;
          font-size:10px;
        }
        .info{
          font-size:13px !important;
        }
      }
    }
    #section-1{
      
      h1{
        font-size: 20px;
        background: rgba(0,0,0,.65);
        padding: 10px;
        margin-bottom: 12px;
      }
      p{
        color:white;
        font-size:16px;
        background: rgba(0,0,0,.65);
        padding: 10px;
        margin-bottom:50px;
      }
      .boss-info{
        background: rgba(0,0,0,.65);
        padding: 10px 10px 0 10px;
      }
    
    }
    #section-2{
     
      p.overview{
        font-size: 22px;
        text-align: center;
       
        margin-top: 10px;
        margin-bottom:10px;
        font-style: italic;
      }
      .affiliates{
        margin: 20px 0;
        img {
          height: 60px;
          padding: 8px;
        }
      }
    
    }
    #section-3{
    background:#ededed;
    h2{
      font-family:$secondaryPageFont;

    }
    .features{
      margin: 0;
      .feature{
        margin-bottom:10px;
        .feature-text{
          font-size:16px;
          color: $darkText;
          font-weight:400;
        }
      }
    }

  
    .fa-stack{
      height:3em;
    }
  }

}



  .step .slide-content{
    width:100% !important;
  }

}

@media screen and (min-width: 1200px) {

  .landing{
     .section1{
      h1{
        font-size:60px;
        line-height:70px;
      }
    }
    .section3{
      h3{ padding: 0 230px;}
    }
  }

  .trash-talker button {
    margin-left: 4px;
  }
  .ticker{
    width:750px;
    .ticker-info{
      font-size: 14px;
    }
  }
  .image-banner-holder{
    max-width: inherit;
    overflow: hidden;
  }

  .world .search-box{
  .form-group.search-box{
    width:95% ;
    }
  }
  .tick-flip {
    font-size:80px;
  }
  .banners{
    .banner-content{
      height: 135px;
      width: 135px;
      margin:0 auto 0 auto;
    }
  }
  .selectors{
    .selector{
      padding: 1px 20px;
      margin: 10px 20px 10px 0;
    }
  }



  #settings h1{
    font-size:24px;
  }
  .side .charts {
    margin: -20px 0;
  }
  .faqs .faq-info{
    width: 240px;
  }
   .slide-content{
    width:805px;
  }
  #landing #section-1 .hero {
    width: 550px;
    background-size: 100%;
  }



}

@media screen and (max-width: 992px) {


.ticker{
  position:relative;
  min-height:115px;
  h1{
    font-size: 20px;
    margin-bottom: 0px;
  }
  .ticker-lbl{
    margin-top:0px;
  }
 .ticker-info {
    padding-bottom: 5px;
  }

}

.league-content {
  padding-top: 0;
}
.breakdown{
  .select select{
    border-color: #555555;
    border-radius: 6px;
    padding: 0px 3px 0px 10px;
    margin: 0px;
    height: 32px;
    line-height:2;
  }
  .select.filter:after {
    top: 0px;
    color:#555555;
    font-size: 18px;
  } 
}

.banners{
  .banner-content{
    height: 125px;
    width: 125px;
    margin:10px auto 0 auto;
  }

}
.image-banner-holder{
    max-width:620px;
    overflow:hidden;
}
.banner-callout{
  margin-top:20px;
}

.world .search-box{
  .form-group.search-box{
    width:90%;
  }
}


.select.filter{
  font-weight:600;
}
.select.filter:after{
  top: 4px;

}

.landing{
  
  .section2{
    .trending-teams{
      margin-top:45px;
    }
  }
  .section3{
    h3{
      padding:0;
    }
  }
  .section5{
    img.coffee{
      left:5%;
    }
    img.lamp{
      bottom: 55px;
      right:7%;
    }
    img.the-boss{
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}
#landing{
  .container{
    width:100%;
  }
}


#landing #section-1 .hero {
    width: 100%;
    height: 590px;
    background-size: 100%;
    background-position: 0px -80px;
  }


  #landing{
    
    
    #section-1{
      
      h1{
        font-size: 20px;
        background: rgba(0,0,0,.65);
        padding: 10px;
        margin-bottom: 12px;
      }
      p{
       
        background: rgba(0,0,0,.65);
        padding: 10px;
        margin-bottom:50px;
      }

      .boss-info{
         background: rgba(0,0,0,.65);
      }
    
    }
    #section-2{
     
      p.overview{
        font-size: 22px;
        text-align: center;
       
        margin-top: 10px;
        margin-bottom:10px;
        font-style: italic;
      }
      .affiliates{
        margin: 20px 0;
        img {
          height: 60px;
          padding: 8px;
        }
      }
    
    }
    #section-3{
    background:#ededed;
    
    h2{
      font-size:30px;
    .big{
      font-size:50px;
    }
  }
  .starter{
    h3{
      font-size:24px;
    
    }
    
    .btn-holder{
      text-align:left;
    }
    .btn{
     
      margin-top:10px;
      margin-bottom:10px;

     
    }

  }


    .features{
      margin: 0;
      .feature{
        margin-bottom:10px;
        .feature-text{
          font-size:16px;
          color: $darkText;
          font-weight:400;
        }
      }
    }

  
    .fa-stack{
      height:3em;
    }
  }

}

  .mobile-block{
    display:block;
  }
  .row.no-pad{
    padding:0 !important;
  }
   

  .main{
    padding-left:15px;
  }
  .navbar-collapse.collapse{
  
  }
  header{
    background-color: rgba(255, 255, 255, .99); 
    .login{
      margin-right:15px;
    }
    height:auto;
    .container{
    /*  width:100%; */
    }
    .navbar-header{
    /*  float:none; */
      margin-right: -15px !important;
      margin-left: -15px !important;
    }
    .navbar-toggle{
      padding: 2px 5px;
      margin-top: 8px;
      margin-bottom: 6px;
    }
    button{
      display:block !important;
      position: relative;
      margin-top: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 0 6px;
      z-index: 1000;
       &:hover{
        background-color:#e7e7e7;
      }
    }

    i{
      color: #999999;
      font-size: 24px;
      cursor: pointer;
    }
    img{
      margin-top: 16px;
      margin-left: 20px;
    }
    .navbar-collapse{
      max-height:100% !important;
    }
    .navbar-nav{
      float:none; 
      min-height:600px;
      padding-top: 20px;
        background:#555555;
        li{
          span{
            padding-left:30px;
          }
          a{
            color:white;
            margin: 0 20px;
            i{
              color: $primaryColor;
              vertical-align: sub;
            }
          }
        }
        li.pad-bottom{
          padding-bottom:20px;
        }
    }
    .navbar-nav > li {
      float:none;
    }

    .nav > li.active{
      background-color: #555555;
     
    }
    .nav > li > a{
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      border-bottom:1px solid #838383;
      
    }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: #838383;
    }
  }
  
  .user-score-area{
    font-size:12px;
  }
 
  h1.heading{
    font-size: 24px;
    margin-top:30px;
  }
  .summary{
    height:auto;
    padding:10px 0;
    border-bottom: none !important;
    h1{
      font-size:32px;
      white-space:normal;
    }
    .city{
      display:block;
      i{margin:0;}
    }
    .ranked{
      text-align:center;
      display:block;
      i{margin:0;}
    }
    .list-inline > li {
      display: block;
    }
  }
  .summary.team .info{
    font-size:18px;
    i{
      font-size:22px;
    }
  }
  .city-tag .summary .info{
    font-size:18px;
    i{
      font-size:22px;
    }
  }
  .summary .info{
    font-size:18px;
    i{
      font-size:22px;
    }
  }
  #user .btn-sync{
    top:-30px;
  }
  #user .info {
    white-space: normal;
  }
  #user .info .office, #user .info .city {
    font-size: 18px;
    i{
      font-size:22px;
    }
  }
  .faqs .faq-info{
    width: 180px;
  }
  .faqs .faq-info{
    width: 100px;
  }
  .step .rewards .reward{
    width:100px;
    height:125px;
    img{
      max-width:80px;
      max-height:80px;
      top: -35px;
    }
  }
  .step .slide-content{
    width:720px;
  }
  .step .form-group{
    margin-bottom:0px;
    padding-bottom:0px;
  }
  .step .tgt-info {
    margin: 20px 0 30px 0;
  }

  .ci-money {
    font-size: 28px !important;
    line-height: 20px;
  }

  .progress-text{
    font-size:20px;
  }

  
  .add{
     display:none !important;
  }
  .ci-score{
    border-bottom: none !important;
    height: 80px !important;
    /* padding-top:20px; */
  }
  .side .ci-score .score{
    font-size:80px;
    line-height:90px;
    text-align: left !important;
  }
 
  .title-lbl{
    padding-bottom:20px;
  }

  #user{
    .summary{
      .av{

        margin:0 auto;
      }
      .office{
        display:block;
      }
      .city{
        display:block;
        margin-left:0;
      }
    }

    .logs{
      .log{
        height:100px;
        .score{
          width:100px;
          padding-top: 8px;
          text-align:center;

        }
        .score-text{
          padding:0;
        }
        .activity {
          padding: 0px 10px 0 115px;
          font-size: 16px;
        }
        .log-entries{
          margin:10px 0 0 0;
        }
        .log-entry{
          height:20px;
          font-size:14px;
        }
        .bar{
          display:none;
        }
        i{
          display:none;
        }


      }
    }
  }
  .trash-talk{
    margin-top: 30px;
  }
  .side-col .page-info {
    min-height: initial !important;
  }
 
  #settings{
    margin-top:0px;
    .settings-link{
      text-align:center;
      margin-bottom:20px;
    }
    h1{
      font-size:24px;
    }

    .profile{
      padding: 20px 0px;
      .username{
        text-align:center;
      }
      p{
        padding-left:0;
        text-align:center;
        strong{
          display:block;
        }
      }
    .av{
      margin:0 auto;
      img{
        width: 80px;
        height: 80px;
        @include border-radius(80px);
      }
    }
    .buttons{
      padding-left:0;
      text-align:center
    }
    .in{
       font-size: 14px;
        padding: 7px 5px 0px 5px;
        margin-right: -4px;
      }
    }
    .in-text{
      padding: 5px 5px 3px 5px;
      font-size:14px;
      span{
        font-size:16px !important;
      }
    }

    .tracking h1.devices{
      float:none;
    }

    .tracking{
      .btn-sync{
        margin-top:10px;
        padding-right:0;
      }
    }
    .notifications .option{
      padding:5px 5px 0 0;
      .info{
        margin-left: 105px;
        font-size: 14px;
      }

      .radio label, .checkbox label{
        padding-left:5px
      }
    }
  }
}

.board .faction-member{
      margin: 10px 0px 10px 20px !important;
    }