
/* MOBILE VIEWS */

@media screen and (max-width: 768px) {
.img-responsive.quote {
  width: 40% !important;
  height: auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    width: 75%;
}


.landing_body {
  height: 2700px;
}


.img-responsive.slack {
  width: 35%;
  height: auto;
}

.btn-xlg {
  margin-bottom: 70px !important;
  bottom: 180px;
  font-size: 16.5px !important;
}

#stats {
  padding-top:150px;
}

h1 {
  font-size:36px !important;  
}

p {
  font-size: 22px !important;
}

.collapse.navbar-collapse.navbar-right.navbar-main-collapse{
  background-color: #555555;

  a{
  color:white;
  }
}

section.module.parallax-3 {

  background: #fff;
  text-align:center;
  width: 100%;
}

.headerpadding {
  height: 50px;
}

.negativemargin25 {
  
  text-align:center;
  margin-top: -125px;
}

.circle2{
  margin: auto;
  width: 250px;
  height: 250px;
  background-image: url('../images/gif2.gif');
  border-radius: 50%;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* -webkit-clip-path: circle(50% );
  clip-path: circle(50%);
  -webkit-transition: -webkit-clip-path .6s ease-out; 
  transition: -webkit-clip-path .6s ease-out; /* needs to be prefixed otherwise it's not transitioned in Chrome */
  /* transition: clip-path .6s ease-out; */

}


.btn.outline {
  background: $greenText;
  padding: 12px 35px;
  font-weight: 100;

}
.btn-primary.outline {
  border: 3px solid white;
  color: white;
  border-radius: 50px;

}

.padding-bottom {
  
  height: 25px;
}

section.module.parallax-3 p{
  
  font-size: 25px;
  text-align: center;
}

section.module.parallax-3 h1{
  
  font-size: 50px;
  text-align: center;
  color: rgba(86, 86, 86, 1);
}


.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}


.image {
  position: relative;
  width: 100%;
  height: 100%;


  h1{
  position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 

  }
}




}

/* *********TABLET VIEW STYLE************* */

@media screen and (min-width: 779px) and (max-width: 982px) {

      section.module.parallax-3 {

      background: #fff;

      }

       section.module.parallax-3.active {

      background: #fff;

      }

      section.module.parallax-3.active2 {

      background: #fff;

      }

    .landing_body {
      height: 3000px;
    }
  
    section.module.parallax-3 p{
      
      font-size: 25px;
      text-align: center;
    }

    section.module.parallax-3 h1{
      
      font-size: 50px;
      text-align: center;
      color: rgba(86, 86, 86, 1);
    }


    .btn-xlg {
      padding: 18 28px;
      font-size: 25px;
      line-height: normal;
      -webkit-border-radius:50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      bottom: 56px;
    }
  
}

/* DESKTOP VIEW STYLES */


@media screen and (min-width: 768px) {


.image {
  position: relative;
  width: 100%;
  height: 100%;


  h2{
  font-family: 'AvantGarde-Demi', sans-serif;
  font-size: 50px;
  position: absolute; 
   top: 130px; 
   left: 0; 
   width: 100%; 

  }
}

.img-responsive.slack{
  
  padding-top: 75px;

}


.headerpadding {
  height: 150px;
}



section.module.parallax-3 {
   
 
  background: #fff;
  text-align:center;

  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;

  /* animations on safari */

  animation: animatedBackground 60s linear infinite;


}

section.module.parallax-3.active p{
  
  font-size: 25px;
  text-align: left;
}

section.module.parallax-3 p{
  
  font-size: 25px;
  text-align: left;

}

section.module.parallax-3.active h1{
  
  font-size: 50px;
  text-align: left;
  color: rgba(86, 86, 86, 1);
}


section.module.parallax-3 h1{
  
  font-size: 50px;
  text-align: left;
  color: rgba(86, 86, 86, 1);
}


section.module.parallax-3.active {

      background-image: url('../images/background-bikers-big.png');   
      /* background: #fff; */
      -moz-background-size: cover;
      background-size: cover;
      background-position: -100px 0px;
      background-repeat: repeat-x;

      animation: animatedBackground 60s linear infinite;
      transition: all 0.9s ease-in-out;

      /* chrome animations */
      -webkit-background-size: cover;
      -webkit-background-position: 100px 0px;
      -webkit-background-repeat: repeat-x;
      -webkit-animation-name: animatedBackground;
      -webkit-animation-duration: 60s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;

      /* IE animations */

      background-size: cover;
      background-position: 100px 0px;
      background-repeat: repeat-x;
      animation-name: animatedBackground;
      animation-duration: 60s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;


      /* mozilla animations */

      -moz-background-size: cover;
      -moz-background-position: 100px 0px;
      -moz-background-repeat: repeat-x;
      -moz-animation-name: animatedBackground;
      -moz-animation-duration: 60s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -moz-animation-fill-mode: forwards;


    }


    section.module.parallax-3.active2 {

       
      background-image: url('../images/background-runners-2.png'); 
      background-size: cover;
      -o-background-size: cover;
      background-position: 0px 0px;
      background-repeat: repeat-x;
      animation: animatedBackground 60s linear infinite;
      width: 100%;
      transition: all 0.9s ease-in-out;

      -webkit-background-size: cover;
      -webkit-background-position: 100px 0px;
      -webkit-background-repeat: repeat-x;
      -webkit-animation-name: animatedBackground;
      -webkit-animation-duration: 60s;  
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;

      -moz-background-size: cover;
      -moz-background-position: 100px 0px;
      -moz-background-repeat: repeat-x;
      -moz-animation-name: animatedBackground;
      -moz-animation-duration: 60s;  
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -moz-animation-fill-mode: forwards;


      /* IE animations */

      background-size: cover;
      background-position: 100px 0px;
      background-repeat: repeat-x;
      animation-name: animatedBackground;
      animation-duration: 60s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;



    }

    @-webkit-keyframes target-fade {
        0% { text-shadow: 0 0 10px red; }
        100% { text-shadow: none; }
    }
    @-moz-keyframes target-fade {
        0% { text-shadow: 0 0 10px red; }
        100% { text-shadow: none; }
    }
    @keyframes target-fade {
        0% { text-shadow: 0 0 10px red; }
        100% { text-shadow: none }
    }


    section.module.parallax {
      font-family: "Open-Sans", sans-serif;

      width: 100%;

      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;

    }


    /* this is the styling for the repeating background. change it here and 
    you change the backgrounds for the entire page. remember to change the circles too. */


    @keyframes animatedBackground {
        to { background-position-x:100%; }
        from { background-position-x:0%;}
    }

    @-webkit-keyframes animatedBackground {
        to { background-position-x:100%; }
        from { background-position-x:0%;}
    }

    @-moz-keyframes animatedBackground {
        to { background-position-x:100%; }
        from { background-position-x:0%;}
    }


    .circle2{
      margin: auto;
      width: 350px;
      height: 350px;
      background-image: url('../images/gif2.gif');
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 350px 350px;
      /* -webkit-clip-path: circle(50% );
      clip-path: circle(50%);
      -webkit-transition: -webkit-clip-path .6s ease-out; 
      transition: -webkit-clip-path .6s ease-out; /* needs to be prefixed otherwise it's not transitioned in Chrome */
      /* transition: clip-path .6s ease-out; */

    }


    .btn.outline {
      background: $greenText;
      padding: 12px 35px;
      font-weight: 100;

    }
    .btn-primary.outline {
      border: 3px solid white;
      color: white;
      border-radius: 50px;

    }


    .btn-primary.outline:active, .btn-primary.outline.active {
      border-color: #007299;
      color: #007299;
      box-shadow: none;
    }

    .btn-xlg {
      padding: 14 24px;
      font-size: 22px !important;
      line-height: normal;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      bottom: 56px;
      }
}




/* ******************EXTRA LARGE DESKTOP VIEW STYLE****************** */
@media screen and (min-width: 1400px) {

        .headerpadding{
          
          height: 200px;
        }

        section.module.parallax-3 p{
          
          font-size: 25px;
          text-align: center;
        }

        section.module.parallax-3 h1{
          
          font-size: 50px;
          text-align: center;
          color: rgba(86, 86, 86, 1);
        }

        section.module.parallax-3 {
           
          /* background-image: url('../images/background-bikers-big.png'); */
          background: #fff;

          background-size: cover;
          background-position: 0px 0px;
          background-repeat: repeat-x;

          /* animations on safari */

           -webkit-background-size: cover;
           -webkit-background-position: 0px 0px;
           -webkit-background-repeat: repeat-x;
          -webkit-animation-name: animatedBackground;
        -webkit-animation-duration: 60s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;

        animation: animatedBackground 60s linear infinite;
        }

        section.module.parallax-3.active {

          background: #fff;
         -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          background-position: -100px 0px;
          background-repeat: repeat-x;

          animation: animatedBackground 60s linear infinite;
          transition: all 0.9s ease-in-out;

          -webkit-background-size: cover;
          -webkit-background-position: 100px 0px;
          -webkit-background-repeat: repeat-x;
          -webkit-animation-name: animatedBackground;
          -webkit-animation-duration: 60s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          -webkit-animation-fill-mode: forwards;
        }


        section.module.parallax-3.active2 {

          background: #fff;
          -webkit-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
          background-position: 0px 0px;
          background-repeat: repeat-x;
          animation: animatedBackground 60s linear infinite;
          width: 100%;
          transition: all 0.9s ease-in-out;

          -webkit-background-size: cover;
          -webkit-background-position: 100px 0px;
          -webkit-background-repeat: repeat-x;
          -webkit-animation-name: animatedBackground;
        -webkit-animation-duration: 60s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;

        }

        .btn-xlg {
          padding: 18 28px;
          font-size: 25px;
          line-height: normal;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          bottom: 53px;
        }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
 
}