/* THE SEARCH BOX STYLE ISN'T FOR THE HEADER, BUT RATHER THE SEARCH PAGE THAT SHOWS UP AS YOU SEARCH. */

/* THIS ALSO INCLUDES SEARCH BOX FOR MOBILE AND TABLET VIEW */

html {
  position: relative;
  min-height: 100%;
}

  .search_box_holder {
    width:100%;
    display:inline-block;
    height:50px;
  }

  .search_box {
    display:inline-block;
    width:100%; 
    padding-top:12px;
    padding-right: 10px;
    height:50px;

    
    input {
      height:50px;
      padding-top:10px;
      padding-bottom:10px;
      padding-left: 20px; 
      width:50%;
      border-radius:30px; 
     -moz-border-radius:30px; 
     -webkit-border-radius:30px; 
     border:none;
     /*
      border:1px solid #00adef;
      */
      &:focus{
        outline: none;
      }
    }

    button {
      height:28px;
      border:0 none;
      background:none;
      margin-left: -40px;
    }

    fa.fa-search:active, :hover {
      color: $primaryColor;  
    }
  }


@media screen and (min-width: 1200px) {

  .top-nav {
    padding-left:15px;
    padding-right:15px; 
    margin: 0 auto 0 auto; 
    height: 60px; 
    font-family: $pageFont;
    max-width:1100px;
    border-radius:5px;
    background-color:$primaryColor;
  

    .logo_left img{
      /*margin-left: 3em; */
      margin-left:30px;
    }

    
  }  /* end top nav */


  .search_box_holder {
    width:100%;
    display:inline-block;
  }

  .search_box {
    display:inline-block;
   /* text-align:center; */
    width:100%; 
    padding-top:10px;
    padding-right: 0px;
    
    input {
      height:35px;
      width:50%;
    }

    button {
      height:28px;
      border:0 none;
      background:none;
      margin-left: -40px;
    }

    fa.fa-search:active, :hover {
      color: $primaryColor;  
    }
  }


}


@media screen and (min-width: 992px) and (max-width: 1199px) {

  .top-nav {
  
    margin: 0 auto 0 auto;
    height: 60px;
    font-family: $pageFont;
    max-width:950px;
  
    
  }  /* end top nav */

  .search_box_holder {
    width:100%;
    display:inline-block;
    height:50px;
  }

  .search_box {
    display:inline-block;
    width:100%; 
    padding-top:10px;
    padding-right: 0px;

    
    input {
      height:35px;
      width:50%;
    }

    button {
      height:28px;
      border:0 none;
      background:none;
      margin-left: -40px;
    }

    fa.fa-search:active, :hover {
      color: $primaryColor;  
    }
  }

  
}   


@media screen and (max-width: 768px){


  .top-nav.navbar-fixed-top {
    padding-top:2px;
    padding-bottom:1px;
    border-bottom: 1px solid #d7d7d7;
  }

  .top-nav {

    margin: 0 auto 0 auto;

    .container {
      max-width:900px;

    }
  
  }


  .subnav {
    
    border-bottom:thin solid $lightText;
    border-top:thin solid $lightText;
    text-align:center;
    height:50px;

  }

  .footerz {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }

}

@media screen and (max-width: 991px) and (min-width: 769px) {

  .top-nav.navbar-fixed-top {
    padding-top:2px;
    padding-bottom:1px;
    border-bottom: 1px solid #d7d7d7;
  }

  .top-nav {

    margin: 0 auto 0 auto;
  
    .container {
      max-width:800px;

    }
  
  }

  .footerz {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
  }

  .subnav {
    
    border-bottom:thin solid $lightText;
    border-top:thin solid $lightText;
    text-align:center;
    height:50px;
  }

}

.top-nav {
  background-color:white;


  li > a:hover,  li > a:focus{
    background-color: inherit;
    color:$darkText;
    font-weight: 500;
    border:none !important;
    outline:none !important;
    i{
      color: $darkText;
    }
  }
  li{
    a{
      color:$mediumText;
    }
    i{
      color: #959595;
    }
  }

  li.active{
    a{
      color:$primaryColor;
      border:none !important;
      outline:none !important;
      i{
        color: $primaryColor;
      }
    }
  }

}

header {
  background-color:white;
    border:none;
}

.navbar-brand .img-responsive {
  margin-left: 6% !important;
}

