
.container
  .row
    .col-sm-3.hidden-xs.hidden-sm
      .avatarCircle
        %img.avatar(src="/images/guidebot.png")
    
    .col-xs-9()
      .search_title.hidden-xs.hidden-sm
        Search Results  
        
      .next_line.italic.hidden-sm.hidden-xs(ng-if="results.length > 0")
        CountItBot found {{results.length}} things matching your search...
      .next_line.italic.hidden-sm.hidden-xs(ng-if="results.length == 0")
        No results matching were found. Please search again.

  .subnav.empty.hidden-xs.hidden-sm

  .hidden-md.hidden-lg
    .search_box_holder
      .search_box
        %div
          %input(ng-keydown="doSearch()" name="search" ng-model="searchData.searchText" type="text" placeholder="Search")
          %button.fa.fa-search(ng-click="doSearch()" style="display:inline;font-size:20px; margin-left: -60px;")


  .search_results.hidden-xs
    %ul
      %li(ng-repeat="result in results")
     
        %a(ng-href="{{getResultLink(result)}}" ng-click="clearSearch()" )
          {{result.name}}
        
        .italic(ng-if="result.type=='user'")
          %img(ng-src="{{result.avatar}}")
          User 
          %span(ng-if="result.officeName != undefined")
            with {{result.officeName}}
    
        .italic(ng-if="result.type=='office'")
          %i(ng-class="result.icon")
          Group based in {{result.displayName}}

        .italic(ng-if="result.type=='location'")
          %i(ng-class="result.icon")
          Location 
    
      %span(ng-if="$index == results.length - 1" ng-init="triggerResize()")

  .search_results.hidden-sm.hidden-md.hidden-lg
    %ul
      %li(ng-repeat="result in results")
     
        %a(ng-href="{{getResultLink(result)}}" ng-click="clearSearch()" )
          {{result.name}}
        
        .italic(ng-if="result.type=='user'")
          %img(ng-src="{{result.avatar}}")
          User with {{result.officeName}}
    
        .italic(ng-if="result.type=='office'")
          %i(ng-class="result.icon")
          Group based in {{result.displayName}}

        .italic(ng-if="result.type=='location'")
          %i(ng-class="result.icon")
          Location 
    
      %span(ng-if="$index == results.length - 1" ng-init="triggerResize()")
