

If you're a boss or an HR manager looking to kickstart an awesome office challenge or company wellness program, check out our <a href ='#/pro'> Count It PRO </a> page, or our helpful all-in-one <a href='/COUNTIT-WELLNESS-2018.pdf'> Count It Manual and Quickstart Guide! </a>
%h3 Frequently Asked Questions
.row
  .col-md-8{:class => "faqls"}
    :markdown
      
        <a ng-click="scrollTo('q1')">What is Count It?</a><br>
        <a ng-click="scrollTo('q2')">Who can join?</a><br>
        <a ng-click="scrollTo('q3')">How do I sign up?</a><br>
        <a ng-click="scrollTo('q4')">How does it work?</a><br>
        <a ng-click="scrollTo('q5')">What is a Count It Score?</a><br>
        <a ng-click="scrollTo('q6')">Can I connect mulitple tracking devices or apps to Count It?</a><br>
        <a ng-click="scrollTo('q7')">Can I join a challenge anytime?</a><br>
        <a ng-click="scrollTo('q8')">I just joined Count It, will I get credit for activity on my tracker before I joined?</a>)<br>
        <a ng-click="scrollTo('q9')">If I join in the middle of a challenge, how do you calculate my Count It score?</a>)<br>
        <a ng-click="scrollTo('q10')">Count It shows a different number of steps for a given day than my tracking device or app. What’s up with that?</a><br>
        <a ng-click="scrollTo('q11')">I joined my group on Count It, but it says I’m “on the bench.” Help!?</a><br>
        <a ng-click="scrollTo('q12')">How do I invite my co-workers to join?</a><br>
        <a ng-click="scrollTo('q13')">How do I join a Group?</a><br>
        <a ng-click="scrollTo('q14')">How do I see how my team is doing?</a><br>
        <a ng-click="scrollTo('q15')">How many co-workers do I need to get started?</a><br>
        <a ng-click="scrollTo('q16')">Why is my group “on the bench?”</a><br>
        <a ng-click="scrollTo('q17')">I signed up, created my group page, and connected my tracking device, but my Count It group score is 0 (zero)?</a><br>
        <a ng-click="scrollTo('q18')">What’s the difference between the Average, Highest, Most Improved and Handicapped rankings in the Team Standings?]</a><br>
        <a ng-click="scrollTo('q19')">What is a battle?</a><br>
        <a ng-click="scrollTo('q20')">Are there prizes?</a><br>
        <a ng-click="scrollTo('q21')">Do you really want me to trash-talk my co-workers?</a><br>
        <a ng-click="scrollTo('q22')">How much does it cost to use this program?</a><br>
        <a ng-click="scrollTo('q23')">Does Count It work on my smartphone or tablet?</a><br>
        <a ng-click="scrollTo('q24')">I have questions or feedback.</a><br>
        <a ng-click="scrollTo('q25')">How do I connect Count It and Slack? I want the CountItBot cheering on my team!]</a><br> 
      
      

        #### <div class=faqanchor id="q1">What is Count It?</div>

        Count It is a radically simply, highly social, and very wired workplace wellness challenge platform. It’s the smart and affordable way to boost office morale and improve your co-workers’ health. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q2">Who can join?</div>

        Anyone can join Count It for free, and setup their group or organization. It takes just a few minutes to get going, and, whether you work in an office with 5 people or 500, we’ve got your back.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q3">How do I sign up?</div>

        You can [create an account](#/create) on Count It with any valid email address, or log in using your LinkedIn account.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q4">How does it work?</div>

        Count It connects to most popular fitness tracking devices and apps, and converts your daily activity into a simple, daily “Count It Score.” Every month is a new challenge on Count It, and every group has a homepage where co-workers can see how their score stacks up against each other on the group leaderboard. A user’s Count It score for a given challenge is the average of his or her daily Count It scores over the course of that month.

        Each group also has a Count It score, which is simply the average of all the Count It scores of its members. This allows companies to compete with rival companies in their local metro areas, and beyond. Companies can even challenge other companies to one-on-one battles!

        All that comes for FREE, but companies which upgrade to PRO can also form internal teams, and set up goals and rewards for their members, get reports, integrate with group messaging platforms like Slack and Hipchat, and much more. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q5">What is a Count It Score?</div>

        Your Count It Score is calculated directly from from activity data provided by your activity tracking devices or apps. To allow people doing different activities to compete with each other fairly, Count It uses an algorithm to converts steps, cycling miles, and other activity data into a single “normalized” measure of physical activity. In general, the more active you are, the higher your score goes. For reference, 10,000 steps is equal to a Count It score of 100. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q6">Can I connect mulitple tracking devices or apps to Count It?</div>

        Yes! Count It looks at the activity data from all your devices/apps, and credits you with the best score for any given activity across all devices. That is, if you uses two devices to track your steps, we’ll take the one that shows the most steps for a given day, and ignore the other. If you use one device to track steps, and another app to track your cycling, you’ll get credit for both your steps and your cycling miles. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q7">Can I join a challenge anytime?</div>

        Yes! 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q8">I just joined Count It, will I get credit for activity on my tracker before I joined?</div>

        Yes. When a user adds a device, we query the device for the past 29 days of data. Not all services will allow us to grab the full 29 days, in that case we take what we can get.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q9">If I join in the middle of a challenge, how do you calculate my Count It score?</div>

        A user’s Count It score for a given monthly challenge is re-calculated every time the system gets new data from the user’s tracking app(s) or device(s). If the system finds no activity data for any given day during the challenge, it assumes zero activity for that day. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q10">Count It shows a different number of steps for a given day than my tracking device or app. What’s up with that?</div>

        Activity from tracking devices is assigned to a day. Count It checks for new activity data across all of the connected services every ten minutes. For Count It to get your most recent data, you must “sync” your tracking device or app with its servers, and then Count It can grab the data. If you click the “sync” button at the top of any Count It page, and on your user profile page, you will prompt the system to look for new data immediately.  Activity data and the resulting Count It score for any given day may change as new activity data is reported.

        Due the asynchronous nature of our query system, your device/app and Count It may show a different step total until the systems get in sync. There may also be slight persistent discrepancies for a given day due to timezone differences — that is, in certain unusual cases, your device/app and Count It will assign activity to different days. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q11">I joined my group on Count It, but it says I’m “on the bench.” Help!?</div>

        You are placed "on the bench" if we cannot determine your score. This could be because you do not have a tracker attached to your account, or perhaps the tracker has not synced with our system in a while.

        To sync your tracker, click on the  icon in the upper right.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q12">How do I invite my co-workers to join?</div>

        Click on the “Invite Co-Workers” button on the top of the group
        page, then enter one or more email addresses in the box
        provided. Hit “Send” and wait for your colleagues to join you!
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q13">How do I join a Group?</div>

        When you join the site, Count It will ask you where you work. Simply input your group name to join your group’s Count It challenge homepage. If you register with LinkedIn, Count It will automatically suggest your “current” employer from your LinkedIn profile. (If you have more than one, you can choose whichever one you like.)
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q14">How do I see how my group is doing?</div>

        To see how your group is faring locally, click on “Metro” at the
        top of the page. To see how your group stacks up globally, click on
        “World” at the top of the page.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q15">How many co-workers do I need to get started?</div>

        You can sign up with just one person, but it’s not really a challenge unless there are two people. Thus, you must have at least two people with connected trackers for your group to compete in your Metro area. If you have just one person (or none), your group’s score will be zero, and you will show up as "On The Bench" when you view the Metro standings.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q16">Why is my group on the bench?</div>

        In the metro area competition, your group is on the bench as long as its Count It score is zero. A group’s Count It score is the average of the scores for all the people in the office. So if nobody has logged activity in your office, then the score will be zero.

        Also, if your office has fewer than two people logging activity, then your group’s score will be set to zero. 
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q17">I signed up, created my group page, and connected my tracking device, but my group Count It score is 0 (zero)?</div>

        Your group score will be set to zero until you have at least two connected people in your group. Make sure that everyone has a tracker connected to their account. You can add a tracker from the menu, just select **Tracking Apps And Devices**.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q18">What’s the difference between the Average, Highest, Most Improved and Handicapped rankings in the Team Standings?</div>

        * **Average Score** is the average daily Count It scores over the duration of the challenge.
      
        * **Highest Score** is a ranking of each person’s best day over the course of the challenge, a.k.a. their highest score ever for a single day.

        * **Most Improved** is a ranking of which people have shown the most improvement challenge over challenge, (or month over month). This will be empty if your team does not have at least one challenge under its belt.

        * **Handicapped** is is a ranking of users after applying a handicap. The handicap is similar to a golf handicap. If you regularly score a 200 then your handicap will be zero. If you are scoring less than 200 on average your handicap will be a positive number. Your handicap score is just your Count It average score plus your handicap.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q19">What is a battle?</div>

        A battle is a little friendly competition between two
        groups. To battle another group, find that group’s page 
        and click “Battle this group.” Battles are only available
        while a challenge is going on, and they last for the duration of
        the challenge.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q20">Are there prizes?</div>

        Yes! If your group has upgraded to Count It PRO, your group Captain can set up goals and rewards both for individuals, and for your co-worker group as a whole. Count It makes it push button easy to give gift cards to Amazon and Chipotle, and also allows the group to create its own rewards.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q21">Do you really want me to trash-talk my co-workers?</div>

        We created the Trash-Talk window because we believe that a little
        peer pressure is healthy, and we encourage you to encourage your
        co-workers. However, we don’t support bullying, harassment or just plain
        meanness. Use your best judgement, and don’t write anything you
        wouldn’t want your boss to read.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        ### <div class=faqanchor id="q22">How much does it cost to use this program?</div>

        Basic Count It challenges are entirely free. [Count It PRO](#/pro) turns the free social challenge platform into a powerful wellness program for your group. Count It aims to be the lowest cost, most engaging challenge platform on the market. Groups can upgrade in moments to begin their monthly PRO subscription, and cancel at any time with no obligation.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q23">Does Count It work on my smartphone or tablet?</div> 

        Yes! Count It is a state-of-the-art  “responsive” website. It works beautifully on any desktop computer, as well as any iOS, Android, or Windows smartphone or tablet.
      
        <a ng-click="scrollTo('qtop')">(top)</a>
      

        #### <div class=faqanchor id="q24">I have questions or feedback.</div>

        Great! We can’t wait to hear it. Here is a link to our [feedback forum](https://countit.uservoice.com/forums/291258-general).
      
        <a ng-click="scrollTo('qtop')">(top)</a>
     

        #### <div class=faqanchor id="q25">How do I connect Count It and Slack? I want the CountitBot cheering on my team!</div>

        Great idea! Nothing heats up an office challenge like the CountItBot showing up in your favorite Slack channel. You can get this done in three quick steps. Note: You need to be a Count It PRO subscriber to set up a Slack integration. Also, some companies restrict the ability to add Integrations to their Slack. If you can’t access the “Configure Integrations” link indicated below, just ask your Slack admin for a little help! Count It is a custom “DIY integration” on Slack. We’re working hard to get it made official which will make this process even easier!

        <u>Step 1: Add Your Incoming WebHooks Integration on Slack</u>

        * On the dropdown menu for your group’s Slack account, click “Configure Integrations.” 
        * On the main Integrations page, click the highlighted text at the end of the first paragraph at the top of the page: “Or, make your own!” 
        * In the list of DIY Integrations & Customizations, click “Incoming WebHooks,”or the related “View” button. 
        * Click the big green button “Add Incoming WebHooks Integration.” 

        <u>Step 2: Integration Settings</u><br>
        On the resulting page, scroll down to the “Integration Settings” box. You can safely ignore any scary looking code stuff. 

        * Use the dropdown form to select the channel to which you want to get notifications from the CountItBot. For example, #everybody. 
        * Copy the WebHook URL to your clipboard.
        

        <u>Step 3: Add Slack to Count.It</u>

        * Go to Count.It and log in. Click on Settings in the drop down menu. 
        * Under PRO Admin, choose “Configure Integrations.” 
        * In the fields next to Slack, simply paste your WebHook URL into the field labeled “WebHook URL.” 
        * Type the name of the channel to which the CountItBot will post. (Note: This should be the same as the channel you indicated on Slack.) 
        * Use the dropdown to choose how chatty you want your CountItBot to be: Loudmouth, Polite, Introvert. 

        You did it! The CountItBot will now start to post to your Slack #channel.
      
         <a ng-click="scrollTo('qtop')">(top)</a>







