
.hidden-xs.hidden-sm
  .jumbotron-fluid.cover-img(ng-class="metroClass")
    /.black-overlay
    .container
      .row.firstrow                 
        .col-lg-3.col-md-3.col-sm-3.hidden-xs
          .logo-holder(ng-if="false")
            .logo(style="background-image: url('#{asset_path('/images/guidebot.png')}')")        
        
          .logo-holder
            .logo
              .numberCircle
                .height_fix
                .score.something(ng-if="convert_score(metroAvg).length>3") {{convert_score(metroAvg)}}
                .score(ng-if="convert_score(metroAvg).length<=3") {{convert_score(metroAvg)}}
                .title avg
        
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
          .name-holder  
            .name
              {{metro.dn}} 

    .secondrow()
      .container
        .col-lg-3.col-md-3.col-sm-3.hidden-xs()

        .col-lg-9.col-md-9.col-sm-9.col-xs-12(ng-include src="'#{asset_path('shared/button-bar.html')}'" )



.hidden-lg.hidden-md()
  .jumbotron-fluid.cover-img(ng-class="metroClass")
    .container
      .name-holder
        .name
          {{metro.dn}}
          /
            .settings_btn.pull-right(data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
              %i.fa.fa-caret-down.fa-2x()
            %ul.dropdown-menu.collapse#collapseExample(ng-include src="'#{asset_path('shared/drop_nav_menu.html')}'" ))

  .secondrow()
    .container(ng-include src="'#{asset_path('shared/button-bar.html')}'" )
         

.container.main-page-container
  .row
  
    .col-xs-12.col-sm-12.col-md-3.col-lg-3(  )


    .col-xs-12.col-sm-12.col-md-9.col-lg-9()

      .main_panel.leaderboard-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12(style="padding-top: 0px;")
        .spin-team
        .board.ranking(ng-if="board == 'people'")
          %a.item.animated.fadeIn(check-bar-width ng-repeat="person in metroPeople" ng-class="{me: user.nt == person.id , below: person.score <= metroAvg, above: person.score > metroAvg}" ng-if="person.score > 0" score="{{person.score}}"   ng-click="handleBarClick($index, 'board')" )
            .av(ng-if="person.pic != null")
              %img(ng-src="{{person.pic}}" ng-if="person.pic")
            .av(ng-if="person.pic == null")
              .teamCircle
                .rank {{$index + 1}}

            .bar-line(ng-style="getBarWidth(person.score)")
              .ranking-name
                .nameonboard
                  %span(ng-if="person.pic != null") 
                    {{$index + 1}}.
                  {{person.name}}
            
              .score(style="margin-right:-30px;")
                {{convert_score(person.score)}}

            %span(ng-if="$index == metroPeople.length - 1" ng-init="triggerResize()")

        .board.ranking(ng-if="board == 'groups'")
          %a.item.animated.fadeIn(check-bar-width ng-repeat="group in metroGroups" ng-class="{me: user.oid == group.id , below: group.score <= metroAvg, above: group.score > metroAvg}" ng-if="group.score > 0" score="{{group.score}}" ng-click="handleBarClick($index, 'board')"  )
            .av()
              .teamCircle
                .rank {{$index + 1}}

            .bar-line(ng-style="getBarWidth(group.score)")
              .ranking-name
                .nameonboard
                  {{group.name}}
            
              .score(style="margin-right:-30px;")
                {{convert_score(group.score)}}


            /%span(ng-if="$index == metroFactions.length - 1" ng-init="triggerResize()")

        /
          .board.persons(ng-if="bench.length > 0")
            %span.bench
              &#133; On the Bench &#133;
            %a.item.animated.fadeIn(ng-repeat="person in bench | orderBy:'name':reverse"  ng-href="#/person/{{person.slug}}")
              .ranking-name.dark
                {{person.name}}
              %span(ng-if="$index == bench.length - 1" ng-init="triggerResize()")
        /
          %div(ng-if="!showScores()")
            .board.persons
              %a.item.animated.fadeIn(ng-repeat="person in entries | orderBy:'name':reverse" ng-href="#/person/{{person.slug}}")
                .ranking-name.dark
                  {{person.name}}
                %span(ng-if="$index == entries.length - 1" ng-init="triggerResize()")
              

