

.main_panel.col-md-12.col-sm-12.col-xs-12(style="padding-top:15px")

  %div()
    .get-connected(ng-show="connectedDevices.length == 0 && (logs.length == 0 || hasActivityData == false)")
      %p You have not connected a device yet.
      %a.btn.btn-ci.btn-default(ng-href="#/me/trackers")
        Get Connected Now

    .diary(ng-show="(logs.length > 0) && !(connectedDevices.length == 0 && hasActivityData == false)")

      %a.row.log.entry(ng-repeat="log in logs"
                 ng-class="{maxDay: $index == maxDay, minDay: $index == minDay, zero:log.score == 0, editable: $index < 27}"
                 ng-click="$event.preventDefault(); open_log_detail(log, $index)"
                 href="#")
        .col-sm-2.col-xs-3(style="position:relative")
          .stat-box
            .stat
              {{convert_score(log.score)}}
          .stat-box.stat-box--pencil-icon(style="position: absolute; top: 0; opacity: 0;")
            .stat
              %i(class="fa fa-pencil")
        .col-sm-10.col-xs-9
          .activity
            .date
              {{getLogDate(log.date)}}
              %i(ng-if="$index < 27" class="fa fa-chevron-right" style="font-size: 12px;margin-left: 5px;")
            .entries
              .entries-row
                .entries-row__item(ng-if="log.activities.length == 0")
                  .log-entry.none
                    No Activity
                .entries-row__item(ng-repeat="activity in log.activities|reverse")
                  .log-entry(ng-if="activity.value !== 0")
                    .event
                      %i(ng-class="getClassActivity(activity.activity)" ng-if="getClassActivity(activity.activity) != 'ci-running'")
                      %span(ng-if="getClassActivity(activity.activity) == 'ci-running'")
                        %img(src="/images/running-icon.png" style="width:18px; height: auto; opacity: 0.8; margin-bottom: 5.5px;")
                      %span(ng-if="getClassActivity(activity.activity) == 'swim'")
                        %img(src="/images/swim.png" style="width: 14px; height: auto; opacity: 0.6; margin-bottom: 2px;")
                      %span(ng-if="getClassActivity(activity.activity) == 'mind'")
                        %img(src="/images/mindfulness.png" style="width: 12px; height: auto; opacity: 0.6; margin-bottom: 1px;")
                      %svg(ng-if="activity.unit == 'points'"
                           focusable="false"
                           viewBox="0 0 24 24"
                           aria-hidden="true"
                           role="presentation"
                           style="height:17px;width: 17px;fill: rgb(85, 85, 85);margin-bottom: -4px;")
                        %path(d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6h-2v6H9V9H3V7h18v2z")
                      {{ kFormatter(activity.value) }} {{ activity.unit == 'points' ? 'bonus' : activity.unit == 'kilometers' ? 'km' : activity.unit == 'miles' ? 'mi' : activity.unit == 'meters' ? 'm' : activity.unit}}
            .bar
              .bar-line(ng-style="getBarWidth(log.score)")
          %span(ng-if="$index == logs.length - 1" ng-init="triggerResize()")

%span(ng-init="triggerResize()")
