
          

.main_panel.col-md-12.col-sm-12.col-xs-12()
  .settings_pane
    .list-group
      .list-group-item.clearfix(ng-repeat="device in devices" id="tracker-{{device.name}}")
        %h4(ng-if="device.name != 'dummy'" style="")
          %img(ng-src="{{device.logo}}"  style="width:50px;padding-right:10px;" )
          .title(style="display:inline-block;" ng-if="device.name != 'ios'")
            {{device.display_name}}                        
          .title(style="display:inline-block;" ng-if="device.name == 'ios'")
            Apple Health
          %div.pull-right(style="line-height:32px;")
            .block(ng-if="!device.connected")
              %a.btn.btn-default.btn-ci(ng-href="{{device.auth_link}}?user_uid={{user.nt}}&callback_destination=trackers" analytics-on analytics-category="tracker" analytics-event="connect" analytics-label="{{device.display_name}}" ng-if="device.name != 'ios'")
                Connect
              %a(style="font-size:14px;" ng-href="{{device.purchase_link}}" target="_blank" analytics-on analytics-category="tracker" analytics-event="connect" analytics-label="{{device.display_name}}" ng-if="device.name == 'ios'")
                Go to App Store

            .block(ng-if="device.connected")
              .title(style="display:inline-block;font-size:14px;")
                Last Sync: {{formatSyncTime(device.lastPoll) }} 
                %a.fa.fa-question-circle(style="margin:10px;" ng-href="https://countit.uservoice.com/knowledgebase/articles/1123915-i-ve-connected-my-app-device-but-i-m-not-seeing-t" target="_blank")
                
              %a(style="font-size:14px;" ng-href="{{device.purchase_link}}" target="_blank" analytics-on analytics-category="tracker" analytics-event="connect" analytics-label="{{device.display_name}}" ng-if="device.name == 'ios'")
                Go to App Store
              %div(style="display:inline-block;" ng-hide="confirmDisconnect == 1 || device.name == 'ios'")
                .btn.btn-primary.btn-ci(ng-click="confirmDisconnect = 1")
                  Disconnect

              .confirm(ng-show="confirmDisconnect == 1")
                %p
                  Are you sure?

                %button.btn-ci.btn.btn-primary(ng-click="disconnectTracker(device.name, device.id)" analytics-on analytics-category="tracker" analytics-event="disconnect" analytics-label="{{device.display_name}}")  Proceed
                %button.btn-ci.btn.btn-default(ng-click="confirmDisconnect = 0" ) Cancel
          .clearfix
        %hr(ng-if="device.name != 'dummy'" style="padding:0px;margin:5px;")