
.main_panel.col-md-12.col-sm-12.col-xs-12
  .settings_pane
    .list-group
      .list-group-item
        .title.hidden-md.hidden-lg
          Email Notifications
        .row
          .col-lg-4.col-md-4.hidden-xs.hidden-sm
            .row.title(style="display: table-cell;vertical-align: middle;")
              Email Notifications
          .col-lg-8.col-md-8.col-sm-12.col-xs-12
            .row(style="display: table-cell;vertical-align: middle;")
              #notification_toggle.toggle-iphone
        %hr(style="padding:0px;margin:5px;")
      .list-group-item
        .title.hidden-md.hidden-lg
          SMS Notifications
        .row
          .col-lg-4.col-md-4.hidden-xs.hidden-sm
            .row.title(style="display: table-cell;vertical-align: middle;")
              SMS Notifications
          .col-lg-8.col-md-8.col-sm-12.col-xs-12
            .row(style="display: table-cell;vertical-align: middle;")
              #sms_toggle.disabled.toggle-iphone
        %hr(style="padding:0px;margin:5px;")

    /   .col-xs-3
    /     .option.clearfix(ng-click="updateNotificationSetting(100)"  ng-class="{active: notificationSetting == '100'}")
    /       .radio
    /         %input#normal(type="radio" name="notification" value="100" ng-model="notificationSetting" analytics-on analytics-category="notifications" analytics-event="change" analytics-label="insane")
    /         %label.lbl.padding-8(for="normal") Normal
    /   .col-xs-9
    /     .info
    /       %ul
    /         %li Weekly email progress summary.
    /         %li Push notifications on your phone like all the time.
    /         %li Life coach shows up at your place of work and makes you drop and give him twenty.
            
    / .row
    /   .col-xs-3
    /     .option.clearfix(ng-click="updateNotificationSetting(1)"  ng-class="{active: notificationSetting == '1'}")
    /       .radio
    /         %input#minimal(type="radio" name="notification" value="1" ng-model="notificationSetting" analytics-on analytics-category="notifications" analytics-event="change" analytics-label="mellow")
    /         %label.lbl.padding-8(for="minimal") Mellow
    /   .col-xs-9
    /     .info
    /       %ul
    /         %li Weekly email progress summary.
    /         %li The occasional, really important push notification.
    /         %li No life coach.  Promise.
    / .row
    /   .col-xs-3
    /     .option.clearfix(ng-click="updateNotificationSetting(0)" ng-class="{active: notificationSetting == '0'}")
    /       .radio
    /         %input#disabled(type="radio" name="notification" value="0" ng-model="notificationSetting" analytics-on analytics-category="notifications" analytics-event="change" analytics-label="disabled")
    /         %label.lbl.padding-8(for="disabled") Disabled
    /   .col-xs-9
    /     .info
    /       %ul
    /         %li Nothing.
    /         %li Nada.
    /         %li They are disabled.
        
