-#.row
-#  .col-md-6.col-md-offset-3
-#    %h1 Log in to Count It

.row.semi-spacious
  .col-md-6.col-md-offset-3
    %h3 Let's Do This Thing
    %form(role="form")
      .form-group
        %label(for="password")Enter a New Password
        %input.form-control#password(type="password" ng-model="creds.password" placeholder="e.g., ••••••••••••" autofocus)
      %button.btn.btn-default.btn-ci(ng-click="resetPassword()")
        Reset Password

.row(ng-show="feedback.error")
  .col-md-6.col-md-offset-3
    .alert.alert-danger(role="alert")
      {{feedback.error}}

.row(ng-show="feedback.message")
  .col-md-6.col-md-offset-3
    .alert.alert-success(role="alert")
      {{feedback.message}}
.row.semi-spacious(ng-show="feedback.done == true")
  .col-md-6.col-md-offset-3
    %a.btn.btn-primary.btn-ci(href="#/team")
      Go to team!


.row
  .col-md-6.col-md-offset-3
    Remember your password?
    %a(href="#/login")Login
.row
  .col-md-6.col-md-offset-3
    Don't have an account?
    %a(href="#/create")Create a Count It account.
