

.main_panel.col-md-12.col-sm-12.col-xs-12(style="padding-top:15px")

  %div()
    .diary(ng-show="(logs.length > 0)")

      %a.row.log.entry(ng-repeat="log in logs"
        ng-class="{maxDay: $index == maxDay, minDay: $index == minDay, zero:log.score == 0, editable: $index < 27}"
        ng-click="$event.preventDefault(); open_log_detail(log, $index)"
        href="#")

        .col-sm-2.col-xs-3
          .stat-box(style="position:relative")
            .stat
              {{convert_score(log.score)}}
          .stat-box.stat-box--pencil-icon(style="position: absolute; top: 0; opacity: 0;")
            .stat
              %i(class="fa fa-pencil")

        .col-sm-10.col-xs-9
          .activity
            .date
              {{getLogDate(log.date)}}
            .entries
              .entries-row
                .entries-row__item(ng-if="log.activities.length == 0")
                  .log-entry.none
                    No Activity
                .entries-row__item(ng-repeat="activity in log.activities|reverse")
                  .log-entry(ng-if="activity.value !== 0")
                    .event
                      %i(ng-class="getClassActivity(activity.activity)" ng-if="getClassActivity(activity.activity) != 'ci-running'")
                      %span(ng-if="getClassActivity(activity.activity) == 'ci-running'")
                        %img(src="/images/running-icon.png" style="width:18px; height: auto; opacity: 0.8; margin-bottom: 5.5px;")
                      %svg(ng-if="activity.unit == 'points'"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      role="presentation"
                      style="height:17px;width: 17px;fill: rgb(85, 85, 85);margin-bottom: -4px;")
                        %path(d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6h-2v6H9V9H3V7h18v2z")
                      {{ kFormatter(activity.value) }} {{ activity.unit == 'points' ? 'bonus' : activity.unit == 'kilometers' ? 'km' : activity.unit == 'miles' ? 'mi' : activity.unit}}
            .bar
              .bar-line(ng-style="getBarWidth(log.score)")
          %span(ng-if="$index == logs.length - 1" ng-init="triggerResize()")


%span(ng-init="triggerResize()")
