.top-nav{:role => "navigation", :style => "border-bottom: 1px solid #d7d7d7; max-width:1700px; padding-top: 2px; margin-top:1px;"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button", }
      %i.fa.fa-bars
    %a.navbar-brand{ :href => "/#/"}
      %img.img-responsive{:height => "150", :src => "./images/count-it-dot.png", :width => "150", :style => "margin-top: -7px; margin-left: 60px;"}
    / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    %ul.nav.navbar-nav
      / Hidden li included to remove active class from about link when scrolled up past about section
      %li
        %a.page-scroll{:href => "/#/slack"}
          %img.img-responsive{:src => "./images/slacklogo.png", :height => "25", :width =>"25", :style => "margin-top:-6px; margin-right: 5px;"} 
          %span Count.It for Slack
      %hr.hidden-sm.hidden-md.hidden-lg         
      %li
        %a.page-scroll{:href => "/#/pro"} Workplace Wellness
      %hr.hidden-sm.hidden-md.hidden-lg 
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/create"}
          Join 
          %strong Free 
      %hr.hidden-sm.hidden-md.hidden-lg 
      %li.hidden-xs.hidden-sm
        %a(style="padding-left:2px;padding-right:2px; margin-top: -15px;" )
        |
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/login"}Login

      %li(ng-if="user")
        %a(href="#/me")
          {{user.f}}

.pro
  .section1
    .container
      .row
        .col-md-6
          .row
            .col-md-8.col-md-offset-3
              %h1 Go Pro!
              %p Welcome to Wellness 2.0. Count It PRO delivers a new approach to gym reimbursements, fitness challenges, and corporate perks. Push-button easy, low cost, and wonderfully effective.
          .row
            .col-md-10.col-md-offset-3
              %a.btn.btn-success.btn-pro.btn-ci(ng-href="#/plan")
                Try Count It PRO!
          .row
            .col-md-8.col-md-offset-3
              %ul
                %li Starts at $9 per month.
                %li Purchase online and get started in minutes.
                %li Cancel any time.


        .col-md-6
          #carousel-featues.carousel.slide(data-ride="carousel" data-interval="3000")
            .features.carousel-inner
              .feature-wrap.item.active
                .feature
                  .feature-icon
                    %img(src="/images/landing/star.png")
                .feature-caption
                  Set Goals & Prizes
              .feature-wrap.item
                .feature
                  .feature-icon
                    %img(src="/images/landing/people.png")
                .feature-caption
                  Create Internal Teams
              .feature-wrap.item
                .feature
                  .feature-icon
                    %img(src="/images/landing/bars.png")
                .feature-caption
                  Track Progress
              .feature-wrap.item
                .feature
                  .feature-icon
                    %img(src="/images/landing/ribbon.png")
                .feature-caption
                  Declare Victory
            %ol.carousel-indicators
              %li.active(data-target="#carousel-featues" data-slide-to="0")
              %li(data-target="#carousel-featues" data-slide-to="1")
              %li(data-target="#carousel-featues" data-slide-to="2")
              %li(data-target="#carousel-featues" data-slide-to="3")





  .section2.relative
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1 Why? For Whom?
          :markdown
            Count It makes it easy for any group to implement an
            enterprise-class healthy living rewards program. Large
            corporate HR departments pay big money for wellness
            programs, with mixed results. Smaller companies either
            hustle to "roll their own" programs, go without, or lean
            on their insurance company's offerings. The frustrating
            result: Programs that are costly, difficult to administer,
            and frequently ignored by employees.

            "Wellness," in fact, often feels well-intentioned, but
            doomed to lameness. Despite huge investments of time and
            money, most programs suffer from painfully low
            engagement. Good news: Change is in the air!

            Count It mashes up new mobile technology and social
            computing to deliver an "always on" healthy living
            game. More importantly, we think of "wellness" in a new
            way. It doesn't stop at the corporate firewall, and it's not
            a bad tasting vitamin handed out by HR. It's a fun
            grassroots movement, and the more people who join, the more
            better it gets.

            Healthy is contagious. Join us!

    .downer
      %img(src="/images/landing/arrow-down.png")


  .section3
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1 Rewards
          %p Count It converts all daily activity into a simple Count It score. With a few clicks, you can set Count It score goals for your group, and choose your rewards.
          .row
            .col-md-12.features
              .row
                .col-md-3
                  .feature
                    .feature-icon
                      %img(src="/images/landing/cards.jpg")
                .col-md-9
                  %p
                    %strong
                      Individual Rewards:
                    Each person who achieves the monthly individual goal earns a gift card from Amazon, Chipotle, or other supported vendor. You set the budget and choose the prize, we do the rest. More fair, more effective, and far easier to implement than a conventional gym reimbursement program.
              .row
                .col-md-3
                  .feature
                    .feature-icon
                      %img(src="/images/landing/ribbon.jpg")
                .col-md-9
                  %p
                    %strong
                      Group Rewards:
                    One for all, and all for one. When the group hits the goal, everyone wins. Create your own group prize, or pledge a donation to charity on behalf of the group. Count It makes this one-click easy — we connect to every U.S. non-profit. Give a little, and watch the world pay your group back in the form of higher productivity, lower absenteeism, and more committed people.


  .section4
    .container
      .row
        .col-md-8.col-md-offset-2
          .features
            .row.feature-row
              .col-lg-3.col-md-4
                .feature
                  .feature-icon
                    %img(src="/images/landing/people.png")
              .col-lg-9.col-md-8
                %h1 DIY Teams
                %p
                  When you go PRO, you can set up internal teams for your departments or divisions, e.g. sales, marketing, human resources, or IT. Settle the score once and for all: Which department rules?
            .row.feature-row
              .col-lg-3.col-md-4
                .feature
                  .feature-icon
                    %img(src="/images/landing/bars.png")
              .col-lg-9.col-md-8
                %h1  Friendly Reports
                %p
                  Manage your group's membership, and track your group's progress from day to day, or month to month. Get real time feedback on the efficacy of the program.
            .row.feature-row
              .col-lg-3.col-md-4
                .feature
                  .feature-icon
                    %img(src="/images/landing/tech.png")
              .col-lg-9.col-md-8
                %h1 Discounts on Trackers!
                %p
                  Count It offers all PRO clients significant discounts on bulk orders of top wearable tracking devices from our partners, including Misfit Wearables and Fitbit. Let us hook you up! Not sure what to pick? 
                  %a{:href => "/#/trackers", :target => "_blank"}Check out our rankings of the most popular trackers on Count It.


            .feature-callout
              .row
                .col-lg-3.col-md-4
                  .feature
                    %h3
                      %i.fa.fa-usd
                      1
                .col-lg-9.col-md-8
                  %h1  Super Simple Pricing
                  %p
                    Pricing starts at a $9 per month. After that, it's simply
                    %strong $1 per user per month.
                    We bill you only for registered users, not for all people in your group.
                  %a.btn.btn-success.btn-pro.btn-ci.btn-block(ng-href="#/plan")
                    Go Pro!

                  %ul
                    %li Starts at $9 per month.
                    %li Purchase online and get started in minutes.
                    %li Cancel any time.

  .section5(ng-if="false")
    .container
      .row
        .col-md-9.col-md-offset-2
          %h1
            Pro FAQ / Resources
          .faqs
            .faq
              %h3(faq)
                %span.fa-stack.fa-lg.point()
                  %i.fa.fa-circle-thin.fa-stack-2x
                  %i.fa.fa-plus.fa-stack-1x
                  %i.fa.fa-minus.fa-stack-1x

                Do you work with my insurance plan?
              %p
                This is dummy text.  When you read this you will know that you shouldn’t put it in the final draft of the website.  I hope this makes sense so that I don’t have to google .how to spell lorem ipsum.
            .faq
              %h3(faq)
                %span.fa-stack.fa-lg.point()
                  %i.fa.fa-circle-thin.fa-stack-2x
                  %i.fa.fa-plus.fa-stack-1x
                  %i.fa.fa-minus.fa-stack-1x
                Do my employees need activity tracking devices?
              %p
                This is dummy text.  When you read this you will know that you shouldn’t put it in the final draft of the website.  I hope this makes sense so that I don’t have to google .how to spell lorem ipsum.
            .faq
              %h3(faq)
                %span.fa-stack.fa-lg.point()
                  %i.fa.fa-circle-thin.fa-stack-2x
                  %i.fa.fa-plus.fa-stack-1x
                  %i.fa.fa-minus.fa-stack-1x
                How do you protect our privacy and who will be able to see all the data?
              %p
                This is dummy text.  When you read this you will know that you shouldn’t put it in the final draft of the website.  I hope this makes sense so that I don’t have to google .how to spell lorem ipsum.
            .faq
              %h3(faq)
                %span.fa-stack.fa-lg.point()
                  %i.fa.fa-circle-thin.fa-stack-2x
                  %i.fa.fa-plus.fa-stack-1x
                  %i.fa.fa-minus.fa-stack-1x
                What sort of payments do you accept?
              %p
                This is dummy text.  When you read this you will know that you shouldn’t put it in the final draft of the website.  I hope this makes sense so that I don’t have to google .how to spell lorem ipsum.
            .faq
              %h3(faq)
                %span.fa-stack.fa-lg.point()
                  %i.fa.fa-circle-thin.fa-stack-2x
                  %i.fa.fa-plus.fa-stack-1x
                  %i.fa.fa-minus.fa-stack-1x
                Who pays for the rewards?
              %p
                This is dummy text.  When you read this you will know that you shouldn’t put it in the final draft of the website.  I hope this makes sense so that I don’t have to google .how to spell lorem ipsum.
                
.foot(ng-include src="'#{asset_path('shared/footer.html')}'")
