.row.row-offcanvas.row-offcanvas-left(offcanvas)
  .col-lg-3.col-md-3.side

    %i.hidden-lg.hidden-md.fa.fa-question-circle.point(data-toggle="offcanvas")
    %ul.list-unstyled.faqs.sidebar-offcanvas


      %li.clearfix(ng-if="true" ng-click="setSelectedFaq(this)")
        %i.fa.fa-caret-right(ng-hide="selected")
        %i.fa.fa-caret-down(ng-show="selected")
        .faq-info(ng-class="{expand:selected}")
          What is this?
          .expanded.animated.flipInX(ng-if="selected")
            Set your group goals, pledge a reward budget, and choose your lunch! If the group achieves the goal, we email each member a gift card with an equal share of the reward. If not, well, there's no free lunch.

      %li.clearfix(ng-if="true" ng-click="setSelectedFaq(this)")
        %i.fa.fa-caret-right(ng-hide="selected")
        %i.fa.fa-caret-down(ng-show="selected")
        .faq-info(ng-class="{expand:selected}")
          What happens if it's not the start of the month?
          .expanded.animated.flipInX(ng-if="selected")
            Need content

      %li.clearfix(ng-if="true" ng-click="setSelectedFaq(this)")
        %i.fa.fa-caret-right(ng-hide="selected")
        %i.fa.fa-caret-down(ng-show="selected")
        .faq-info(ng-class="{expand:selected}")
          Can I change my reward?
          .expanded.animated.flipInX(ng-if="selected")
            Need content

      %li.clearfix(ng-if="true" ng-click="setSelectedFaq(this)")
        %i.fa.fa-caret-right(ng-hide="selected")
        %i.fa.fa-caret-down(ng-show="selected")
        .faq-info(ng-class="{expand:selected}")
          What if I only have a few people in my group, can I still participate?
          .expanded.animated.flipInX(ng-if="selected")
            Need content

      %li.clearfix(ng-if="true" ng-click="setSelectedFaq(this)")
        %i.fa.fa-caret-right(ng-hide="selected")
        %i.fa.fa-caret-down(ng-show="selected")
        .faq-info(ng-class="{expand:selected}")
          What if I have 5,000 people in my group, can I still participate?
          .expanded.animated.flipInX(ng-if="selected")
            Need content



  .col-lg-9.col-md-9.main()
    .company.summary.short
      %h1
        {{office.n}}
        %span.orange
          Rewards
    .step(app-view-segment="2")
