.top-nav{:role => "navigation", :style => "border-bottom: 1px solid #d7d7d7; max-width:1700px; padding-top: 2px; margin-top:1px;"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button", }
      %i.fa.fa-bars
    %a.navbar-brand{ :href => "/#/"}
      %img.img-responsive{:height => "150", :src => "./images/count-it-dot.png", :width => "150", :style => "margin-top: -7px; margin-left: 60px;"}
    / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    %ul.nav.navbar-nav
      / Hidden li included to remove active class from about link when scrolled up past about section
      %li
        %a.page-scroll{:href => "/#/slack"}
          %img.img-responsive{:src => "./images/slacklogo.png", :height => "25", :width =>"25", :style => "margin-top:-6px; margin-right: 5px;"} 
          %span Add to Slack!
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/trackers"} Trackers Guide   
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pricing"} Pricing
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pro"} PRO Features
      %hr.hidden-sm.hidden-md.hidden-lg
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/create", :style => ""}
          %strong Join 
      %li(ng-if="user")
        %a.page-scroll{:href => "/#/team", :style => ""}
          %strong Home
      %hr.hidden-sm.hidden-md.hidden-lg 
      %li.hidden-xs.hidden-sm
        %a{:style => "padding-left:2px;padding-right:2px; margin-top: -15px;"}
        |
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/login", :style => ""}Login
      %li(ng-if="user")
        %a{:href => "#/me", :style => ""}
          {{user.f}}
//this is the meat and potatoes of the page, loops through it all in angular(in app.js). when we make this real time, its going to definetely need some tweaking, but storing the models in app.js works for now.
.guide_body{:style => "margin-top: 0px;"}
  
  .wearable{:style => "height: 250px; background-color: #00adef"}      
    .col-xs-9.col-xs-offset-2
      %div{:style => "height:25px;"}
      %div.hidden-lg.hidden-md.hidden-sm{:style => "height: 125px;"}
      %img.hidden-xs.hidden-sm.hidden-md{:src => "/images/guidebot.png", :style => "height:100px; width:100px; margin-left: 50px; margin-top: 50px;"}
      %img.hidden-xs.hidden-md.hidden-lg{:src => "/images/guidebot.png", :style => "height:100px; width:100px; margin-left: -100px; margin-top: 50px;"}
      %img.hidden-xs.hidden-sm.hidden-lg{:src => "/images/guidebot.png", :style => "height:100px; width:100px; margin-left: -45px; margin-top: 50px;"}
      %img.hidden-xs.hidden-sm.hidden-md.hidden-lg{:src => "/images/guidebot.png", :style => "height:100px; width:100px; margin-left: -50px; margin-top: 50px;"}
      %h1{:style => "color:white;  font-family: 'AvantGarde-Demi',  sans-serif; font-size: 60px; text-align:center;  margin-top: -90px "} Top Fitness Trackers
      /%h4{:style => "text-align:center; color:white; font-size: 50px; padding-top: 10px; font-family:'AvantGarde-Demi',  sans-serif;"} Wearables Guide
      %h3{:style => "color: #555555; font-weight: 100; color:white; font-size: 21px; text-align:center; margin-top: -2px;"} Live rankings of wearable devices and apps on Count.It 

  .container-fluid
    .row
      .col-md-6.col-md-offset-3

      //sorting tools
      .col-md-8.col-md-offset-2
        %div{:style => "text-align:right; padding-top: 20px;"}
          %a.users.on{"ng-click" => "sortBy('users')", :style => "cursor:pointer"} Popularity 

          %span{"ng-class" => "{reverse: reverse}", "ng-show" => "orderProp === 'users'"}
          |
          %a.cost{"ng-click" => "sortBy('cost')", :style => "cursor:pointer"} Lowest Price 
          %span{"ng-class" => "{reverse: reverse}", "ng-show" => "orderProp === 'cost'"}
          |
          %a.models{"ng-click" => "sortBy('models')", :style => "cursor:pointer"} Number of Devices 
          %span{"ng-class" => "{reverse: reverse}", "ng-show" => "orderProp === 'models'"}
        %hr

      //the loop through the devices in list
      .devices_sort
        .col-md-8.col-md-offset-2{"ng-repeat" => "device in devices | orderBy: orderProp:reverse", :style => "color: #555555;"} 

          .post-container
            .post-thumb
              %img{:src => "{{device.imageUrl}}", :style => "height: 75px; width: 75px;"}/
            .post-content
              .col-md-12
                %h3{:style => "display:inline; line-height: 1.5;"} {{device.company}}
              .col-md-4
                %h4{:style => "display:inline; line-height: 1.25; color:#27c302;"} {{device.percent}}%
                %h4{:style => "display:inline; line-height: 1.25;"}
                %span of Count.It Users
              .col-md-5
                %h4{:style => "display:inline; line-height: 1.25; ", "ng-if" => "device.cost"} Base Model:
                %span{:style => "display:inline; line-height: 1.25;  ", "ng-if" => "device.cost != 'Free App'"} {{device.base}},
                %span{:style => "display:inline; line-height: 1.25;  ", "ng-if" => "device.cost === 'Free App'"} {{device.cost}}
                %span{:style => "display:inline; line-height: 1.25; ", "ng-if" => "device.cost != 'Free App'"} ${{device.cost}}
              .col-md-2
                %h4.model-fix{:style => "display:inline; line-height: 1.25; ", "ng-if" => "device.models"} Models:
                %span{:style => "font-weight:heavy;"}{{device.models}} 
                //%b
              .col-md-1
                %i.fa.fa-mobile.fa-2x.tracker-fa{"ng-if" => "device.type === 'App'"}
                %img.tracker-img{:src => "/images/wearable.png", "ng-if" => "device.type === 'Wearables'"} 
                %i.fa.fa-mobile.fa-2x.tracker-fa{"ng-if" => "device.type === 'Wearables'"} 
                %br
                %a{:href => "https://www.invitefitness.com/count-it-catalog/"}
                  .btn.btn-guide{"ng-if" => "device.bulk"}Shop
                %a{:href => "{{device.outsidebuy}}"}
                  .btn.btn-guide{"ng-if" => "device.outsidebuy"}Shop
                %a{:href => "{{device.link}}"}
                  .btn.btn-guide{:style => "background: #00adef; border: #00adef;", "ng-if" => "device.link"}Download
              .col-sm-10
                %h4{:style => "font-style: italic; color: #818285; font-weight:100;"}{{device.info}}   
          %hr
%div.hidden-lg.hidden-xs.hidden-sm{:style => "height: 200px;"}
%div.hidden-md.hidden-sm.hidden-lg{:style => "height: 150px;"}
.foot(ng-include src="'#{asset_path('shared/footer.html')}'")