
.top-nav{:role => "navigation", :style => "max-width:1700px; position: relative; z-index:1; padding-top: 2px; background:none;"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button", }
      %i.fa.fa-bars
    %a.navbar-brand{ :href => "/#/"}
      %img.img-responsive{:height => "150", :src => "./images/countdot-white.png", :width => "150", :style => "margin-top: -7px; margin-left: 60px;"}
    / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    %ul.nav.navbar-nav
      / Hidden li included to remove active class from about link when scrolled up past about section
      %li
        %a.page-scroll{:href => "/#/slack"}
          %img.img-responsive{:src => "./images/slacklogo.png", :height => "25", :width =>"25", :style => "margin-top:-6px; margin-right: 5px;"} 
          %span{:style => "color:white; "} Add to Slack!
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/trackers", :style => "color:white; "} Trackers Guide
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pricing", :style => "color:white;"} Pricing
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pro", :style => "color:white; "} PRO Features
      /
        %hr.hidden-sm.hidden-md.hidden-lg 
        %li{:style => "padding-right: 25px;"}
          %a.page-scroll{:href => "/#/pricing"} Pricing
      %hr.hidden-sm.hidden-md.hidden-lg      

      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/create", :style => "color:white; "}
          %strong Join 
      %li(ng-if="user")
        %a.page-scroll{:href => "/#/team", :style => "color:white; "}
          %strong Home
      %hr.hidden-sm.hidden-md.hidden-lg 
      %li.hidden-xs.hidden-sm
        %a{:style => "padding-left:2px;padding-right:2px; margin-top: -15px; color:white;"}
        |
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/login", :style => "color:white;"}Login
      %li(ng-if="user")
        %a{:href => "#/me", :style => "color:white; "}
          {{user.f}}

.pro2_body

  %section.module.container-fluid
    .row
      .pro_section_video{:style => "margin-top: -70px; border-top: 1px solid #d7d7d7; text-align:center;"}
        .col-md-8.col-md-offset-2
          %div.hidden-md.hidden-lg
          %div.hidden-xs{:style => "height: 280px;"}
          %div.hidden-md.hidden-lg.hidden-sm{:style => "height: 125px;"}
          %a
            .btn.btn-open.btn-pro2.fancybox-media{:href => "https://vimeo.com/178223501"} 
              Watch the Tour 
              %i.fa.fa-play{"aria-hidden" => "true", :style => "padding-left: 10px;"}


  //pro subtext section(may not be necessary in final release)
  %section.module.container-fluid
    .row
      .pro_section4  
        .col-sm-8.col-sm-offset-2
          %div{:style => "height: 75px;"}
          %h3{:style => "color: #555555; font-size: 60px; font-family: 'AvantGarde-Demi',  sans-serif;  text-align:center;"} 
            Count.It
            %span{:style => "color: #00adef;"} PRO
          %p{:style => "font-size: 20px; text-align:center;"} For smart HR teams and community managers: Count.It PRO transforms our popular free service into a culture-building wellness program with minimal effort and cost.
          %div{:style => "text-align:center;"}
            %br
            %a{:href => "#/pricing"}
              .btn.btn-open.btn-new.btn-lg Join Count.It PRO
          /
            %a
              .btn.btn-open.btn-pro2.fancybox-media{:href => "https://vimeo.com/177157069"} 
                Schedule a Demo
  %div{:style => "height: 50px;"}

  //admin dashboards, blue background
  %section.module.container-fluid
    .row
      .pro_section1
        .col-sm-5.col-sm-offset-1
          %img.img-responsive{:src => "./images/pro-goals4.png", :height => "", :width => "", :style => ""}
        .col-sm-5
          %div.hidden-xs{:style => "height: 75px;"}
          %h3{:style => " font-size: 40px; color: #555555;"} Goals & Challenges
          %p Set goals that are achievable, but inspiring — for individuals, internal teams, or for the whole group. Watch your people rise to the occasion!

  //detailed reporting, blue background
  %section.module.container-fluid
    .row
      %div.hidden-xs{:style => "height: 25px;"}
      .pro_section1
        .col-sm-5.col-sm-offset-1

          %div.hidden-xs{:style => "height: 50px;"}
          %img.img-responsive.hidden-md.hidden-lg.hidden-sm{:src => "./images/pro-rewards5.png"}
          %h3{:style => "font-size: 40px; color:#555555;  "} Push Button Rewards
          %p Sweeten the pot! Count It fully automates the delivery of gift cards from Amazon, Chipotle, and others; or you can create your own prizes with a few clicks.
        .col-sm-5
          %img.img-responsive.hidden-xs{:src => "./images/pro-rewards5.png"}

  %section.module.container-fluid
    .row
      %div.hidden-sm.hidden-md.hidden-lg{:style => "height: 75px;"}

      .pro_section1
        .col-sm-5.col-sm-offset-1
          %img.img-responsive{:src => "./images/pro-teams3.png", :height => "", :width => "", :style => ""}
        .col-sm-5
          %div.hidden-xs{:style => "height: 75px;"}
          %h3{:style => " font-size: 40px; color: #555555; "} Internal Teams
          %p One for all, and all for one! Finally, the long simmering rivalry between marketing and engineering can be resolved. Safely.
      %div.hidden-xs{:style => "height: 75px;"}
  //rewards section
  %section.module.container-fluid
    .row
      .pro_section2{:style => "background-color: #00adef;"}
        %div{:style => "height: 75px;"}
        .col-sm-8.col-sm-offset-2
          %h3{:style => "color: white; font-size: 50px; font-family: 'AvantGarde-Demi',  sans-serif; text-align:center;"} PRO Dashboards
        .col-sm-8.col-sm-offset-2
          %p{:style => "color: white; text-align:center;"} Manage your group's membership, and track your group's progress from day to day, or month to month. Get real time feedback on the efficiency of the wellness program.
        .col-sm-10.col-sm-offset-1
          %img.img-responsive{:src => "./images/dashmock2.png", :height => "", :width => "", :style => ""}

  //call to action section    

  %section.module.container-fluid{:style => "text-align:center;"}
    .row
      .pro_section2{:style => "background-color: #0bd5d8;"}
        %div{:style => "height: 75px;"}
        .col-sm-8.col-sm-offset-2
          %h3{:style => "color: white; font-size: 50px; font-family: 'AvantGarde-Demi',  sans-serif; text-align:center;"} Count.It Leagues
        .col-sm-8.col-sm-offset-2
          %p{:style => "color: white; text-align:center;"} Count.It works with co-working spaces, wellness consultants, local governments, and others to organize intergroup leagues, complete with standings and prizes. Ready to transform your community? Talk to us!
          %a{:href => "messages/new"}
            .btn.btn-open.btn-white.btn-lg Schedule A Demo
        .col-sm-10.col-sm-offset-1{:style => "text-align:center;"}
          %img.img-responsive{:src => "./images/leaguemock.png"}

  
  %section.module.container-fluid
    .pro_section4 
      .row
        .col-sm-8.col-sm-offset-2
          %div{:style => "height: 75px;"}
          %h3{:style => "color: #555555; font-size: 50px; font-family: 'AvantGarde-Demi',  sans-serif;  text-align:center;"} 
            
            %span{:style => "color: #00adef;"} We ❤️ Count.It!
          %p{:style => "font-size: 20px; text-align:center;"} Companies — and counties — use Count.It to help energize their people.

          %div{:style => "height: 75px;"}
      .row
        .col-sm-4.col-sm-offset-2
          .panel.panel-default{:style => "box-shadow: 5px 5px 2px #fafafa;"}

            .panel-body{:style => "text-align:center;"}
              %div{:style => "height: 75px;"}
              %img.img-responsive{:alt => "Chania", :style => "width:50%; height:50%;", :src => "./images/case-study-logo-hyatt.png"}/
              %p{:style => "text-align:center; font-size: 18px;"} 
                "Employees really like it. It's a big property so people walk around a lot."
                %br
              %p{:style => "text-align:center; font-size: 15px;"} 
                Victor Povzner, IT Director Hyatt Hotels International. 
                %br
                %br
                %br
              .fa.fa-chevron-down.fa-2x.case-study{"aria-label" => "Toggle ngHide", "ng-click" => "checked1 = !checked1", "ng-hide" => "checked1"}
              %br
              %div
                %br
                %p{"ng-show" => "checked1"}
                  Three Hyatt hotels in San Francisco, each with about 400 employees, have launched Count.It fitness challenges 
                  %strong
                    using the league functionality to increase employee engagement. 
                  %br
                  %br
                  Victor Povzner, IT Director at Hyatt Regency San Francisco, reports that that Count.It has gotten employees competing and having fun. “Employees really like it, ” he says, “It’s a big property so the employees actually walk a lot.”
                  %br
                  %br
                  Before launching Count.It, the hotel had only small employee clubs geared around specific activity interests, such as running club or yoga club. The scope of these clubs was very limited and only a select number of exceptionally active employees participated. 
                  %br
                  %br
                  Now, with Count.It challenges, many more employees are involved and competing against each other within and amongst Hyatt hotel locations in San Francisco creating an interconnected Hyatt community.
                  %br
                  .fa.fa-chevron-up.fa-2x.case-study{"aria-label" => "Toggle ngHide", "ng-click" => "checked1 = !checked1", "ng-show" => "checked1"}
              %div{:style => "height: 25px;"}
        .col-sm-4
          .panel.panel-default{:style => "box-shadow: 5px 5px 2px #fafafa;"}

            .panel-body{:style => "text-align:center;"}
              %div{:style => "height: 30px;"}
              %img.img-responsive{:alt => "Chania", :style => "width:40%; height:40%;", :src => "./images/case-study-logo-marion.JPG"}/
              %br
              %br

              %p{:style => "text-align:center; font-size: 18px;"} 
                "With Count.It challenges we hope to start a movement throughout the entire county that could spread to the country."
                %br
              %p{:style => "text-align:center; font-size: 15px;"} 
                Grace Daley, Move Marion - Marion County, Florida
                %br
                %br
              .fa.fa-chevron-down.fa-2x.case-study{"aria-label" => "Toggle ngHide", "ng-click" => "checked = !checked", "ng-hide" => "checked"}
              %br
              %div
                %br
                %p{"ng-show" => "checked"}
                  According to the most recent Robert Wood Johnson and University of Wisconsin Health Rankings, Marion County places 42nd out of Florida’s 67 counties for poor health outcomes. 
                  %br
                  %br
                  More pointedly, the obesity and inactivity levels in the county are both about 5% higher than the Florida state averages.
                  %strong
                    The “Move Marion” program was founded to attack these health issues head on in a fun, inspiring and social way with Count.It-powered activity challenges. 

                  %br
                  %br
                  Funded by the Marion County Health Alliance, the program unites churches, schools, and local businesses on the Count.It platform with one simple goal: to get people to move more. Program manager, Grace Daley, reports that “Move Marion” started with one school and has grown significantly to include many other schools, local businesses and church groups as teams on Count.It. 
                  %br
                  %br 
                  She has high hopes for the power of social fitness challenges to unite people and get them moving: “With Count.It challenges we hope to start a movement throughout the entire county that could possibly spread to the entire country.”
                  %br
                  .fa.fa-chevron-up.fa-2x.case-study{"aria-label" => "Toggle ngHide", "ng-click" => "checked = !checked", "ng-show" => "checked"}


              %div{:style => "height: 20px;"}

       
     

  %section.module.container-fluid
    .row
      .pro_sectionA{:style => "height: 50px;"}
      %div{:style => "height: 25px;"}
        .col-sm-12
          %h3{:style => "color: #555555; font-size: 50px; font-family: 'AvantGarde-Demi',  sans-serif; text-align:center;"} Bonus Services
      %div{:style => "height: 75px;"}
  //devices section

  %section.module.container-fluid
    .row
      .pro_section1
        .col-sm-5.col-sm-offset-1
          %div{:style => "height: 25px;"}
          %img.img-responsive{:src => "./images/pro-device4.jpg", :height => "", :width => "", :style => ""}
        .col-sm-5
          %div.hidden-xs{:style => "height: 75px;"}
          %h3{:style => "font-size: 40px; color: #555555;"} Get Devices!
          %p 
            Count It offers all PRO clients significant discounts on bulk orders of top fitness tracking devices from our partners, including Misfit Wearables and Fitbit.  
            %a{:href => "https://www.invitefitness.com/count-it-catalog/", :target => "_blank"}Let us hook you up! 

            Not sure what to pick? Check out our rankings of
            %a{:href => "/#/trackers", :target => "_blank"} the most popular trackers on Count It.

  //partners section
  %section.module.container-fluid
    .row
      .pro_section1
        .col-sm-5.col-sm-offset-1
          %div{:style => "height: 100px;"}
          %img.img-responsive.hidden-md.hidden-lg.hidden-sm{:src => "./images/pro-partner2.png", :height => ""}
          %h3{:style => "font-size: 40px; color: #555555;"} In-Office Programs
          %p Take your step challenges offline with our partners - get in-office yoga, kickboxing, and massages with great discounts through our partnership with Exuburancy.
          
        .col-sm-5
          %img.img-responsive.hidden-xs{:src => "./images/pro-partner2.png", :height => "", :width => "", :style => ""}
          
    %div{:style => "height: 100px;"}


  //call to action section     
  %section.module.container-fluid{:style => "text-align:center;"}
    .row
      .pro_section3{:style => "background-color: #00adef;"}
        .col-sm-12
          %div{:style => "height: 50px;"}
          %h3{:style => "color: white; font-size: 50px; font-family: 'AvantGarde-Demi',  sans-serif;  text-align:center;"} Disruptive Pricing
          %br
          .plan-circle3{:style => "background-color: #27c302;"}
            %h1{:style => "padding-top: 40px; font-size: 65px; text-align:center; color:white;"}  $2
        .col-sm-8.col-sm-offset-2
          %br
          %p{:style => "color: white;font-size: 20px; text-align:center;"} Count.It PRO is only $2 per registered user per month. No contract required. Cancel at any time. Ready to get moving?
          %br
          %a{:href => "messages/new"}
            .btn.btn-open.btn-white.btn-lg Schedule A Demo
          %p{:style => "color: white; font-size: 20px; text-align:center; padding-top: 15px; padding-bottom: 10px;"} or
          %a{:href => "/#/pricing"}
            .btn.btn-open.btn-white.btn-lg{:style => "margin:auto;"} Go PRO Now
          / Modal


          %div.hidden-md.hidden-sm.hidden-lg{:style => "height: 500px;"}

.foot.lower(ng-include src="'#{asset_path('shared/footer.html')}'")