%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          background: none;
          border-bottom: 2px solid #00adef;
          transition: all 1.0s ease-in-out;

      }

      ::-webkit-input-placeholder {
         font-size: 18px;
      }

      ::-moz-input-placeholder {
         font-size: 18px;
      }

      input[type=text]:focus {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          background:none;
          outline: none;
          transition: all 1.0s ease-in-out;
          border-bottom: 2px solid #2ecc71;
      }


.top-nav{:role => "navigation", :style => "border-bottom: 1px solid #d7d7d7; max-width:1700px; padding-top: 2px; margin-top:1px;"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button", }
      %i.fa.fa-bars
    %a.navbar-brand{ :href => "/#/"}
      %img.img-responsive{:height => "150", :src => "./images/count-it-dot.png", :width => "150", :style => "margin-top: -7px; margin-left: 60px;"}
    / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    %ul.nav.navbar-nav
      / Hidden li included to remove active class from about link when scrolled up past about section
      %li
        %a.page-scroll{:href => "/#/slack"}
          %img.img-responsive{:src => "./images/slacklogo.png", :height => "25", :width =>"25", :style => "margin-top:-6px; margin-right: 5px;"} 
          %span Add to Slack!
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/trackers"} Trackers Guide
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pricing"} Pricing
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pro"} PRO Features
      %hr.hidden-sm.hidden-md.hidden-lg
      
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/create", :style => ""}
          %strong Join 
      %li(ng-if="user")
        %a.page-scroll{:href => "/#/team", :style => ""}
          %strong Home
      %hr.hidden-sm.hidden-md.hidden-lg 
      %li.hidden-xs.hidden-sm
        %a{:style => "padding-left:2px;padding-right:2px; margin-top: -15px;"}
        |
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/login", :style => ""}Login
      %li(ng-if="user")
        %a{:href => "#/me", :style => ""}
          {{user.f}}


.pro2_body

  //pro subtext section(may not be necessary in final release)
  %section.module.container-fluid
    .row
      .col-sm-3.col-sm-offset-2
        %img.img-responsive.hidden-xs{:src => "./images/holiday-misfit-header-1.gif"}
        %img.img-responsive.visible-xs{:src => "./images/holiday-misfit-header-1.gif", :style => "width: 50%; height: 50%; margin:auto;"}
      .col-sm-6
        .col-sm-12
          %br
          .holiday-vertical-padding
          %h3{:style => "color: #00adef; font-size: 50px; font-family: 'AvantGarde-Demi',  sans-serif; text-align:center;"} The ultimate office stocking stuffer.
          %p{:style => "font-size: 20px; text-align:center;"} Misfit & Count.It have teamed up! Tell us how to find you, and we'll hook you up with devices, a challenge platform, and a very healthy discount.

          %div{:style => "height: 10px;"}
          %input(type="text" size="30" placeholder="Name" ng-model="in.name")
          %input(type="text" size="30" placeholder="Company" ng-model="in.company")
          %input(type="text" size="30" placeholder="Email" ng-model="in.email")
          %input(type="text" size="30" placeholder="Promo Code" ng-model="in.promo" )
          %br
          %br
        .col-sm-4.col-sm-offset-4
          %input.btn.btn-lg.hidden-xs{:type => "submit", :value => "Jumpstart Your Office", :style => "border:none; background-color:#00adef; border-radius:0px; text-align:center; color:white;"}(ng-click="emailPromo()") 
          %input.btn.btn-lg.visible-xs{:type => "submit", :value => "Jumpstart Your Office", :style => "border:none; background-color:#00adef; border-radius:0px; text-align:center; margin:auto; color:white;"}(ng-click="emailPromo()") 

  %section.module.container-fluid
    .row

      %div{:style => "height: 50px;"}
      
    .row
      
      .col-sm-6.col-sm-offset-3.hidden-xs
        %h3{:style => "color: #00adef; font-size: 40px; text-align:center;"} 
          Your Timeline For a Better Office
        %p{:style => "text-align:center; font-size: 20px;"} Getting your office started with Count.It and Misfit is easy with three simple steps. 
      .col-sm-6.col-sm-offset-3.visible-xs
        %h3{:style => "color: #00adef; font-size: 40px; text-align:center;"} 
          Your Timeline For a Better Office
        %p{:style => "text-align:left; font-size: 20px;"} Getting your office started with Count.It and Misfit is easy with three simple steps. 
    %div{:style => "height: 10px;"}

  %section#cd-timeline.cd-container

    .cd-timeline-block
      .cd-timeline-img.cd-picture
        %br
        %p.hidden-xs.hidden-md{:style => "color: white; text-align:center; font-size: 15px;"} 01
        %p.visible-xs.visible-md{:style => "color: white; text-align:center; font-size: 15px; margin-top: -17px;"} 01
      / cd-timeline-img
      .cd-timeline-content
        %img.img-responsive.hidden-md{:src => "./images/holiday-misfits-1.png", :height => "", :width => "", :style => ""}
        %img.img-responsive.visible-md{:src => "./images/holiday-misfits-1.png", :height => "50%", :width => "50%", :style => ""}

        %h3.hidden-lg{:style => "color: #00adef; font-size: 30px;"} November
        %h3.hidden-lg{:style => "color: #555555; font-size: 25px;"} Place Your Device Order
        %p.hidden-lg{:style => "text-align:left; font-size: 20px;"} Let us know how many devices you need and your preferred color and we will handle the rest!
      / cd-timeline-content
    / cd-timeline-block

    .cd-timeline-block.visible-lg
      
      .cd-timeline-content{:style => "margin-top: -400px;"}
    
        %h3{:style => "color: #00adef; font-size: 30px;"} November
        %h3{:style => "color: #555555; font-size: 25px;  text-align:left;"} Place Your Device Order
        %p{:style => "text-align:left; font-size: 20px;"} Let us know how many devices you need and your preferred color and we will handle the rest!
    
    .cd-timeline-block{:style => "display:none;"}

    .cd-timeline-block
      .cd-timeline-img.cd-location
        %br
        %p.hidden-xs.hidden-md{:style => "color: white; text-align:center; font-size: 15px;"} 02
        %p.visible-xs.visible-md{:style => "color: white; text-align:center; margin-top: -17px; font-size: 15px;"} 02

      / cd-timeline-img
      .cd-timeline-content
        %img.hidden-md{:src => "./images/laptop-d.png", :style => "height: 100%; width: 100%;"}
        %img.visible-md{:src => "./images/laptop-d.png", :style => "height: 50%; width: 50%;"}


        %h3.hidden-lg{:style => "color: #00adef; font-size: 30px;"} December
        %h3.hidden-lg{:style => "color: #555555; font-size: 25px;  text-align:left;"} Customize Your Program and Get Connected
        %p.hidden-lg{:style => "text-align:left; font-size: 20px;"} Set up your teams, goals, and rewards so everyone knows the stakes. Get everyone signed up and connected so you can be off to the races come January 1st.

    .cd-timeline-block.visible-lg
      
      .cd-timeline-content{:style => "margin-top: -400px;"}
    
        %h3{:style => "color: #00adef; font-size: 30px;"} December
        %h3{:style => "color: #555555; font-size: 25px;  text-align:left;"} Customize Your Program and Get Connected
        %p{:style => "text-align:left; font-size: 20px;"} Set up your teams, goals, and rewards so everyone knows the stakes. Get everyone signed up and connected so you can be off to the races come January 1st.
     
      / cd-timeline-content
    / cd-timeline-block
    .cd-timeline-block{:style => "display:none;"}

    .cd-timeline-block
      .cd-timeline-img.cd-movie
        %br
        %p.hidden-xs.hidden-md{:style => "color: white; text-align:center; font-size: 15px;"} 03
        %p.visible-xs.visible-md{:style => "color: white; text-align:center; margin-top: -17px; font-size: 15px;"} 03

      / cd-timeline-img
      .cd-timeline-content
        %iframe.hidden-xs{:allowfullscreen => "", :frameborder => "0", :height => "300", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/178219149?title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "100%"}
        %div.visible-xs{:style => "height:100px;"}
        %iframe.visible-xs{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/178219149?title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "100%"}
  
        %h3.hidden-lg{:style => "color: #00adef; font-size: 30px;"} January
        %h3.hidden-lg{:style => "color: #555555; font-size: 25px;  text-align:left;"} Challenge Launch!
        %p.hidden-lg{:style => "text-align:left; font-size: 20px;"} You’ve created an awesome challenge program so gear up for some fun competition to start the new year and watch your New Years Resolution become your routine.


    .cd-timeline-block.visible-lg
      

      / cd-timeline-img
      .cd-timeline-content{:style => "margin-top: -415px;"}
        

        %h3{:style => "color: #00adef; font-size: 30px;"} January 
        %h3{:style => "color: #555555; font-size: 25px;  text-align:left;"} Challenge Launch!
        %p{:style => "text-align:left; font-size: 20px;"} You’ve created an awesome challenge program so, gear up for some fun competition and watch the rivalries unfold (much like they did in the Apartment Therapy office). Pretty soon your New Year’s Resolution is just going to be your routine.

      / cd-timeline-content
    / cd-timeline-block
  %section.module.container-fluid
    .row
      .col-sm-4.col-sm-offset-4
        %div.hidden-xs{:style => "height: 10px;"}
        %img.img-responsive.visible-xs{:src => "./images/countit-misfit-logos.png", :style => "height: 75%; width: 75%; text-align:center; margin: auto;"}
        %img.img-responsive.visible-sm{:src => "./images/countit-misfit-logos.png", :style => "height: 100%; width: 100%; text-align:center; margin: auto;"}
        %img.img-responsive.visible-md.visible-lg{:src => "./images/countit-misfit-logos.png", :style => "height: 80%; width: 80%; text-align:center; margin-left: 45px;"}
        %p{:style => "font-size:20px; text-align:center;"} State-of-the-art wellness programs for smart companies.
        %div{:style => "height: 50px;"}
    

  #myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title{:style => "text-align:center;"} Welcome to a happier, healthier office.
        .modal-body
          %div{:style => "height: 50px;"}
          %p{:style => "text-align:center;"} Thanks for reaching out. We'll be in contact within 24 hours.
          %div{:style => "height: 50px;"}

          
      / /.modal-content
  / /.modal-dialog
/ /.modal
.foot.lower(ng-include src="'#{asset_path('shared/footer.html')}'")