.main-pane
  .container
    %div(ng-if="user.admin == true || user.league_mgr" style="border: 1px solid gainsboro; padding-top: 8px;")
      admin access
      %i.fa.fa-angle-double-right
      %select(ng-model="officeAdmin.oid" ng-options="office.id as office.name for office in officeAdmin.offices")

    .row

      .col-md-3.hidden-xs.hidden-sm
        .subnav.boss
          .subnav_item_left
            Settings
                  
      .col-md-9.col-sm-12

        .subnav.boss.hidden-sm.hidden-xs(style="border-top:none;")

          .subnav_item_right(ng-if="path == '/boss/info' || path == '/boss'")
            Group Profile
          .subnav_item_right(ng-if="path == '/boss/members'")
            Members
          .subnav_item_right(ng-if="path == '/boss/factions'")
            Teams
          .subnav_item_right(ng-if="path == '/boss/challenges'")
            Challenges
          .subnav_item_right(ng-if="path == '/boss/reports'")
            Reporting
          .subnav_item_right(ng-if="path == '/boss/broadcast'")
            Broadcast Messaging
          .subnav_item_right(ng-if="path == '/boss/plan'")
            Plan
          .subnav_item_right(ng-if="path == '/boss/payment'")
            Payment
          .subnav_item_right(ng-if="path == '/boss/integrations'")
            Integrations
          .subnav_item_right(ng-if="path == '/upgrade'")
            Upgrade
                        
        .subnav.boss.hidden-md.hidden-lg
          
          .btn-group
            .btn.dropdown-toggle(data-toggle="dropdown" style="font-size:16px;" )
              %span(ng-if="path == '/boss/info' || path == '/boss'")
                Group Profile
              %span(ng-if="path == '/boss/members'")
                Members
              %span(ng-if="path == '/boss/factions'")
                Teams
              %span(ng-if="path == '/boss/rewards'")
                Rewards
              %span(ng-if="path == '/boss/challenges'")
                Challenges
              %span(ng-if="path == '/boss/reports'")
                Reports
              %span(ng-if="path == '/boss/plan'")
                Plan
              %span(ng-if="path == '/boss/payment'")
                Billing Info
              %span(ng-if="path == '/boss/integrations'")
                Integrations
              %span(ng-if="path == '/boss/broadcast'")
                Messaging
              %span(ng-if="path == '/pricing'")
                Upgrade
              %span.caret
              
            %ul.dropdown-menu(style="font-size:16px;" )
              %li
                %a(dropsel value="Info" ng-click="go('/boss/info')") Group Profile
              %li
                %a(dropsel value="Members" ng-click="go('/boss/members')") Members
              %li
                %a(dropsel value="Integrations" ng-click="go('/boss/integrations')") Integrations
              %li(ng-if="!user.norm && user.of.nitro")
                %a(dropsel value="Teams" ng-click="go('/boss/factions')") Teams
              %li(ng-if="!user.norm && user.of.nitro")
                %a(dropsel value="Challenges" ng-click="go('/boss/challenges')") Challenges
              %li(ng-if="!user.norm && user.of.nitro")
                %a(dropsel value="Reports" ng-click="go('/boss/reports')") Reports
              %li(ng-if="!user.norm && user.of.nitro")
                %a(dropsel value="Broadcast" ng-click="go('/boss/broadcast')") Messaging
                
              %li(ng-if="partner_is_us")
                %a(dropsel value="Plan" ng-click="go('/boss/plan')") Plan
              %li(ng-if="partner_is_us")
                %a(dropsel value="Payment" ng-click="go('/boss/payment')") Billing Info
              /
                %li(ng-if="partner_is_us")
                  %a(dropsel value="Upgrade" ng-click="go('/pricing')") Upgrade
    .row

      .side_panel.col-md-3

        .side_pane.hidden-xs.hidden-sm()
          .side_nav
          
            %ul.list-unstyled.settings-link
              %li
                %div(style="height:10px;")
              %li
                .btn(ng-click="go('/boss/info')"  ng-class="{active: (path == '/boss/info' || path == '/boss') }"  )
                  Group Profile    
              %li
                .btn(ng-click="go('/boss/members')"  ng-class="{active: path == '/boss/members'}" )
                  Members
              %li
                .btn(ng-click="go('/boss/integrations')" ng-class="{active: path == '/boss/integrations'}" )
                  Integrations
              %li
                %div(style="height:10px;")

            %ul.list-unstyled.settings-link(ng-if="!user.norm")
              %li()
                .btn(style="font-weight:bold;")
                  PRO
              %li()
                .btn(ng-disabled="!user.admin && !user.of.nitro" ng-click="go('/boss/factions')" ng-class="{active: path == '/boss/factions'}") 
                  Teams
              %li()
                .btn(ng-disabled="!user.admin && !user.of.nitro" ng-click="go('/boss/challenges')" ng-class="{active: path == '/boss/challenges'}" )
                  Challenges
              %li()
                .btn(ng-disabled="!user.admin && !user.of.nitro" ng-click="go('/boss/broadcast')" ng-class="{active: path == '/boss/broadcast'}" )
                  Messaging
              %li()
                .btn(ng-disabled="!user.admin && !user.of.nitro" ng-click="go('/boss/reports')" ng-class="{active: path == '/boss/reports'}" )
                  Reporting
              %li(ng-if="partner_is_us")
                .btn(ng-click="go('/boss/plan')" ng-class="{active: path == '/boss/plan'}") 
                  Plan
              %li(ng-if="partner_is_us")
                .btn(ng-click="go('/boss/payment')" ng-class="{active: path == '/boss/payment'}" )
                  Billing Info        
         
            %ul.list-unstyled.settings-link(ng-if="!user.admin && user.of.planName=='basic'")
              %li()
                .btn.btn-primary.outline(ng-click="go('/pricing')" ng-class="{active: path == '/pricing'}" style="background-color:#27c302; color:white; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;") Go PRO


      .main_panel.col-md-9.col-sm-12.col-xs-12(style="padding-top:15px")
      
        %div#settings(app-view-segment="2")


