.league()
  %div(ng-include src="'#{asset_path('shared/ticker.html')}'")
  .league-content
    .row
      .col-md-12
        %h4.center.hidden-md.hidden-lg
          {{layout.tagline}}
        %div(app-view-segment="3")
