.row.hero_bar
  .col-sm-2.hidden-xs
    .numberCircle
      .height_fix
      .score {{office.spc}}
      .title AVG
      
  .col-xs-12.col-sm-10
    .top_line {{office.n}}
    /.challenge_month {{office.msl}}
    
    .next_line
      .select_holder
        %select(ng-model="challengeNav.updateNav" ng-options="spec.index as spec.name for spec in challengeNav.challenges" style="")
        
      .other_holder.hidden-xs.hidden-sm
        .right_side
          {{ getChallengeDuration(now(),challenge.endTime) }} Left
          
      .other_holder.hidden-md.hidden-lg.pull-right
        .right_side.btn
          /%img(ng-src="/images/award-ribbon-green.png" style="height:30px;")
          Rewards
          
.row
           
  .col-xs-12
    
    .subnav.hidden-sm.hidden-xs
      .row
        .col-xs-8
          .subnav_item.nolink
            /Leaderboard
          .subnav_item
            something
            
        .col-xs-4(style="padding-top:8px")
          .subnav_well()
            .subnav_item()
              something else

          
    .subnav.hidden-md.hidden-lg
      .btn-group.btn-group-justified(style="padding:5px;")
        .btn-group
          .btn
            %i.fa.fa-circle
            sonething
        .btn-group
          .btn 
            %i.fa.fa-circle
            another

.row

  .main_panel.col-md-8.col-sm-12.col-xs-12
    %h2
      Main Pannel
      
      
      
  .side_panel.col-md-4

    .side_pane.hidden-xs.hidden-sm()
      .side_nav
        %div
          .btn.active(ng-click="go('/me/settings')")
            Account Info
        %div
          .btn(ng-click="go('/me/trackers')")
            Trackers
        %div
          .btn(ng-click="go('/me/teams')")
            Teams
        %div
          .btn(ng-click="go('/me/notifications')")
            Notifications
