#page.row.no-gutterz(ng-class="{'logged-out': !user}")

  .main-pane(app-view-segment="2" ng-style="noUserStyle()")

  %button.trash-talk-container-btn(ng-click="openMobileChat($event)" ng-class="{'is_m_open': isMobileChatOpen }" ng-show="(pageView == 'page') && (path != '/search' ) && (path != '/slack') && (path != '/trash-talk')")
    %i.fa.fa-comment

  .hidden-xs.hidden-sm.hidden-md.trash-talk-container-parent(ng-if="user" ng-class="{'is_m_open': isMobileChatOpen }")
    .trash-talk-container.width#trash-feed(ng-show="(pageView == 'page') && (path != '/search' ) && (path != '/slack') && (path != '/trash-talk')" chatter ng-class="{'chat-full': path == '/trash-talk' }" )
      .secondrow2.hidden-lg(style="background-color: {{partner_color}};text-align:center;")
        .battle-duration(style="padding-top:14px;z-index:100;")
          %button.close_chat_btn(ng-click="closeMobileChat($event)")
            %i.fa.fa-times-circle
          NEWS FEED
      .chatter
        %form.talk-box(role="form" ng-submit="talkTrash()" ng-if="true")
          .talker#talk(style="padding:10px;")
            .mention-containerz
              %textarea.mention(name="talk" ng-model="talk.msg"  rows="4" placeholder="What is on your mind?" type="text" style="width:100%;height:100px;margin-bottom:10px;margin-top:10px;" )
            .row.no-gutters
              .col-md-8(style="color:white;")
                / Use @ to call out a group or metro
              .col-md-4.send-btn-container
                / %button.btn.btn-ci.btn-primary.btn-xs.pull-right(type="submit") Submit
                %button.btn.btn-ci.btn-primary.send-btn(type="submit" style="background-color: {{partner_color}};" )
                  Publish
        .secondrow2(style="background-color: {{partner_color}};text-align:center;")
          .battle-duration.hidden-xs.hidden-sm.hidden-md(style="padding-top:14px;z-index:100;")
            NEWS FEED

        .trash-talkz()
          .trash-talker
            .alert.alert-info(ng-if="chats.length == 0")
              %p
                Be the first to leave a message for your co-workers to see!
            .alert.alert-danger(ng-if="talk.error")
              %p
                {{talk.error}}

            .trash-line.animated.fadeIn(ng-repeat="chat in chats | orderBy: 'ts':true")
              %span.username
                {{chat.uname}}:
              %span.message(ng-bind-html="clean(buildMessage(chat))")

              .time
                {{chat.ts | chatTime}}
                %span(ng-if="!user.norm && chat.uid != 'countit-bot'" ng-click="delTrashTalkMsg(chat.id,chat.uid)" style="cursor:pointer;")
                  ( x )
