.setup
  .main-pane
    .container
      .row
        .col-md-9.col-md-offset-1
          %h1 
            {{pageTitle}}
            %ul.steps
              %li(ng-class="{active:step == 1}")
              %li(ng-class="{active:step == 2}")
              %li(ng-class="{active:step == 3}")
              %li(ng-class="{active:step == 4}")
              %li(ng-class="{active:step == 5}")
          .seper
          %div(app-view-segment="2")
