.relative
  %h3.sec-title.team-standings
    %span.hidden-sm.hidden-xs
      {{getDisplayMonth()}}
    Standings
  .selectors.factions
    .selector(ng-click="refreshBoard('people')")
      .fa.fa-circle(ng-if="board == 'people'")
      People
    .selector(ng-click="refreshBoard('team')")
      .fa.fa-circle(ng-if="board == 'team'")
      Group
.board-people(ng-if="board =='people'")
  .board
    %div(ng-repeat="member in users")
      %a.item.animated.fadeIn(check-bar-width score="{{member.chScore}}" ng-if="member.chScore > 0" ng-href="#/user/{{member.id}}")
        .av
          %img(ng-src="{{member.pic}}" ng-if="member.pic")
        .ranking-name
          %strong
            {{$index + 1}}.
          {{member.name}}
        .bar-line(ng-style="getBarWidth(member.chScore)")
          .score
            {{member.chScore}}
  .board.team(ng-if="bench.people.length > 0")
    %span.bench
      &#133; On the Bench &#133;
    %div(ng-repeat="member in bench.people | orderBy:'name':reverse")
      %a.item.animated.fadeIn(ng-href="#/user/{{member.id}}")
        .av
          %img(ng-src="{{member.pic}}" ng-if="member.pic")
        .ranking-name.dark
          {{member.name}}
.board-teams(ng-if="board =='team'")
  .board
    %div(ng-repeat="team in teams")
      %a.item.animated.fadeIn(check-bar-width score="{{team.chScore}}" ng-if="team.chScore > 0" ng-href="#/office/{{team.slug}}")
        .ranking-name
          %strong
            {{$index + 1}}.
          {{team.name}}
        .bar-line(ng-style="getBarWidth(team.chScore)")
          .score
            {{team.chScore}}
  .board(ng-if="bench.teams.length > 0")
    %span.bench
      &#133; On the Bench &#133;
    %div(ng-repeat="team in bench.teams | orderBy:'name':reverse")
      %a.item.animated.fadeIn(ng-href="#/office/{{team.slug}}")
        .ranking-name.dark
          {{team.name}}
