.relative
  %h3 Join {{league.layout.league_name}}

%div(ng-if="league.layout.is_public == true")
  -# ##################################################################
  -# Public league. Show join button unless user is already a member.
  -# ##################################################################
  %div(ng-if="user && inLeague()")
    %p
      You are already a member of {{league.layout.league_name}}
  %div(ng-if="!(user && inLeague())")
    %p
      Joining the league means you will show up on the league leaderboard!
    %a.btn.btn-ci.btn-league-inverse(ng-if="!user" ng-href="{{onboardViaLeagueLink()}}")
      Yes, Bring It On
    %btn.btn-ci.btn.btn-league-inverse(ng-if="user" ng-click="joinLeague()")
      Yes, Bring It On
    %a.btn-ci.btn.btn-league(ng-href="#/league/{{league.layout.path}}")
      No Thanks.

%div(ng-if="league.layout.is_public == false")
  -# ##################################################################
  -# Private league, require a code, unless user is a member in that
  -# case allow user to remove herself.
  -# ##################################################################
  %div(ng-if="user && inLeague()")
    %p
      You are already a member of {{league.layout.league_name}}.

    %button.btn.btn-ci.btn-league(ng-click="userUnjoin()")
      Leave League
    %a.btn-ci.btn.btn-league-inverse(ng-href="#/league/{{league.layout.path}}")
      Stay in League
  %div(ng-if="!(user && inLeague())")
    %div(ng-if="!(user)")
      -# ##############################################################
      -# No session? Force user to login or create and then manually
      -# return.
      -# ##############################################################
      %p
        Whoa there!  In order to join the league, you will first need to
        create an account or login.
      %a.btn-ci.btn.btn-league-inverse(ng-href="#/create")
        Create Account
      %a.btn-ci.btn.btn-league(ng-href="#/login")
        Login
    %div(ng-if="user")
      -# ##############################################################
      -# Has session, request a code.
      -# ##############################################################
      %p
        You should have received an access code to join this
        league. Please enter it below.
      .row
        .col-md-3
          %form
            .form-group
              %label(for="codeInput")Enter Access Code
              %input.form-control#codeInput(type="text" ng-model="data.accessCode")
            %btn.btn-ci.btn.btn-league-inverse(ng-click="userJoin()") Join
      .row
        .col-md-6
          .alert.alert-danger(ng-show="joinError")
            %p Oh dear! Server says: <b>{{joinError}}</b>
