.prizes(ng-if="!user.admin && isPro == false")
  %h4 Group does not have a Pro Plan
  
.prizes(ng-if="user.admin || isPro == true")
  .row.semi-spacious
    .col-md-12
      .panel.panel-default.settings-controlpanel
        .panel-body
          %h4 Add Custom Dates Challenge
          %span
            By default, every Count.It group runs challenges on the calendar -- daily, weekly and monthly.
            PRO accounts can create "Custom dates" challenges.
          %br
          %br

          %table.table
            %tbody
              %tr(ng-repeat="battle in battles track by $index" ng-mouseenter="setHover($index)" ng-mouseleave="setHover(-1)")
                %td
                  -# Regular user table:
                  -#
                  .row 
                    .col-md-12
                      .col-md-1
                        %li.fa.fa-star-o
                      .col-md-10
                        Custom Challenge: {{formatToUTC(battle.start)}} - {{formatToUTC(battle.end)}}
                      .col-md-1(ng-if="battle.status!='off'")
                        %a(href ng-href ng-click="promptDelete($index)" ng-class="{ toolhidden: !(hoverRow == $index) }")
                          %li.fa.fa-trash
                  -# Prompting for DELETE
                  -#
                  .row(style="margin-top:10px;")
                    .col-md-12
                      .alert.alert-danger(ng-show="options.editRow==$index && options.isDelete==true" colspan="4")
                        Are you sure you want to delete your custom challenge? <br/><br/>
                        %button.btn.btn-ci.btn-danger.btn-sm.btn-noboarder(ng-click="confirmDelete()") Delete
                        %button.btn.btn-ci.btn-primary.btn-sm.btn-noboarder(ng-click="cancelDelete()") Cancel
          
          .challenge-controls(style="margin-left:20px; margin-bottom:10px;")        
            %div(ng-show="options.isEditBattle == false")
              .btn.btn-primary.btn-ci.btn-noboarder(ng-click="addCustomBattle()")
                Add Challenge
                
            .edit-panel(ng-show="options.isEditBattle === true")
              %form
              %input.round-input(type="date" ng-model="battle.startdate" required min="{{battle.st_min| date:'yyyy-MM-dd'}}" ng-change="updateStartDate()")
              %span.with-h-space 
                to
              %input.round-input(type="date" ng-model="battle.enddate" required min="{{battle.et_min| date:'yyyy-MM-dd'}}" max="{{battle.et_max| date:'yyyy-MM-dd'}}")
              %br
              %br
              %div
                .btn.btn-ci.btn-danger.btn-noboarder(ng-click="options.isEditBattle=false;")
                  Cancel
                %button.btn.btn-primary.btn-ci.btn-noboarder(ng-click="saveCustomBattle(battle)")
                  Save

  .row 
    .col-md-12
      / .panel.panel-default
      /   .panel-body
      / .col-md-10
      %h4(style="padding:15px;") Set Goals & Rewards
      / #rcorners2
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default.row
          #headingOne.panel-heading.col-md-12.col-xs-12{:role => "tab"}
            %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button", :style => "font-size:20px;"}
              Individual #1: Basic Activity Benefit
            .col-md-2.col-xs-3
              .togglebutton
                %i.fa.fa-circle-o#reward-status-1
          #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
            .panel-body
              .benefits(ng-class="{on:prizeUi.benefitsGoalType > 0}")
                .reward-form()
                  %br
                  %p.prize-info
                    Choose Goal Type
                  %select.form-control(ng-model="prizeUi.benefitsGoalType")
                    %option(value="0") None
                    %option(value="1") Daily Average
                  %div(ng-show='prizeUi.benefitsGoalType == 1')
                    %p.prize-info
                      Set Daily Average Goal:
                      %strong.blue {{prizeUi.benefitsGoalDifficulty}}
                      / %slider.bar-blue(floor="20" ceiling="200" step="5"  ng-model="prizeUi.benefitsGoalValue" highlight="left")
                    %input(type="range" min="20" max="200" step="5" value="prizeUi.benefitsGoalValue" ng-model="prizeUi.benefitsGoalValue")
                    %p.blue.prize-val {{prizeUi.benefitsGoalValue}} Points - {{pointToSteps(prizeUi.benefitsGoalValue)}} Steps (Equivalent)

                  %div(ng-hide="prizeUi.benefitsGoalType == 0")
                    %p.prize-info
                      Select Reward Type
                    %select.form-control(ng-model="prizeUi.benefitsRewardType")
                      %option(value="r1" ng-if="!user.cc" disabled="disabled") Amazon Gift Card (disabled)
                      %option(value="r2" ng-if="!user.cc" disabled="disabled") Chipotle Gift Card (disabled)
                      %option(value="r5" ng-if="!user.cc" disabled="disabled") Starbucks Gift Card (disabled)
                      %option(value="r6" ng-if="!user.cc" disabled="disabled") Fandango Gift Card (disabled)
                      %option(value="r7" ng-if="!user.cc" disabled="disabled") Lululemon Gift Card (disabled)
                      %option(value="r8" ng-if="!user.cc" disabled="disabled") ClassPass Gift Card (disabled)
                      %option(value="r9" ng-if="!user.cc" disabled="disabled") Whole Foods Market Gift Card (disabled)
                      %option(value="r10" ng-if="!user.cc" disabled="disabled") Target Gift Card(disabled)
                      %option(value="r11" ng-if="!user.cc" disabled="disabled") Dunkin Donuts Gift Card (disabled)
                      %option(value="r12" ng-if="!user.cc" disabled="disabled") Panera Bread Gift Card (disabled)
                      %option(value="r1" ng-if="user.cc") Amazon Gift Card 
                      %option(value="r2" ng-if="user.cc") Chipotle Gift Card 
                      %option(value="r5" ng-if="user.cc") Starbucks Gift Card
                      %option(value="r6" ng-if="user.cc") Fandango Gift Card
                      %option(value="r7" ng-if="user.cc") Lululemon Gift Card
                      %option(value="r8" ng-if="user.cc") ClassPass Gift Card
                      %option(value="r9" ng-if="user.cc") Whole Foods Market Gift Card
                      %option(value="r10" ng-if="user.cc") Target Gift Card
                      %option(value="r11" ng-if="user.cc") Dunkin Donuts Gift Card
                      %option(value="r12" ng-if="user.cc") Panera Bread Gift Card
                      %option(value="r3") Cash Money (via {{user.of.n}})
                      %option(value="r4") Other Misc (via {{user.of.n}})

                  %div(ng-if="prizeUi.benefitsRewardType != 'r4'" ng-hide="prizeUi.benefitsGoalType == 0") 
                    %p.prize-info
                      Set Amount:
                      %strong.blue(ng-if="prizeUi.benefitsRewardType != 'r3'")  {{prizeUi.benefitsCashGenerosity}}
                    / %slider.bar-green(ng-show="prizeUi.benefitsRewardType != 'r4'" floor="5" ceiling="200" step="5"  ng-model="prizeUi.benefitsCashValue" highlight="left" currency="true")
                    %input(type="range" min="5" max="200" step="5" value="prizeUi.benefitsCashGenerosity" ng-model="prizeUi.benefitsCashValue")
                    %p.blue.prize-val ${{prizeUi.benefitsCashValue}}
                        

                  .form-group(ng-if="prizeUi.benefitsRewardType == 'r4'" ng-hide="prizeUi.benefitsGoalType == 0")
                    %p.prize-info
                      Describe the reward: 
                    / %textarea.form-control.prize-prefix(ng-model="prizeUi.benefitsPrefix"){"readonly" => "readonly"}
                    %text-angular(ng-model="prizeUi.benefitsFillin" ta-toolbar="formattingOptions")


                .changes(style="text-align:center;")
                  .btn.btn-primary.btn-ci.btn-save.btn-noboarder(ng-click="setPrize()") Save Changes
                  .btn.btn-primary.btn-ci.btn-noboarder(ng-click="notifyPrize()") Update Team on New Prize     

        .panel.panel-default.row
          #headingThree.panel-heading.col-md-12.col-xs-12{:role => "tab"}
            %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button", :style => "font-size:20px;"}
              Individual #2: Challenge
            .col-md-2.col-xs-3
              .togglebutton
                %i.fa.fa-circle-o#reward-status-2
          #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
            .panel-body
              .indi(ng-class="{on:prizeUi.indiGoalType > 0}")
                .need-cc
                  %p To set individual member rewards, you need to have a credit card on file to be able to fund the rewards.
                .reward-form()
                  %br
                  %p.prize-info
                    Choose Goal Type
                  %select.form-control(ng-model="prizeUi.indiGoalType")
                    %option(value="0") None
                    %option(value="1") Daily Average
                    %option(value="2") Leaderboard Rank
                  
                  %div(ng-show='prizeUi.indiGoalType == 1')
                    %p.prize-info
                      Set Daily Average Goal:
                      %strong.blue {{prizeUi.indiGoalDifficulty}}
                    %input(type="range" min="20" max="200" step="5" value="prizeUi.indiGoalValue" ng-model="prizeUi.indiGoalValue")
                    %p.blue.prize-val {{prizeUi.indiGoalValue}} Points - {{pointToSteps(prizeUi.indiGoalValue)}} Steps (Equivalent)

                  %div(ng-show='prizeUi.indiGoalType == 2')
                    %p.prize-info
                      Set Winning Leaderboard Rank 
                      
                    %select.form-control(ng-model="prizeUi.indiGoalValue")
                      %option(value="1") First Place
                      %option(value="10") Top 3
                      %option(value="20") Top 10%
                    /    
                      %slider.bar-green(ng-show="prizeUi.indiRewardType != 'r4'" floor="5" ceiling="200" step="5"  ng-model="prizeUi.indiCashValue" highlight="left" currency="true")

                  %p.prize-info(ng-hide="prizeUi.indiGoalType == 0")
                    Select Reward Type
                  %select.form-control(ng-model="prizeUi.indiRewardType" ng-hide="prizeUi.indiGoalType == 0")
                    %option(value="r1" ng-if="!user.cc" disabled="disabled") Amazon Gift Card (disabled)
                    %option(value="r2" ng-if="!user.cc" disabled="disabled") Chipotle Gift Card (disabled)
                    %option(value="r5" ng-if="!user.cc" disabled="disabled") Starbucks Gift Card (disabled)
                    %option(value="r6" ng-if="!user.cc" disabled="disabled") Fandango Gift Card (disabled)
                    %option(value="r7" ng-if="!user.cc" disabled="disabled") Lululemon Gift Card (disabled)
                    %option(value="r8" ng-if="!user.cc" disabled="disabled") ClassPass Gift Card (disabled)
                    %option(value="r9" ng-if="!user.cc" disabled="disabled") Whole Foods Market Gift Card (disabled)
                    %option(value="r10" ng-if="!user.cc" disabled="disabled") Target Gift Card(disabled)
                    %option(value="r11" ng-if="!user.cc" disabled="disabled") Dunkin Donuts Gift Card (disabled)
                    %option(value="r12" ng-if="!user.cc" disabled="disabled") Panera Bread Gift Card (disabled)
                    %option(value="r1" ng-if="user.cc") Amazon Gift Card 
                    %option(value="r2" ng-if="user.cc") Chipotle Gift Card 
                    %option(value="r5" ng-if="user.cc") Starbucks Gift Card
                    %option(value="r6" ng-if="user.cc") Fandango Gift Card
                    %option(value="r7" ng-if="user.cc") Lululemon Gift Card
                    %option(value="r8" ng-if="user.cc") ClassPass Gift Card
                    %option(value="r9" ng-if="user.cc") Whole Foods Market Gift Card
                    %option(value="r10" ng-if="user.cc") Target Gift Card
                    %option(value="r11" ng-if="user.cc") Dunkin Donuts Gift Card
                    %option(value="r12" ng-if="user.cc") Panera Bread Gift Card
                    %option(value="r3") Cash Money (via {{user.of.n}})
                    %option(value="r4") Other Misc (via {{user.of.n}})

                  %div(ng-if="prizeUi.indiRewardType != 'r4'" ng-hide="prizeUi.indiGoalType == 0")
                    %p.prize-info
                      Set Amount:
                      %strong.blue(ng-if="prizeUi.indiRewardType != 'r3'")  {{prizeUi.indiCashGenerosity}}
                    %input(type="range" min="5" max="200" step="5" value="prizeUi.indiCashValue" ng-model="prizeUi.indiCashValue")
                    %p.blue.prize-val ${{prizeUi.indiCashValue}} 

                  .form-group(ng-if="prizeUi.indiRewardType == 'r4'")
                    %p.prize-info(ng-hide="prizeUi.indiGoalType == 0")
                      Describe the reward: 
                    .text-holder(ng-hide="prizeUi.indiGoalType == 0")
                      / %textarea.form-control.prize-prefix(ng-model="prizeUi.indiPrefix"){"readonly" => "readonly"}
                      %text-angular(ng-model="prizeUi.indiFillin" ta-toolbar="formattingOptions")
                .changes(style="text-align:center;")
                  .btn.btn-primary.btn-ci.btn-save.btn-noboarder(ng-click="setPrize()") Save Changes
                  .btn.btn-primary.btn-ci.btn-noboarder(ng-click="notifyPrize()") Update Team on New Prizes

        .panel.panel-default.row
          #headingFour.panel-heading.col-md-12.col-xs-12{:role => "tab"}
            %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button", :style => "font-size:20px;"}
              Team Challenge
            .col-md-2.col-xs-3
              .togglebutton
                %i.fa.fa-circle-o#reward-status-3
          #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
            .panel-body
              .team-section(ng-class="{on:prizeUi.teamGoalType > 0}")
                .reward-form()
                  %br
                  %p.prize-info
                    Choose Goal Type
                  %select.form-control(ng-model="prizeUi.teamGoalType")
                    %option(value="0") None
                    %option(value="1") Daily Average
                    %option(value="2") Leaderboard Rank
                    
                  %div(ng-show="prizeUi.teamGoalType == 1")
                    %p.prize-info
                      Set Daily Average Goal:
                      %strong.blue {{prizeUi.teamGoalDifficulty}}
                    %input(type="range" min="20" max="200" step="5" value="prizeUi.teamGoalValue" ng-model="prizeUi.teamGoalValue")
                    %p.blue.prize-val {{prizeUi.teamGoalValue}} Points - {{pointToSteps(prizeUi.teamGoalValue)}} Steps (Equivalent)

                  %div(ng-show='prizeUi.teamGoalType == 2')
                    %p.prize-info
                      Set Winning Leaderboard Rank 
                      
                    %select.form-control(ng-model="prizeUi.teamGoalValue")
                      %option(value="1") First Place
                      %option(value="10") Top 3
                      %option(value="20") Top 10%
    
                  %p.prize-info(ng-hide="prizeUi.teamGoalType == 0")
                    Describe the Reward
                  .text-holder(ng-hide="prizeUi.teamGoalType == 0")
                    / %textarea.form-control.prize-prefix(ng-model="prizeUi.teamPrefix"){"readonly" => "readonly"}
                    %text-angular(ng-model="prizeUi.teamRewardDesc" ta-toolbar="formattingOptions")

                .changes(style="text-align:center;")
                  .btn.btn-primary.btn-ci.btn-save.btn-noboarder(ng-click="setPrize()") Save Changes
                  .btn.btn-primary.btn-ci.btn-noboarder(ng-click="notifyPrize()") Update Team on New Prizes

        .panel.panel-default.row         
          #headingTwo.panel-heading.col-md-12.col-xs-12{:role => "tab"}
            %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button", :style => "font-size:20px;"}
              Group Challenge
            .col-md-2.col-xs-3
              .togglebutton
                %i.fa.fa-circle-o#reward-status-4
          #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
            .panel-body
              -# BEGIN GROUP SECTION
              .indi(ng-class="{on:prizeUi.companyGoalType > 0}")
                .reward-form()
                  %br
                  %p.prize-info
                    Choose Goal Type
                  %select.form-control(ng-model="prizeUi.companyGoalType")
                    %option(value="0") None
                    %option(value="1") Daily Average
                  %div(ng-show="prizeUi.companyGoalType == 1")
                    %p.prize-info
                      Set Daily Average Goal:
                      %strong.blue {{prizeUi.companyGoalDifficulty}}
                    %input(type="range" min="5" max="200" step="5" value="prizeUi.companyGoalValue" ng-model="prizeUi.companyGoalValue")
                    %p.blue.prize-val {{prizeUi.companyGoalValue}} Points - {{pointToSteps(prizeUi.companyGoalValue)}} Steps (Equivalent)

                    %p.prize-info
                      Describe the Reward
                    .text-holder
                      / %textarea.form-control.prize-prefix(ng-model="prizeUi.companyPrefix"){"readonly" => "readonly"}
                      %text-angular(ng-model="prizeUi.companyRewardDesc" ta-toolbar="formattingOptions")
                .changes(style="text-align:center;")
                  .btn.btn-primary.btn-ci.btn-save.btn-noboarder(ng-click="setPrize()") Save Changes
                  .btn.btn-primary.btn-ci.btn-noboarder(ng-click="notifyPrize()") Update Team on New Prizes
