
.invite()

/ .row
/   .col-md-12.hidden-sm.hidden-xs
/     .subnav
/       .subnav_item
        
/       .subnav_item.nolink
/         Custom invitations for 
/         %span(style="font-weight:bold")
/           {{user.of.n}}
     

.row
  .main_panel.col-md-12.col-sm-12.col-xs-12()
    .col-md-12(ng-hide="user.emailValid")
      /.alert.alert-warning
      %p
        Please 
        %button.btn.btn-ci.btn-info.btn-sm(ng-hide="user.emailValid" ng-click="sendEmailConfirmation()") Verify Email
        prior to enabling invites.

      %p.alert.alert-success(ng-show="confirmResult")
        {{confirmResult}} 
        
    .col-md-12(ng-hide="!user.emailValid")
      %p
        Copy the invitation link below.
      .form-inline
        .form-group
          %input.form-control#invite-link(value="{{inviteLink}}" )
        .form-group
          .btn.btn-ci.btn-primary(ngclipboard data-clipboard-target="#invite-link")
            Copy Link
            %i.fa.fa-clipboard
      %br
      %p(style="font-weight:bold")
        or
      %p
        Send witty, automated email to your coworkers.
      %form(role="form")
        .form-group
          %textarea.form-control#emails(rows=3 ng-model="invites.emails" ng-disabled="!user.emailValid" placeholder="Enter one or more email addresses separated by commas" style="resize: none;")
          / %p.help-block .
        .form-group
          %button.btn.btn-primary.btn-ci(ng-click="sendInvites()" ng-disabled="!user.emailValid") Send
          %a.href.btn.btn-default.btn-ci(ng-if="backUrl" ng-href="/#/{{backUrl}}") Cancel

  .row
    .col-md-12
      .alert.alert-info(ng-if="ui.message != null")
        {{ui.message}}
        %div(ng-if="backUrl")
          %a.href.btn.btn-primary.btn-ci(ng-href="/#/{{backUrl}}") Done
