%div(ng-if="!user.admin && isPro == false")
  %h4 Group does not have a Pro Plan
  
  
%div(ng-if="user.admin || isPro == true")

  :css
    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      font-size: 16px;
      resize: none;
      transition: all 1.0s ease-in-out;
    }
    textarea:focus {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #00adef;
      border-radius: 4px;
      outline: none;
      background-color: #fff;
      font-size: 16px;
      resize: none;
      transition: all 1.0s ease-in-out;
    }

  %p Fire up the troops! Send an email update to your Count.It users.
  %br
  .row
    .col-md-9
      %textarea(type="text" size="40" placeholder="Enter message..." ng-model="in.text")
      %br
      %br
  .row
    .col-md-4(style="")
      %a{:href => ""}
        .btn.btn-open.btn-new.btn-md(ng-click="slackChat()") Send Message





