%div(ng-if="!user.of.nitro")
  %h1 Upgrade Now
  %p 
    This featute is available when you upgrade to 
    %strong Count It PRO.

  %p 
    What is 
    %strong Count It Pro?  
    Click below to find out more!

  %a.btn.btn-success.btn-pro.btn-ci(ng-href="#/pro")
    Find Out More

%div(ng-if="user.of.nitro && !user.boss && !user.manager")
  %h1 PRO Settings
  %p 
    Whoops! To access your Group's PRO settings, you need to be a Group Captain. Please contact your Captain (below) to get promoted, or have them make the changes.


  .captain
    %p.captain-title
      %strong(ng-if="captains.length == 1") Team Captain
      %strong(ng-if="captains.length > 1") Team Captains

    .captain-holder(ng-repeat="captain in captains")
      %i.fa.fa-star
      %span.captain-name
        %a(ng-href="#/user/{{captain.id}}")
          {{captain.fullName}}

