%div(ng-show="!user.admin && isPro == false")
  %h4 Group does not have a Pro Plan

%div(ng-show="user.admin || isPro == true")
  .row
    .col-md-12
      .panel.panel-default.settings-controlpanel
        .panel-body
          .col-md-12
            %h4 Joining Teams
            %form
              .form-group
                .checkbox
                  -# TODO: Can we fix this rediculous checkbox notation?
                  %input#userAddSelves(type="checkbox" ng-model="usersAddThemselves")
                    %label(for="userAddSelves")
                  %span(style="padding-left: 32px;")
                    Let users add themselves to teams
                /
                  .checkbox
                    %input#multipleTeams(type="checkbox" disabled)
                      %label(for="multipleTeams")
                    %span(style="padding-left: 32px;")
                      Let users join multiple teams
            %h4.with-v-space Creating Teams
            %form
              .form-group
                .radio-inline
                  %input(type="radio" name="crmode" id="crmodeAdminOnly" value="CR_ADM" ng-model="opts.fcreate")
                  %label.lbl(for="crmodeAdminOnly")
                    Admin Only
                .radio-inline
                  %input(type="radio" name="crmode" id="crmodeAny" value="CR_ALL" ng-model="opts.fcreate")
                  %label.lbl(for="crmodeAny")
                    Users can create teams

  .row(style="padding-top: 1.5em;")
    .col-md-4
      %div(ng-show="optsOrig.changed")
        %button.btn.btn-ci.btn-primary.btn-sm(ng-click="saveOptsChanges()") Save Changes
        %button.btn.btn-ci.btn-default.btn-sm(ng-click="undoOptsChanges()") Revert

  .row.semi-spacious
    .col-md-12
      .panel.panel-default.settings-controlpanel
        .panel-body
          %table.table
            %thead
              %th
              %th.right Members
              %th.center Active
              %th.center Public
              %th
            %tbody
              %tr(ng-repeat="faction in factions" ng-mouseenter="setHover($index)" ng-mouseleave="setHover(-1)")
                -# Prompting for DELETE
                -#
                %td(ng-show="editRow==$index && editOp=='delete'" colspan="4")
                  .alert.alert-danger
                    Please confirm delete of team <strong>{{faction.n}}</strong>.
                    {{faction.size}} {{faction.size == 1 ? 'member' : 'members'}} will be teamless as a result. <br />
                    %button.btn.btn-ci.btn-primary.btn-sm(ng-click="confirmEdit()") Delete
                    %button.btn.btn-ci.btn-default.btn-sm(ng-click="cancelEdits()") Cancel

                -# EDIT/RENAME
                -#
                %td(ng-show="editRow==$index && editOp=='rename'" colspan="4")
                  %input(type="text" ng-model="faction.n")
                  %button.btn.btn-ci.btn-primary.btn-sm(ng-click="confirmEdit()") Save
                  %button.btn.btn-ci.btn-default.btn-sm(ng-click="cancelEdits()") Cancel

                -# Regular user table:
                -#
                %td(ng-hide="editRow == $index")
                  {{faction.n}}
                %td.right(ng-hide="editRow == $index")
                  {{faction.size}}

                %td.center(ng-hide="editRow == $index")
                  %a(href ng-href ng-click="doToggleActive($index)")
                    %li.fa.fa-star(ng-show="faction.active == 1")  Active
                    %li.fa.fa-star-o(ng-show="faction.active != 1")  Inactive

                %td.center(ng-hide="editRow == $index")
                  %a(href ng-href ng-click="doTogglePublic($index)")
                    %li.fa.fa-star(ng-show="faction.public == 1")  Public
                    %li.fa.fa-star-o(ng-show="faction.public != 1")  Private

                %td(ng-hide="editRow == $index")
                  %div
                    %a(href ng-href ng-click="doEdit($index)" ng-class="{ toolhidden: !(hoverRow == $index) }")
                      %li.fa.fa-edit
                    %a(href ng-href ng-click="promptDelete($index)" ng-class="{ toolhidden: !(hoverRow == $index) }")
                      %li.fa.fa-trash

          .row
            .col-md-12
              %input(type="text" placeholder="new team name" ng-model="newFaction")
              %button.btn.btn-default.btn-sm(ng-click="addFaction()" ng-class="{disabled:!newFaction}")
                %li.fa.fa-plus-square
                  Create
