%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid #00adef;
          transition: all 1.0s ease-in-out;

      }

      ::-webkit-input-placeholder {
         font-size: 25px;
      }

      ::-moz-input-placeholder {
         font-size: 25px;
      }

      input[type=text]:focus {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          outline: none;
          transition: all 1.0s ease-in-out;
          border-bottom: 2px solid #2ecc71;
      }


.top-nav{:role => "navigation", :style => "border-bottom: 1px solid #d7d7d7; max-width:1700px; padding-top: 2px; margin-top:1px;"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button", }
      %i.fa.fa-bars
    %a.navbar-brand{ :href => "/#/"}
      %img.img-responsive{:height => "150", :src => "./images/count-it-dot.png", :width => "150", :style => "margin-top: -7px; margin-left: 60px;"}
    / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    %ul.nav.navbar-nav
      / Hidden li included to remove active class from about link when scrolled up past about section
      %li
        %a.page-scroll{:href => "/#/slack"}
          %img.img-responsive{:src => "./images/slacklogo.png", :height => "25", :width =>"25", :style => "margin-top:-6px; margin-right: 5px;"} 
          %span Add to Slack!
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/trackers"} Trackers Guide
      %hr.hidden-sm.hidden-md.hidden-lg
      %li
        %a.page-scroll{:href => "/#/pro"} PRO Features
        /
      %hr.hidden-sm.hidden-md.hidden-lg
      
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/create", :style => ""}
          %strong Join 
      %li(ng-if="user")
        %a.page-scroll{:href => "/#/team", :style => ""}
          %strong Home
      %hr.hidden-sm.hidden-md.hidden-lg 
      %li.hidden-xs.hidden-sm
        %a{:style => "padding-left:2px;padding-right:2px; margin-top: -15px;"}
        |
      %li(ng-if="!user")
        %a.page-scroll{:href => "/#/login"} Login
      %li(ng-if="user")
        %a{:href => "#/me", :style => ""}
          {{user.f}}

.wearable{:style => "height: 200px; background-color:#1abc9c"}      
  .col-xs-8.col-xs-offset-2
    %div{:style => "height:50px;"}
    %div.hidden-lg.hidden-md.hidden-sm{:style => "height: 125px;"}
    %h1{:style => "color:white;  font-family: 'AvantGarde-Demi',  sans-serif; font-size: 60px; text-align:center;"} Count.It Slack Broadcast
    /%h4{:style => "text-align:center; color:white; font-size: 50px; padding-top: 10px; font-family:'AvantGarde-Demi',  sans-serif;"} Wearables Guide
    %h3{:style => "color: #555555; font-weight: 100; color:white; font-size: 21px; text-align:center; margin-top: -2px;"} Spread the word. ðŸ—£ðŸ’
.container-fluid
  .row(style="padding-top: 2em;")

.row
  .col-md-6.col-md-offset-3
    %div{:style => "height:25px;"}
    %h4{:style => "text-align:center;"} With great power comes great responsibility. 
    %br
    %br

    %input(type="text" size="40" placeholder="enter office ID" ng-model="in.oid")

    %textarea(type="text" style="width:100%; height:200px;" size="400" placeholder="Enter slack message..." ng-model="in.text")
    %br
  

  .col-md-3
    %div{:style => "height:40px;"}
    %h4 Last Message:
    %h4{:style => "color:#2ecc71;"} {{lastday}}
    %h4 Next Message:
    %h4{:style => "color:#2ecc71;"} {{nextday}}
    %br
    %h4{:style => "color:black;"} Direct to ONE OFFICE
    %a{:href => ""}
      .btn.btn-open.btn-new.btn-md(ng-click="slackChat()") Send Message

    %br
    %br
    %h4{:style => "color:red;"} Direct to EVERYONE
    %p This goes to everyone. 
    %a{:href => ""}
      .btn.btn-open.btn-new.btn-md(ng-click="godMic()") God Mic Message

%div{:style => "height:100px;"}



