%h1 Pro Groups

.row(style="padding-top: 2em;")
  .col-md-12
    %table.table.table-condensed
      %thead
        %th name
        %th plan
        %th starts
        %th ends
        %th duration
        %th $ per user
        %th users 
        %th active 
        %th invite link

      %tbody
        %tr(ng-repeat-start="group in progroups"
            ng-class="{'bg-success': group.plan_valid, 'bg-warning': !group.plan_valid }" )
          %td {{ group.name }}
          %td {{ group.plan }}
          %td {{ group.billing_starts }}
          %td {{ group.billing_expiration }}
          %td {{ group.billing_duration }} months
          %td $ {{ group.user_permonth }} .00
          %td {{group.total_users}}
          %td {{ group.active_users}} 
          %td 
            %a(ngclipboard data-clipboard-text="{{ group.invite_link }}" ng-click="link_copied_msg(group.name)")
              %i.fa.fa-clipboard

        %tr(ng-if="group.promo"  ng-repeat-end )
          %td
          %td
          %td(ng-class="{'bg-success': group.plan_valid, 'bg-warning': !group.plan_valid }" ) {{ group.promo_start }}
          %td(ng-class="{'bg-success': group.plan_valid, 'bg-warning': !group.plan_valid }" ) {{ group.promo_end }}
          %td(ng-class="{'bg-success': group.plan_valid, 'bg-warning': !group.plan_valid }" ) 
            (promo period)
          %td
          %td
          %td