.prizes(ng-if="!user.admin && isPro == false")
  %h4 Group does not have a Pro Plan
  
.prizes(ng-if="user.admin || isPro == true")
  .row 
    
    .col-md-10
      %div
        %p Set up one or more goal-and-reward combinations, for individuals, teams, or the group a whole.
      #rcorners2
        #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default.row
            #headingOne.panel-heading.col-md-12.col-xs-12{:role => "tab"}
              %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button", :style => "font-size:20px;"}
                Individual #1: Basic Activity Benefit
              .col-md-2.col-xs-3
                .togglebutton
                  %i.fa.fa-circle-o#reward-status-1
            #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .panel-body
                .benefits(ng-class="{on:prizeUi.benefitsGoalType > 0}")
                  .reward-form()
                    %br
                    %p.prize-info
                      Choose Goal Type
                    %select.form-control(ng-model="prizeUi.benefitsGoalType")
                      %option(value="0") None
                      %option(value="1") Average Count It Score
                    %div(ng-show='prizeUi.benefitsGoalType == 1')
                      %p.prize-info
                        Set Count It Score Goal:
                        %strong.blue {{prizeUi.benefitsGoalDifficulty}}
                        / %slider.bar-blue(floor="20" ceiling="200" step="5"  ng-model="prizeUi.benefitsGoalValue" highlight="left")
                      %input(type="range" min="20" max="200" step="5" value="prizeUi.benefitsGoalValue" ng-model="prizeUi.benefitsGoalValue")
                      %p.blue.prize-val {{prizeUi.benefitsGoalValue}}

                    %div(ng-hide="prizeUi.benefitsGoalType == 0")
                      %p.prize-info
                        Select Reward Type
                      %select.form-control(ng-model="prizeUi.benefitsRewardType")
                        %option(value="r1" ng-if="!user.cc" disabled="disabled") Amazon Gift Card (disabled)
                        %option(value="r2" ng-if="!user.cc" disabled="disabled") Chipotle Gift Card (disabled)
                        %option(value="r5" ng-if="!user.cc" disabled="disabled") Starbucks Gift Card (disabled)
                        %option(value="r6" ng-if="!user.cc" disabled="disabled") Fandango Gift Card (disabled)
                        %option(value="r7" ng-if="!user.cc" disabled="disabled") Lululemon Gift Card (disabled)
                        %option(value="r8" ng-if="!user.cc" disabled="disabled") ClassPass Gift Card (disabled)
                        %option(value="r9" ng-if="!user.cc" disabled="disabled") Whole Foods Market Gift Card (disabled)
                        %option(value="r10" ng-if="!user.cc" disabled="disabled") Target Gift Card(disabled)
                        %option(value="r11" ng-if="!user.cc" disabled="disabled") Dunkin Donuts Gift Card (disabled)
                        %option(value="r12" ng-if="!user.cc" disabled="disabled") Panera Bread Gift Card (disabled)
                        %option(value="r1" ng-if="user.cc") Amazon Gift Card 
                        %option(value="r2" ng-if="user.cc") Chipotle Gift Card 
                        %option(value="r5" ng-if="user.cc") Starbucks Gift Card
                        %option(value="r6" ng-if="user.cc") Fandango Gift Card
                        %option(value="r7" ng-if="user.cc") Lululemon Gift Card
                        %option(value="r8" ng-if="user.cc") ClassPass Gift Card
                        %option(value="r9" ng-if="user.cc") Whole Foods Market Gift Card
                        %option(value="r10" ng-if="user.cc") Target Gift Card
                        %option(value="r11" ng-if="user.cc") Dunkin Donuts Gift Card
                        %option(value="r12" ng-if="user.cc") Panera Bread Gift Card
                        %option(value="r3") Cash Money (via {{user.of.n}})
                        %option(value="r4") Other Misc (via {{user.of.n}})

                    %div(ng-if="prizeUi.benefitsRewardType != 'r4'" ng-hide="prizeUi.benefitsGoalType == 0") 
                      %p.prize-info
                        Set Amount:
                        %strong.blue(ng-if="prizeUi.benefitsRewardType != 'r3'")  {{prizeUi.benefitsCashGenerosity}}
                      / %slider.bar-green(ng-show="prizeUi.benefitsRewardType != 'r4'" floor="5" ceiling="200" step="5"  ng-model="prizeUi.benefitsCashValue" highlight="left" currency="true")
                      %input(type="range" min="5" max="200" step="5" value="prizeUi.benefitsCashGenerosity" ng-model="prizeUi.benefitsCashValue")
                      %p.blue.prize-val ${{prizeUi.benefitsCashValue}} 
                          

                    .form-group(ng-if="prizeUi.benefitsRewardType == 'r4'" ng-hide="prizeUi.benefitsGoalType == 0")
                      %p.prize-info
                        Describe the reward: 
                      / %textarea.form-control.prize-prefix(ng-model="prizeUi.benefitsPrefix"){"readonly" => "readonly"}
                      %textarea.form-control(ng-model="prizeUi.benefitsFillin")


                  .changes(style="text-align:center;")
                    .btn.btn-primary.btn-ci.btn-save(ng-click="setPrize()") Save Changes
                    .btn.btn-primary.btn-ci(ng-click="notifyPrize()") Update Team on New Prize     

          .panel.panel-default.row
            #headingThree.panel-heading.col-md-12.col-xs-12{:role => "tab"}
              %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button", :style => "font-size:20px;"}
                Individual #2: Challenge
              .col-md-2.col-xs-3
                .togglebutton
                  %i.fa.fa-circle-o#reward-status-2
            #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .panel-body
                .indi(ng-class="{on:prizeUi.indiGoalType > 0}")
                  .need-cc
                    %p To set individual member rewards, you need to have a credit card on file to be able to fund the rewards.
                  .reward-form()
                    %br
                    %p.prize-info
                      Choose Goal Type
                    %select.form-control(ng-model="prizeUi.indiGoalType")
                      %option(value="0") None
                      %option(value="1") Average Count It Score
                      %option(value="2") Leaderboard Rank
                    
                    %div(ng-show='prizeUi.indiGoalType == 1')
                      %p.prize-info
                        Set Count It Score Goal:
                        %strong.blue {{prizeUi.indiGoalDifficulty}}
                      %input(type="range" min="20" max="200" step="5" value="prizeUi.indiGoalValue" ng-model="prizeUi.indiGoalValue")
                      %p.blue.prize-val {{prizeUi.indiGoalValue}}

                    %div(ng-show='prizeUi.indiGoalType == 2')
                      %p.prize-info
                        Set Winning Leaderboard Rank 
                        
                      %select.form-control(ng-model="prizeUi.indiGoalValue")
                        %option(value="1") First Place
                        %option(value="10") Top 3
                        %option(value="20") Top 10%
                      /    
                        %slider.bar-green(ng-show="prizeUi.indiRewardType != 'r4'" floor="5" ceiling="200" step="5"  ng-model="prizeUi.indiCashValue" highlight="left" currency="true")

                    %p.prize-info(ng-hide="prizeUi.indiGoalType == 0")
                      Select Reward Type
                    %select.form-control(ng-model="prizeUi.indiRewardType" ng-hide="prizeUi.indiGoalType == 0")
                      %option(value="r1" ng-if="!user.cc" disabled="disabled") Amazon Gift Card (disabled)
                      %option(value="r2" ng-if="!user.cc" disabled="disabled") Chipotle Gift Card (disabled)
                      %option(value="r5" ng-if="!user.cc" disabled="disabled") Starbucks Gift Card (disabled)
                      %option(value="r6" ng-if="!user.cc" disabled="disabled") Fandango Gift Card (disabled)
                      %option(value="r7" ng-if="!user.cc" disabled="disabled") Lululemon Gift Card (disabled)
                      %option(value="r8" ng-if="!user.cc" disabled="disabled") ClassPass Gift Card (disabled)
                      %option(value="r9" ng-if="!user.cc" disabled="disabled") Whole Foods Market Gift Card (disabled)
                      %option(value="r10" ng-if="!user.cc" disabled="disabled") Target Gift Card(disabled)
                      %option(value="r11" ng-if="!user.cc" disabled="disabled") Dunkin Donuts Gift Card (disabled)
                      %option(value="r12" ng-if="!user.cc" disabled="disabled") Panera Bread Gift Card (disabled)
                      %option(value="r1" ng-if="user.cc") Amazon Gift Card 
                      %option(value="r2" ng-if="user.cc") Chipotle Gift Card 
                      %option(value="r5" ng-if="user.cc") Starbucks Gift Card
                      %option(value="r6" ng-if="user.cc") Fandango Gift Card
                      %option(value="r7" ng-if="user.cc") Lululemon Gift Card
                      %option(value="r8" ng-if="user.cc") ClassPass Gift Card
                      %option(value="r9" ng-if="user.cc") Whole Foods Market Gift Card
                      %option(value="r10" ng-if="user.cc") Target Gift Card
                      %option(value="r11" ng-if="user.cc") Dunkin Donuts Gift Card
                      %option(value="r12" ng-if="user.cc") Panera Bread Gift Card
                      %option(value="r3") Cash Money (via {{user.of.n}})
                      %option(value="r4") Other Misc (via {{user.of.n}})

                    %div(ng-if="prizeUi.indiRewardType != 'r4'" ng-hide="prizeUi.indiGoalType == 0")
                      %p.prize-info
                        Set Amount:
                        %strong.blue(ng-if="prizeUi.indiRewardType != 'r3'")  {{prizeUi.indiCashGenerosity}}
                      %input(type="range" min="5" max="200" step="5" value="prizeUi.indiCashValue" ng-model="prizeUi.indiCashValue")
                      %p.blue.prize-val ${{prizeUi.indiCashValue}} 

                    .form-group(ng-if="prizeUi.indiRewardType == 'r4'")
                      %p.prize-info(ng-hide="prizeUi.indiGoalType == 0")
                        Describe the reward: 
                      .text-holder(ng-hide="prizeUi.indiGoalType == 0")
                        / %textarea.form-control.prize-prefix(ng-model="prizeUi.indiPrefix"){"readonly" => "readonly"}
                        %textarea.form-control(ng-model="prizeUi.indiFillin")
                  .changes(style="text-align:center;")
                    .btn.btn-primary.btn-ci.btn-save(ng-click="setPrize()") Save Changes
                    .btn.btn-primary.btn-ci(ng-click="notifyPrize()") Update Team on New Prizes

          .panel.panel-default.row
            #headingFour.panel-heading.col-md-12.col-xs-12{:role => "tab"}
              %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button", :style => "font-size:20px;"}
                Team Challenge
              .col-md-2.col-xs-3
                .togglebutton
                  %i.fa.fa-circle-o#reward-status-3
            #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .panel-body
                .team-section(ng-class="{on:prizeUi.teamGoalType > 0}")
                  .reward-form()
                    %br
                    %p.prize-info
                      Choose Goal Type
                    %select.form-control(ng-model="prizeUi.teamGoalType")
                      %option(value="0") None
                      %option(value="1") Average Count It Score
                      %option(value="2") Leaderboard Rank
                      
                    %div(ng-show="prizeUi.teamGoalType == 1")
                      %p.prize-info
                        Set Count It Score Goal
                        %strong.blue {{prizeUi.teamGoalDifficulty}}
                      %input(type="range" min="20" max="200" step="5" value="prizeUi.teamGoalValue" ng-model="prizeUi.teamGoalValue")
                      %p.blue.prize-val {{prizeUi.teamGoalValue}}

                    %div(ng-show='prizeUi.teamGoalType == 2')
                      %p.prize-info
                        Set Winning Leaderboard Rank 
                        
                      %select.form-control(ng-model="prizeUi.teamGoalValue")
                        %option(value="1") First Place
                        %option(value="10") Top 3
                        %option(value="20") Top 10%
      
                    %p.prize-info(ng-hide="prizeUi.teamGoalType == 0")
                      Describe the Reward
                    .text-holder(ng-hide="prizeUi.teamGoalType == 0")
                      / %textarea.form-control.prize-prefix(ng-model="prizeUi.teamPrefix"){"readonly" => "readonly"}
                      %textarea.form-control(rows=3 ng-model="prizeUi.teamRewardDesc" placeholder="")

                  .changes(style="text-align:center;")
                    .btn.btn-primary.btn-ci.btn-save(ng-click="setPrize()") Save Changes
                    .btn.btn-primary.btn-ci(ng-click="notifyPrize()") Update Team on New Prizes

          .panel.panel-default.row         
            #headingTwo.panel-heading.col-md-12.col-xs-12{:role => "tab"}
              %h4.panel-title.a.collapsed.col-md-10.col-xs-9{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button", :style => "font-size:20px;"}
                Group Challenge
              .col-md-2.col-xs-3
                .togglebutton
                  %i.fa.fa-circle-o#reward-status-4
            #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
              .panel-body
                -# BEGIN GROUP SECTION
                .indi(ng-class="{on:prizeUi.companyGoalType > 0}")
                  .reward-form()
                    %br
                    %p.prize-info
                      Choose Goal Type
                    %select.form-control(ng-model="prizeUi.companyGoalType")
                      %option(value="0") None
                      %option(value="1") Average Count It Score
                    %div(ng-show="prizeUi.companyGoalType == 1")
                      %p.prize-info
                        Set Count It Score Goal
                        %strong.blue {{prizeUi.companyGoalDifficulty}}
                      %input(type="range" min="5" max="200" step="5" value="prizeUi.companyGoalValue" ng-model="prizeUi.companyGoalValue")
                      %p.blue.prize-val {{prizeUi.companyGoalValue}}

                      %p.prize-info
                        Describe the Reward
                      .text-holder
                        / %textarea.form-control.prize-prefix(ng-model="prizeUi.companyPrefix"){"readonly" => "readonly"}
                        %textarea.form-control(rows=3 ng-model="prizeUi.companyRewardDesc" placeholder="")
                  .changes(style="text-align:center;")
                    .btn.btn-primary.btn-ci.btn-save(ng-click="setPrize()") Save Changes
                    .btn.btn-primary.btn-ci(ng-click="notifyPrize()") Update Team on New Prizes
  /
    .col-md-3.hidden-sm.hidden-xs
      .center.animated.fadeIn(ng-show="prizeUi.indiGoalType > 0")
        .box-title.cen
          Individual Reward <br>
          Budget Calculator
        
        .plan-box()
          .plan-circle
            .plan-inner-circle.bot
              %img(height="80" src="/images/bot-big-white.png")
          .plan-info
            .calc
              %p If all {{plan.ucount}} of users:
              %p
                %strong
                  {{ (prizeUi.indiCashValue * plan.ucount)|currency }}
            .calc
              %p If avg. % of users:
              %p
                %strong
                  {{ (office.likelyHit * prizeUi.indiCashValue)|currency }}
 
