%h1 Points Log
.row
  .col-md-12
    %input(type="text" size="40" placeholder="user ident" ng-model="in.userident")
    %button.btn.btn-default.btn-sm(ng-click="loadLog()") Load

.row
  .col-md-12
    %table.table.table-condensed
      %thead
        %th sys time
        %th act date
        %th act
        %th.numeric score
        %th.numeric adj
        %th.numeric total
      %tbody(style="font-size: 9pt; font-family: Monaco, monospace")
        %tr(ng-repeat="entry in entries")
          %td {{ entry.sysTime|date:'yyyy-MM-dd H:mm:ss a'}}
          %td {{ entry.d }}
          %td {{ entry.a }}
          %td.numeric {{ convert_score(entry.r) }}
          %td.numeric {{ convert_score(entry.j) }}
          %td.numeric {{ convert_score(entry.p) }}
