.setup-office.animated.fadeIn

  .row
    .col-md-7
        
      %div
        %div
          One more step to finalize connection of Count.It to the 
          %b {{user.of.n}} 
          Slack.  
        %p
        %ul
          %li Get notifications from Count.It in the Slack channel of your choice
          %li Check the Count.It leaderboard and your challenge status within Slack 
          %li Login to Count.It with one click Slack button! 
          

      .row.do-create.animated.fadeIn.clearfix(style="margin-top:25px;")
        .col-xs-12
          %a.btn.slack-btn(href="https://slack.com/oauth/authorize?scope=incoming-webhook,chat:write:bot,commands,users:read,team:read&client_id={{slack_client_id}}&state={{user.oid}}&redirect_uri={{slack_redirect_uri}}&page=setup")
            %img.img-responsive(alt="Complete Slack Integration" src="/images/add_to_slack.png" style="height:50px;")
          %a.reset.btn.btn-default.btn-ci(style="height:50px;font-size:20px;veritcal-align:middle;line-height:1.8;" ng-href="#/team" )
            skip
          
          
    .col-md-5
      .bots.hidden-xs.hidden-sm
        .bot-talk.right.animated.zoomInRight(typewrite type-delay="100" type-delay="30" blink-delay="500" text="I'll be letting you know how much butt you're kicking.")
        .bot-body.animated.bounceInRight

        .message-holder.animated.fadeIn()
          %p.bg-danger.error.animated.fadeIn(ng-show="error") {{error}}






