.select-device.animated.fadeIn
  .row
    .col-md-12
      %p
        Don't worry, if you have more than one, you can connect later via your
        %strong
          Settings
        page.

  .row
    .col-md-12
      %div(ng-include src="'#{asset_path('shared/trackers.html')}'")

  .row.no-device
    .col-md-12
      .center
        %p
          Don't have any of these?
          %a(ng-href="#/setup/moves{{routeParams}}")
            Go here.

  .cancel
    %p
      %a(ng-href="#/team{{routeParams}}")
        Skip step
