.setup-office.animated.fadeIn

  .row
    .col-md-7
      %div
        Get notifications from Count.IT in your Slack
        %br
        Check The leaderboard and your Status within Slack
        %br 
        It's Awesome !
        
      %div
        %a.btn.btn-default.btn-ci.login.relative(href="https://slack.com/oauth/authorize?scope=incoming-webhook,chat:write:bot,commands,users:read&client_id={{slack_client_id}}&state={{user.oid}}&redirect_uri={{slack_redirect_uri}}" style="padding:0px;")
          %img(alt="Complete Slack Integration" height="40" width="139" src="/images/slack_icon.png")





