%h2.blue
  Thank you for signing up!!
%h4 Your Current Pledge
%table.table-condensed
  %thead
  %tbody
    %tr
      %td created
      %td <strong>{{pledge.madeDate}}</strong>
    %tr
      %td reward
      %td <strong>{{pledge.vendor}}</strong>
    %tr
      %td pledge amount
      %td <strong>{{pledge.amount/100|currency}}</strong>
    %tr
      %td earned amount
      %td <strong>{{pledge.atStake/100|currency}}</strong> ({{pledge.pctEarned}}%)
    %tr
      %td fees
      %td
    %tr(ng-repeat="fee in pledge.fees")
      %td.pull-right {{fee.desc}}
      %td {{fee.amt/100|currency}}
    %tr
      %td total
      %td <strong>{{pledge.total/100|currency}}</strong>
    %tr
      %td on card
      %td <strong>{{pledge.card.type}} {{pledge.card.number}}</strong>
    %tr
      %td challenge ends
      %td <strong>{{pledge.dueDate}}</strong>
    %tr
      %td recurring
      %td <strong>{{(pledge.recur) ? "YES" : "NO"}}</strong>
